<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "ko">
<meta charset="UTF-8">
<head>
    <title>Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/common/chatBot.css">
</head>
<body>
    <div id="chat-container" class="closed">
        <div id="chat-header">
            <h3>Chatbot</h3>
            <button id="close-chat-button"><i class="fas fa-times"></i></button>
        </div>
        <div id="chat-log"></div>
        <div id="chat-input">
            <input type="text" id="user-input" placeholder="메세지 입력란">
            <button id="send-button"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
    <button id="open-chat-button">&#129302;</button>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("send-button").addEventListener("click", sendMessage);
            document.getElementById("open-chat-button").addEventListener("click", openChat);
            document.getElementById("close-chat-button").addEventListener("click", closeChat);
            document.getElementById("user-input").addEventListener("keydown", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    sendMessage();
                }
            });
        });

        function openChat() {
            document.getElementById("chat-container").style.display = "flex";
            document.getElementById("open-chat-button").style.display = "none";
        }

        function closeChat() {
            document.getElementById("chat-container").style.display = "none";
            document.getElementById("open-chat-button").style.display = "flex";
        }

        function sendMessage() {
            var userInput = document.getElementById("user-input").value;
            if (userInput.trim() !== "") {
                var userMessage = document.createElement("div");
                userMessage.className = "message-container";
                userMessage.innerHTML = "<div class='message user-message'>" + userInput + "</div><i class='fas fa-user message-icon'></i>";
                document.getElementById("chat-log").prepend(userMessage);
                document.getElementById("user-input").value = "";

                fetch("/bot/chat", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(userInput)
                })
                .then(response => response.json())
                .then(respon => {
                    if (respon.bubbles && respon.bubbles.length > 0) {
                        var botResponse = respon.bubbles[0].data.description;
                        var botMessage = document.createElement("div");
                        botMessage.className = "message-container";
                        botMessage.innerHTML = "<i class='fas fa-robot message-icon'></i><div class='message bot-message'>" + botResponse + "</div>";
                        document.getElementById("chat-log").prepend(botMessage);
                    } else {
                        console.error("Error: Empty response or invalid format");
                    }
                    document.getElementById("chat-log").scrollTop = document.getElementById("chat-log").scrollHeight;
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            }
        }
    </script>
</body>
</html>
