<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/5/cosmo/bootstrap.css">
<style>
</style>	
</head>
<body>

<div th:fragment="defaultModal">

 <div id="defaultModal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalTitle" class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modalText">Modal text</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <button id="modalClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>	
<script type="text/javascript">

function showModal(title, text) {
  var defaultModal = new bootstrap.Modal(document.getElementById('defaultModal'));
  document.getElementById('modalTitle').textContent = title;
  document.getElementById('modalText').textContent = text;
  defaultModal.show();
  $('#modalClose').focus();
}
</script>
</div>
</body>	
</html>
