<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
<style>
</style>	
</head>
<body>

<div th:fragment="tMap">
<div class='tMap'>
<div id="map" style="width:500px;height:350px;"></div>
</div>
<input type="hidden" th:name="latitudeOfMy" th:value="37.49958960171617"/>
<input type="hidden" th:name="longitudeOfMy" th:value="127.03009298319374"/>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>	
<script type="text/javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${apiKey})}"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=FZwV3YCJ40668SFZn6eLQ5ivmonhsQAo7WqjLAi1"></script>
<script type="text/javascript">
$(function() {
	
	let latitudeOfMy=$('input[name="latitudeOfMy"]').val();
	let longitudeOfMy=$('input[name="longitudeOfMy"]').val();
	console.log(latitudeOfMy);
	console.log(longitudeOfMy);

	var map;
	var marker_s, marker_e, waypoint, marker;
	var resultMarkerArr = [];
	//경로그림정보
	var drawInfoArr = [];
	var resultInfoArr = [];
	
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(latitudeOfMy, longitudeOfMy), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨 
    }; 

	map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
if (navigator.geolocation) {
    
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
        
        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition, message);
            
      });
    
} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
    
    var locPosition = new kakao.maps.LatLng(latitudeOfMy, longitudeOfMy),    
        message = 'geolocation을 사용할수 없어요..'
        
    displayMarker(locPosition, message);
}

// 지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition, message) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({  
        map: map, 
        position: locPosition
    }); 
    
    var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });
    
    // 인포윈도우를 마커위에 표시합니다 
    infowindow.open(map, marker);
    
    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);      
}   
		
		// 2. 시작, 도착 심볼찍기
		// 시작
		marker_s = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.402688, 127.103259),
			/* icon : "/upload/tmap/marker/pin_r_m_s.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker_s);
		// 도착
		marker_e = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.414382, 127.142571),
			/* icon : "/upload/tmap/marker/pin_r_m_e.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker_e);
		
		// 3. 경유지 심볼 찍기
		marker = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.399569, 127.103790),
			/* icon : "/upload/tmap/marker/pin_b_m_1.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker);
		
		marker = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.402748, 127.108913),
			/* icon : "/upload/tmap/marker/pin_b_m_2.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker);
		
		marker = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.397153, 127.113403),
			/* icon : "/upload/tmap/marker/pin_b_m_3.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker);
		
		marker = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.410135, 127.121210),
			/* icon : "/upload/tmap/marker/pin_b_m_4.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker);
		
		marker = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.399400, 127.123296),
			/* icon : "/upload/tmap/marker/pin_b_m_5.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker);
		
		marker = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.406327, 127.130933),
			/* icon : "/upload/tmap/marker/pin_b_m_6.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker);
		
		marker = new Tmapv2.Marker({
			position : new Tmapv2.LatLng(37.413227, 127.127337),
			/* icon : "/upload/tmap/marker/pin_b_m_7.png", */
			iconSize : new Tmapv2.Size(24, 38),
			map:map
		});
		resultMarkerArr.push(marker);
		
		// 4. 경로탐색 API 사용요청
		var routeLayer; 
		/* $("#btn_select").click(function(){ */
		$(function() {
	
			/* var searchOption = $("#selectLevel").val(); */
			var searchOption = 2;
			
			var headers = {}; 
			headers["appKey"]="FZwV3YCJ40668SFZn6eLQ5ivmonhsQAo7WqjLAi1";
			headers["Content-Type"]="application/json";
			
			var param = JSON.stringify({
				"startName" : "출발지",
				"startX" : "127.103259",
				"startY" : "37.402688",
				"startTime" : "201708081103",
				"endName" : "도착지",
				"endX" : "127.142571",
				"endY" : "37.414382",
				"viaPoints" : 
					[
					 {
						 "viaPointId" : "test01",
						 "viaPointName" : "name01",
						 "viaX" : "127.103790" ,
						 "viaY" : "37.399569" 
					 },
					 {
						 "viaPointId" : "test02",
						 "viaPointName" : "name02",
						 "viaX" : "127.108913" ,
						 "viaY" : "37.402748" 
					 },
					 {
						 "viaPointId" : "test03",
						 "viaPointName" : "name03",
						 "viaX" : "127.113403" ,
						 "viaY" : "37.397153" 
					 },
					 {
						 "viaPointId" : "test04",
						 "viaPointName" : "name04",
						 "viaX" : "127.121210" ,
						 "viaY" : "37.410135" 
					 },
					 {
						 "viaPointId" : "test05",
						 "viaPointName" : "name05",
						 "viaX" : "127.123296" ,
						 "viaY" : "37.399400" 
					 },
					 {
						 "viaPointId" : "test06",
						 "viaPointName" : "name06",
						 "viaX" : "127.130933" ,
						 "viaY" : "37.406327" 
					 },
					 {
						 "viaPointId" : "test07",
						 "viaPointName" : "name07",
						 "viaX" : "127.127337" ,
						 "viaY" : "37.413227" 
					 }
					],
				"reqCoordType" : "WGS84GEO",
				"resCoordType" : "EPSG3857",
				"searchOption": searchOption
			});
			
			$.ajax({
					method:"POST",
					url:"https://apis.openapi.sk.com/tmap/routes/routeSequential30?version=1&format=json",//
					headers : headers,
					async:false,
					data:param,
					success:function(response){
					console.log(response);
						var resultData = response.properties;
						var resultFeatures = response.features;
						
						// 결과 출력
						var tDistance = "총 거리 : " + (resultData.totalDistance/1000).toFixed(1) + "km,  ";
						var tTime = "총 시간 : " + (resultData.totalTime/60).toFixed(0) + "분,  ";
						var tFare = "총 요금 : " + resultData.totalFare + "원";
						
						$("#result").text(tDistance+tTime+tFare);
						
						//기존  라인 초기화
						
						if(resultInfoArr.length>0){
							for(var i in resultInfoArr){
								resultInfoArr[i].setMap(null);
							}
							resultInfoArr=[];
						}
						
						for(var i in resultFeatures) {
							var geometry = resultFeatures[i].geometry;
							var properties = resultFeatures[i].properties;
							var polyline_;
							
							drawInfoArr = [];
							
							if(geometry.type == "LineString") {
								for(var j in geometry.coordinates){
									// 경로들의 결과값(구간)들을 포인트 객체로 변환 
									var latlng = new Tmapv2.Point(geometry.coordinates[j][0], geometry.coordinates[j][1]);
									// 포인트 객체를 받아 좌표값으로 변환
									var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlng);
									// 포인트객체의 정보로 좌표값 변환 객체로 저장
									var convertChange = new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng);
									
									drawInfoArr.push(convertChange);
								}
	
								polyline_ = new Tmapv2.Polyline({
									path : drawInfoArr,
									strokeColor : "#FF0000",
									strokeWeight: 6,
									map : map
								});
								resultInfoArr.push(polyline_);
								
							}else{
								var markerImg = "";
								var size = "";			//아이콘 크기 설정합니다.
								
								if(properties.pointType == "S"){	//출발지 마커
									/* markerImg = "/upload/tmap/marker/pin_r_m_s.png";	 */
									size = new Tmapv2.Size(24, 38);
								}else if(properties.pointType == "E"){	//도착지 마커
									/* markerImg = "/upload/tmap/marker/pin_r_m_e.png"; */
									size = new Tmapv2.Size(24, 38);
								}else{	//각 포인트 마커
									markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
									size = new Tmapv2.Size(8, 8);
								}
								
								// 경로들의 결과값들을 포인트 객체로 변환 
								var latlon = new Tmapv2.Point(geometry.coordinates[0], geometry.coordinates[1]);
								// 포인트 객체를 받아 좌표값으로 다시 변환
								var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlon);
							  	
							  	marker_p = new Tmapv2.Marker({
							  		position: new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng),
							  		icon : markerImg,
							  		iconSize : size,
							  		map:map
							  	});
							  	
							  	resultMarkerArr.push(marker_p);
							}
						}
					},
					error:function(request,status,error){
						console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					}
				});
		});
	})
	
	function addComma(num) {
		  var regexp = /\B(?=(\d{3})+(?!\d))/g;
		   return num.toString().replace(regexp, ',');
	}


</script>
</div>
</body>	
</html>
