<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<title>신고하기</title>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/common/footer.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cosmo/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">	
	<link rel="stylesheet" href="/css/common/chatBot.css">

	<!-- 신고 폼에 데이터 넣기 -->
    <script type="text/javascript">
    	$(document).ready(function() {
    	
    	    var storedData = sessionStorage.getItem('reportData');
    	    if (storedData) {
    	        var storedReportData = JSON.parse(storedData);
    	        console.log(storedReportData);
    	    }
            var targetUserId = storedReportData.targetUserId;
            var maskedTarget = maskId(targetUserId); 
    	    
    	    var userId = storedReportData.userId;
    	    var recordNo = storedReportData.recordNo;
    	    var recordTitle = storedReportData.recordTitle;
			var replyNo = storedReportData.replyNo;
    	    var replyText = storedReportData.replyText;
			var	nickname = storedReportData.nickname;
    	    
    	    console.log("1.사용자ID :"+userId);
    	    
    	    $('#reporter').val(userId);
			$('#target').val(nickname +'('+maskedTarget+')');
			$('#recordNo').val(storedReportData.recordNo);
			$('#recordTitle').val(storedReportData.recordTitle);
			$('#replyText').val(storedReportData.replyText);
			$('#replyNo').val(storedReportData.replyNo);
            
			console.log(userId);
			console.log(recordTitle);
			console.log(replyText);

		    if (recordTitle !== null && recordTitle !== '' && recordTitle !== undefined) {
		        document.getElementById('recordTitleField').style.display = 'block';
		    } else {
		        document.getElementById('recordTitleField').style.display = 'none';
		    }

		    if (replyText !== null && replyText !== '' && replyText !== undefined) {
		        document.getElementById('replyTextField').style.display = 'block';
		    } else {
		        document.getElementById('replyTextField').style.display = 'none';
		    }
		});
        function maskId(id) {
            //처음 3글자만 노출하고 나머지를 * 처리합니다
            var maskedId = id.substring(0, 3) + '*'.repeat(id.length - 3);
            return maskedId;
        }
    </script>
	<!-- 신고 폼에 데이터 넣기 -->
	
	<!-- 신고하기 -->
	<script type="text/javascript">
	$(function() {
		$('#doReport').on("click", function() {
			event.preventDefault();
		
			var storedReportData = JSON.parse(sessionStorage.getItem('reportData'));
			var reportTitle = $('#reportTitle').val();
			var reportText = $('#reportText').val();
			var reporter = $('#reporter').val();
			
			var target = storedReportData.targetUserId;
			var recordNo = $('#recordNo').val();
			var replyNo = $('#replyNo').val();

			if(reportTitle === '' || reportText ==='') {
				alert('신고 제목과 신고내용을 입력해주세요.');
				return;
			}			
			
			var data = {
				reportTitle : reportTitle,
				reportText : reportText,
				userId : reporter,
				targetUserId : target,
				recordNo : recordNo,
				replyNo : replyNo
			};
			
			console.log(data);
			
			$.ajax({
				type : 'POST',
				url : "/community/rest/doReport",
				contentType : "application/json",
				data : JSON.stringify(data),
				success : function(response) {
					console.log("신고 완료");
					$('#reportConfirm').show();
	                $('#doRepot').find('input, textarea, button').attr('disabled', 'disabled');
	                var now = new Date();
	                var options = { year : 'numeric' , month : '2-digit', day: '2-digit',
	                				hour : '2-digit' , minute : '2-digit'};
	                var formattedTime = now.toLocaleDateString('ko-KR', options);
	                
	                $('#reportDate').text(`신고 일시 : ${formattedTime}`);
	                
	                $('#backButton').on("click", function() {
	                	window.history.back();
	                })
				}, error : function(xhr, status, error) {
					console.error("에러 발생");
				}
			});	
		});
	});
	</script>
	<!-- 신고하기 -->

	<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto'; // Reset textarea height
        textarea.style.height = textarea.scrollHeight + 'px'; // Set new height based on content
    }
	</script>


	<style>
		.bi-exclamation-circle {
			font-style : normal;
		}
	
		#header {
			background-color : #ff3838;
		}

		.form {
			border-left : 2px solid;
			border-right : 2px solid;
		}
		
		#text {
			margin-bottom : 5px;
			border-bottom : 2px solid;
		}
		
		.card-text {
			font-weight : bold;
			font-size : 15px;
		}
		
		#reportText {
			height : 100px;
		} 
		
		#reportDate {
			font-weight : bold;
		}
		
		#backButton {
			background-color : #D6BFE4;
		}
	
	</style>
</head>
<body>
    <div id="content-for-footer">
		<div class="container">
			<ul class="nav nav-pills flex-column">
				<li class="nav-item">
					<a class="nav-link active" id="header">
						<i class="bi bi-exclamation-circle"> 신고하기</i>
					</a>
				</li>
			</ul>
			<form id="doRepot" th:action="@{/community/rest/addReply}" method="post">
				<fieldset>
	  				<div class="form">
	    				<label for="reportTitle" class="form-label mt-2">신고제목</label>
						<input type="text" class="form-control" id="reportTitle" name="reportTitle" placeholder ="신고제목을 입력해주세요">
					</div>
					<div class="form">
						<label for="reporter" class="form-label mt-2">신고자</label>
						<input type="text" class="form-control" id="reporter" name="reporter" readonly>
					</div>
					<div class="form">
						<label for="target" class="form-label mt-2">신고대상</label>
						<input type="text" class="form-control" id="target" name="target" readonly>
					</div>
					<div id="recordTitleField" class="form">
						<label for="recordTitle" class="form-label mt-2">기록제목</label>
						<input type="text" class="form-control" id="recordTitle" name="recordTitle" readonly>
						<input type="hidden" id="recordNo" name="recordNo" readonly>			
					</div>
					<div id="replyTextField" class="form">
						<label for="replyText" class="form-label mt-2">댓글내용</label>
						<input type="text" class="form-control" id="replyText" name="replyText" readonly><br/>
						<input type="hidden" id="replyNo" name="replyNo" readonly><br/>
					</div>				
					<div id="text" class="form">
						<label for="reportText">신고내용</label>
						<textarea id="reportText" name="reportText" class="form-control" 
							oninput="autoResize(this)" placeholder="신고내용을 입력해주세요."></textarea>				
					</div> 
					<div class="d-grid gap-2">
						<button type ="submit" class="btn btn-primary" id = "doReport">신고하기</button>	
					</div>
				</fieldset>
			</form>	
				
			<br/>
			<div id="reportConfirm" class="card text-white bg-info" style="display : none;">
				<div class="card-body">
					<h4 class="card-title">신고완료</h4>
					<p id="reportDate"></p>
					<p class="card-text">위의 내용과 깉이 신고가 완료되었습니다.</p> 
					<p class="card-text">관리자가 내용 검토 후 처리할 예정입니다.</p>
					<p class="card-text">진행상황은 신고내용 진행상황에서 조회 가능합니다.</p>
				</div>
				<div class="d-grid gap-2">
					<button id="backButton" class="btn btn-light">돌아가기</button>
				</div>	
			</div>
		</div>
    </div>
    <div th:include="~{ 'common/chatbotModal.html' }"></div>
    <div th:replace="common/footer::defaultFooter"></div>
</body>	
</html>