<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<title>댓글</title>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/common/footer.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cosmo/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">	

	<!-- 이미지 로딩 처리 -->
	<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var replyListContainer = document.getElementById('replyListContainer');
        var replyItems = replyListContainer.getElementsByClassName('replyList');
        
        function loadImages(index) {
            if (index >= replyItems.length) return;

            var replyItem = replyItems[index];
            var images = replyItem.getElementsByTagName('img');
            var loadedImages = 0;
            var totalImages = images.length;

            function imageLoaded() {
                loadedImages++;
                if (loadedImages === totalImages) {
                    replyItem.style.opacity = '1';
                    loadImages(index + 1);
                }
            }

            if (totalImages > 0) {
                for (var i = 0; i < images.length; i++) {
                    if (images[i].complete) {
                        imageLoaded();
                    } else {
                        images[i].addEventListener('load', imageLoaded);
                        images[i].addEventListener('error', function() {
                            console.error('이미지 로딩 실패:', this.src);
                            imageLoaded();
                        });
                    }
                }
            } else {
                replyItem.style.opacity = '1';
                loadImages(index + 1);
            }
        }

        loadImages(0);
    });
    /*]]>*/
	</script>

	<!-- 댓글 작성 유조 프로필로 이동 -->
	<script th:inline="javascript">
	$(document).ready(function() {
		$(document).on("click", '.replyNickname', function() {
			var $row = $(this).closest('span.replyNickname');
			console.log($row);
			var userId = $row.data('reply-userid');
			console.log("댓글 유저:"+userId);
			var sessionId = /*[[${search.userId}]]*/''
			console.log("세션 ID :"+sessionId);
				
			if(sessionId !== userId) {
				$.ajax({
					url: '/user/rest/checkHideProfile/'+userId,
					type : "get",
					// contentType : "application/json",
					success : function(response) {
						
						if(response == false || response == 'false') {

							window.location.href='/user/getProfile?userId='+userId;
							return;
							
						} else {
							
							alert('해당 사용자의 프로필에는 접근하실 수 없습니다.');
							return;
						}						
					},
					error : function(jqXHR, textStatus, errorThrown) {
						alert('오류 발생 : ' + jqXHR.responseText)
					}
				});
				} else {
					window.location.href='/user/getProfile?userId='+userId;
				}				
		});
		
		$(document).on("click", '.profileImage', function() {
		    var $h6 = $(this).closest('h6');
		    var userId = $h6.find('.replyNickname').data('reply-userid');
			console.log("댓글 유저:"+userId);
			var sessionId = /*[[${search.userId}]]*/''
				console.log("세션 ID :"+sessionId);
				
			if(sessionId !== userId) {			
		
			$.ajax({
				url: '/user/rest/checkHideProfile/'+userId,
				type : "get",
				// contentType : "application/json",
				success : function(response) {
					
					if(response == false || response == 'false') {

						window.location.href='/user/getProfile?userId='+userId;
						return;
						
					} else {
						
						alert('해당 사용자의 프로필에는 접근하실 수 없습니다.');
						return;
					}						
				},
				error : function(jqXHR, textStatus, errorThrown) {
					alert('오류 발생 : ' + jqXHR.responseText)
				}
			});
			} else {
				window.location.href='/user/getProfile?userId='+userId;
			}
		});	
	}); 
	</script>	
	
	<!-- 댓글 작성 시작 -->
	<script th:inline="javascript">
	$(document).ready(function() {
		$('#replyForm').submit(function(event) {
			event.preventDefault();
			$('.btn-success').prop('disabled', true);
			
			var userId = /*[[${search.userId}]]*/ 		
			console.log("1.userId 확인 : "+userId);
			var formData = new FormData(this);
			var replyText = $('#replyText').val().trim();
						
			if(replyText === '') {
				alert('댓글 내용을 입력해주세요');
				$('.btn-success').prop('disabled', false);
				return;
			}

			var recordNo = $('#recordNo').val();
			console.log("2.기록번호 확인 : "+recordNo);
			formData.append("recordNo", recordNo);
			formData.append("userId", userId);
            
			var reply = {
				recordNo : recordNo,
				userId : userId,
				replyText : replyText,
				replyImageName : replyImageName
			};
			formData.append("reply", JSON.stringify(reply));
			
			console.log("폼 데이터: ",formData);
			
			$.ajax({
				type : 'POST',
				url: '/community/rest/addReply',
				enctype : 'multipart/form-data',
				contentType : false,
				processData : false,
				data : formData, 
				success : function(data) {
					console.log('3.댓글 작성 완료 :', data);
					updateReplyList(data);
					updateReplyCount(1);
					$('.btn-success').prop('disabled', false);
				},
				error : function(xhr, status, error) {
					alert('비속어가 포함된 댓글이나 선정성이 높은 이미지는 등록할 수 없습니다.')
					console.error('4.댓글 작성 실패 : ', error);
					$('.btn-success').prop('disabled', false);
				}
			});
			
			// 댓글 목록에 새로운 댓글 추가 함수
			function updateReplyList(replyData) {

				console.log("5.replyData : " + JSON.stringify(replyData));
				
				var recordNo = replyData.recordNo;
				var replyNo = replyData.replyNo;
				var userId = replyData.userId;
				var nickname = replyData.nickname;
				var profileImageName = replyData.profileImageName;
				var subscriptionEndDate = replyData.subscriptionEndDate;
				var replyText = replyData.replyText;
				var replyImageName = replyData.replyImageName;
				var replyDate = replyData.replyDate;
				var likeCount = replyData.likeCount;
				var dislikeCount = replyData.dislikeCount;
				
				console.log("6. replyNo :", replyNo);
				
				// 새로운 댓글을 추가할 행을 생성
				var replyImageURL = '/community/rest/replyImage/'+replyImageName;
				var newRow = 
				'<div class="card-body replyCard">' +
		        '<h6>' +
		        '<img alt="" class="profileImage" src="/user/rest/profile/' + profileImageName + '">' +
		        '<span class="replyNickname" data-reply-userid="' + userId + '">' + nickname + '</span>'; 
		        if (subscriptionEndDate === '1') {
		            newRow += 
		                '<span>' +
		                '<img alt="" class="sub" src="/user/rest/profile/sub.png" style="width:50px; height:50px;">' +
		                '</span>';
		        }		        
				newRow +=
		        '<i class="bi bi-three-dots" style="float: right;"></i>' +
				'</h6>'+
		        '<h4>' +
		        '<span class="replyText">' + replyText + '</span><br/>' +

		        '<div class="imagePart">';	
		        if (replyImageName != null && replyImageName != 'null') {
		            newRow +=
		                '<span>' +
		                '<img alt="" class="replyImageName" data-reply-image-name="' + replyImageName + '" src="' + replyImageURL + '">' +
		                '</span>';
		        }
		        newRow +=
		        '</h4>'+
		        '<h6>'+
		        '<span class="dislikeCount" style="float: right; margin-left: 10px;">' + dislikeCount + '</span>' +
		        '<i class="bi bi-hand-thumbs-down replyDislike" style="float: right; margin-left: 10px;"></i>' +
		        '<span class="likeCount" style="float: right; margin-left: 10px;">' + likeCount + '</span>' +
		        '<i class="bi bi-hand-thumbs-up replyLike" style="float: right;"></i>' +
		        '<span class="recordNo" style="display:none;" data-recordno="' + recordNo + '">' + recordNo + '</span>' +
		        '<span class="replyNo" style="display:none;" data-replyno="' + replyNo + '">' + replyNo + '</span>' +
		        '<span class="userId" style="display:none;" data-userid="' + userId + '">' + userId + '</span>' +
		        '</h6>' +
		        '<div>' +
		        '<span>' + replyDate + '</span>' +
		        '</div>' +
		        '</div>' +
		        '</div>';
					
				console.log("7.현재행 : "+newRow);	
            	                        
				// 새로운 행을 댓글 목록에 추가
				$('#replyListContainer').append(newRow);
				
				// 입력 필드 초기화
				$('#replyText').val('');
				$('#replyImageName').val('');
				$('#imagePreview').attr('src', '#').css('display', 'none');
            }
			
        });
    }); 
	</script>
	<!-- 댓글 작성 종료 -->
		
	<!-- 더보기 모달창 처리-->
	<script th:inline="javascript">
	$(document).ready(function() {  
	var currentRow = null;
	var replyText = "";
	var userId = /*[[${search.userId}]]*/ 
	console.log("8.현재행 :"+currentRow);
	
	
	console.log("9.현재 사용자ID :"+userId);
	function openModal(row) {
		currentRow = row;
		
		console.log("10.현재행 : "+currentRow);
		
		var replyUserId = currentRow.find('.userId').text();
        var replyText = currentRow.find('.replyText').text();
        
        
        console.log("11.현재 :" ,userId);
        console.log("12.대상 :" ,replyUserId);
        
        if(userId === replyUserId) {
        	$('#update').show();
        	$('#delete').show();
        	$('#addReport').hide();
            $('#replyText').val(replyText);
        } else {
        	$('#update').hide();
        	$('#delete').hide();
        	$('#addReport').show();        	
        }
        
		document.getElementById("moreModal").style.display = "block";	
	}
	
	function closeModal() {
		document.getElementById("moreModal").style.display = "none";
	}
	
	function openUpdateModal() {
		if(currentRow) {
			var replyText = currentRow.find('.replyText').text();
			$('#updateReplyText').val(replyText);
		}
		document.getElementById("updateModal").style.display ="block";
	}

	function closeUpdateModal() {
		document.getElementById("updateModal").style.display ="none";
	}	
	
	$(function() {
		$('.container').on("click", ".bi-three-dots", function() {
			var $row = $(this).closest('div');
			openModal($row);
		});
		
		//댓글 수정
		$('#moreModal').on("click", "#update", function() {
			if(currentRow) {
				var replyText = currentRow.find('.replyText').text();
				$('#updateReplyText').val(replyText);
				
				var replyImageName = currentRow.find('.replyImageName').data('reply-image-name');
				$('#currentReplyImageName').val(replyImageName);
				
				console.log("이미지 확인 : "+replyImageName);
				
				var replyNo = currentRow.find('.replyNo').text();
				console.log("13.replyNo :", replyNo);
				

			}
			closeModal();
			openUpdateModal();

			$('#updateReplyForm').submit(function(event) {
				event.preventDefault();
				$('.btn-success').prop('disabled', true);
	   
	        	var formData = new FormData(this);
				var updatedReplyText = $('#updateReplyText').val().trim();
				var currentReplyImageName = $('#currentReplyImageName').val();
				var updateReplyImageName = $('#updateReplyImageName').val();
				var recordNo = $('#recordNo').val();
				
				console.log(updateReplyImageName);
				console.log("14.기록번호 : "+recordNo);

				if(updatedReplyText === '') {
					alert('댓글 내용을 입력해주세요');
					$('.btn-success').prop('disabled', false);
					return;
				}
				formData.append("recordNo", recordNo);
				formData.append("userId", userId);

		        if(updateReplyImageName) {
		            formData.append("updateReplyImageName", updateReplyImageName);
		        } else {
		            formData.append("updateReplyImageName", currentReplyImageName);
		        }
				
				var updateReply = {
					recordNo : recordNo,
					userId : userId,
					replyText : updatedReplyText,
					replyImageName : updateReplyImageName
				};
				console.log("데이터 확인 : "+JSON.stringify(updateReply));
				formData.append("updateReply", JSON.stringify(updateReply));
	        	
				console.log("폼 데이터 : "+formData.get("updateReply"));
				
				if(currentRow) {
					var userId = userId
					var replyNo = currentRow.find('.replyNo').text();
					
					$.ajax({
						type : 'POST',
						url : '/community/rest/updateReply/'+replyNo,
						enctype : 'multipart/form-data',
						contentType : false,
						processData : false,
						data : formData, 
						success : function(data) {
							console.log('15.댓글 수정 완료 :', data);
							currentRow.find('.replyText').text(data	.replyText);
							$('.btn-success').prop('disabled', false);
							
			                if(data.replyImageName) {
			                    var replyImageURL = '/community/rest/replyImage/' + data.replyImageName;
			                    currentRow.find('.replyImageName').attr('src', replyImageURL);
			                } else {
			                    currentRow.find('.replyImageName').attr('src', '');
			                }
							closeUpdateModal();
						},
						error : function(xhr, status, error) {
							console.error('16.댓글 수정 오류', error);
							alert('비속어가 포함된 댓글이나 선정성이 높은 이미지는 등록할 수 없습니다.');
							$('.btn-success').prop('disabled', false);
						}
					});
				}
				$('#replyText').val('');
				$('#replyImageName').val('');
			});
		})
		
		//댓글 삭제
		$('#moreModal').on("click", "#delete", function() {
			
			if(currentRow) {
				var userId = /*[[${search.userId}]]*/ 
				console.log("유저 ID 확인 :"+userId);
				var replyNo = currentRow.find('.replyNo').text();
			
				console.log("17.댓글번호 :"+replyNo);
				
				$.ajax({
					type : 'DELETE',
					url: '/community/rest/deleteReply/'+userId+'/'+replyNo,
					success : function(data) {
						console.log('18.댓글 삭제 완료 :', data);
						updateReplyCount(-1);
						closeModal();
						
						console.log('currentRow:', currentRow);
						currentRow.closest('.card-body').remove();
					},
					error : function(xhr, status, error) {
						console.error('19.댓글 삭제 실패 : ', error);
					}
				});				
			}
			$('#replyText').val('');
			$('#replyImageName').val('');
		});	
		
		//댓글 신고
		$('#moreModal').on("click", "#addReport", function() {
			if(currentRow) {
				var reporterUserId = userId;
				var targetUserId = currentRow.find('.userId').text();
				var replyNo = currentRow.find('.replyNo').text();
				var replyText = currentRow.find('.replyText').text();
				var nickname = currentRow.find('.replyNickname').text();
				console.log("11:"+nickname);
				var reportData = {
					userId : reporterUserId,	
					targetUserId : targetUserId,
					replyNo : replyNo,
					replyText : replyText,
					nickname : nickname
				}; 
				console.log("19.신고 확인 : "+reportData);
				
				sessionStorage.setItem('reportData', JSON.stringify(reportData));
				
				window.location.href = '/community/addReport';
				closeModal();
			}
		});
		
		$('.btn-close').on("click", function() {
			$('#replyText').val('');
			$('#replyImageName').val('');
			closeModal();
		});
		
		$('.btn-close.update').on("click", function() {
			$('#replyText').val('');
			$('#replyImageName').val('');
			closeUpdateModal();
		});		
		
        $(window).on("click", function(event) {
            var modal = document.getElementById("moreModal");
            if (event.target == modal) {
                closeModal();
            }		
        });
	});
	});
	</script>
	<!-- 더보기 모달창 처리 종료 -->
	
	<!-- 댓글 좋아요, 싫어요 시작 -->
	<script th:inline="javascript">
	$(document).ready(function() {
	    // 댓글 좋아요 클릭 이벤트
	    $(document).on("click", '.replyLike', function() {
	        handleReplyReaction($(this), 2);
	    });

	    // 댓글 싫어요 클릭 이벤트
	    $(document).on("click", '.replyDislike', function() {
	        handleReplyReaction($(this), 3);
	    });
	});

	function handleReplyReaction(button, logsType) {
	    var userId = userId;
	    var row = button.closest('div');
	    var recordNo = row.find('.recordNo').text();
	    var replyNo = row.find('.replyNo').text();

	    var likeButton = row.find('.replyLike');
	    var dislikeButton = row.find('.replyDislike');

	    var isLike = logsType === 2;
	    var currentButton = isLike ? likeButton : dislikeButton;
	    var oppositeButton = isLike ? dislikeButton : likeButton;

	    if (currentButton.hasClass(isLike ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-down-fill')) {
	        // 현재 반응이 이미 활성화된 상태라면 현재 반응만 취소
	        updateReplyReaction(userId, recordNo, replyNo, logsType, false, row);
	    } else {
	        // 현재 반응을 활성화하고, 만약 반대 반응이 활성화되어 있다면 취소
	        updateReplyReaction(userId, recordNo, replyNo, logsType, true, row);
	        if (oppositeButton.hasClass(isLike ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-up-fill')) {
	            updateReplyReaction(userId, recordNo, replyNo, isLike ? 3 : 2, false, row);
	        }
	    }
	}

	function updateReplyReaction(userId, recordNo, replyNo, logsType, isAdd, row) {
	    $.ajax({
	        type: 'POST',
	        url: '/community/rest/checkLogs',
	        contentType: 'application/json',
	        data: JSON.stringify({
	            userId: userId,
	            recordNo: recordNo,
	            replyNo: replyNo,
	            logsType: logsType
	        }),
	        success: function(response) {
	            console.log((isAdd ? '추가' : '취소') + ' 성공');
	            updateReplyReactionCount(row, recordNo, replyNo, logsType);
	            updateReplyIcon(row, logsType, isAdd);
	        },
	        error: function(xhr, status, error) {
	            console.error((isAdd ? '추가' : '취소') + ' 실패');
	        }
	    });
	}

	function updateReplyReactionCount(row, recordNo, replyNo, logsType) {
	    var url = logsType === 2 ? '/community/rest/getReactionLikeTotalCount' : '/community/rest/getReactionDisLikeTotalCount';
	    var countElement = logsType === 2 ? row.find('.likeCount') : row.find('.dislikeCount');

	    $.ajax({
	        type: 'POST',
	        url: url,
	        contentType: 'application/json',
	        data: JSON.stringify({
	            recordNo: recordNo,
	            replyNo: replyNo,
	            logsType: logsType
	        }),
	        success: function(count) {
	            countElement.text(count);
	        },
	        error: function(xhr, status, error) {
	            console.log("데이터 가져오기 실패");
	        }
	    });
	}

	function updateReplyIcon(row, logsType, isAdd) {
	    var icon = logsType === 2 ? row.find('.replyLike') : row.find('.replyDislike');
	    var oppositeIcon = logsType === 2 ? row.find('.replyDislike') : row.find('.replyLike');
	    var filledClass = logsType === 2 ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-down-fill';
	    var emptyClass = logsType === 2 ? 'bi-hand-thumbs-up' : 'bi-hand-thumbs-down';
	    var oppositeFilledClass = logsType === 2 ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-up-fill';
	    var oppositeEmptyClass = logsType === 2 ? 'bi-hand-thumbs-down' : 'bi-hand-thumbs-up';

	    if (isAdd) {
	        icon.removeClass(emptyClass).addClass(filledClass);
	        oppositeIcon.removeClass(oppositeFilledClass).addClass(oppositeEmptyClass);
	    } else {
	        icon.removeClass(filledClass).addClass(emptyClass);
	    }
	}
	</script>
	<!-- 댓글 좋아ㅇ, 싫어요 종료-->	

	<!-- 댓글 작성칸 동적 처리 -->
	<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto'; // Reset textarea height
        textarea.style.height = textarea.scrollHeight + 'px'; // Set new height based on content
    }
	</script>
	
	<!-- 업로드 이미지 미리보기 -->
	<script>
	    function previewImage(input) {
	        var file = input.files[0];
	        var reader = new FileReader();
	
	        reader.onload = function(e) {
	            var imagePreview = document.getElementById('imagePreview');
	            imagePreview.src = e.target.result;
	            imagePreview.style.display = 'block';
	        };
	
	        reader.readAsDataURL(file);
	    }
	</script>

	<script>
	function updateReplyCount(change) {
	    const replyCountElement = document.getElementById('replyCount');
	    let currentCount = parseInt(replyCountElement.textContent);
	    currentCount += change;
	    replyCountElement.textContent = currentCount;
	}	
	</script>
	
	<!-- 무한스크롤 -->
	<script th:inline="javascript">
	let currentPage = 2;
	let isLoading = false;
	let replyListContainer; 
	let loadingIndicator; 
	let hasMoreReplies = true;
	let recordNo;
	
	document.addEventListener('DOMContentLoaded', function() {
	    replyListContainer = document.getElementById('replyListContainer');
	    loadingIndicator = document.getElementById('loadingIndicator');
	    recordNo = document.getElementById('recordNo').value; 
	    
	    if (!replyListContainer || !loadingIndicator) {
	        console.error('Required elements are missing');
	        return;
	    }

	    loadMoreReplies();
	    
	    window.addEventListener('scroll', throttle(handleScroll, 200));
	});
	
	function loadMoreReplies() {
	    if (isLoading || !hasMoreReplies) return;
	    
	    isLoading = true;
	    if (loadingIndicator) loadingIndicator.style.display = 'block';

	    $.ajax({
	        url: `/community/rest/getReplyList/${recordNo}?currentPage=${currentPage}&limit=10`,
	        method: 'GET',
	        success: function(response) {
	            const replyList = response.list;
	            const totalCount = response.totalCount;

	            replyList.forEach(reply => {
	                const replyElement = createReplyElement(reply);
	                replyListContainer.appendChild(replyElement);
	            });

	            currentPage++;
	            isLoading = false;
	            if (loadingIndicator) loadingIndicator.style.display = 'none';

	            if (replyListContainer.children.length >= totalCount) {
	                hasMoreReplies = false;
	            }
	        },
	        error: function(error) {
	            console.error('Failed to load more replies:', error);
	            isLoading = false;
	            loadingIndicator.style.display = 'none';
	        }
	    });
	}

	function createReplyElement(reply) {
	    const replyElement = document.createElement('div');
	    replyElement.className = 'card-body replyCard';

	    const content = `
	        <div>
	            <h6>
	                <img alt="" class="profileImage" src="/user/rest/profile/${reply.profileImageName}">
	                <span class="replyNickname" data-reply-userid="${reply.userId}">${reply.nickname}</span>
	                ${reply.subscriptionEndDate === '1' ? 
	                    '<span><img alt="" class="sub" src="/user/rest/profile/sub.png"></span>' : 
	                    ''}
	                <i class="bi bi-three-dots"></i>
	            </h6>
	            <h4>
	                <span class="replyText">${reply.replyText}</span><br/>
	                ${reply.replyImageName && reply.replyImageName !== 'null' ? 
	                    `<span><img alt="" class="replyImageName" data-reply-image-name="${reply.replyImageName}" src="/community/rest/replyImage/${reply.replyImageName}"></span>` : 
	                    ''}
	            </h4>
	            <h6>    
	                <span class="dislikeCount">${reply.dislikeCount}</span>            
	                <span>
	                    <i class="bi bi-hand-thumbs-down replyDislike"></i>
	                </span>        
	                <span class="likeCount">${reply.likeCount}</span>
	                <span>
	                    <i class="bi bi-hand-thumbs-up replyLike"></i>
	                </span>                                
	                <span class="recordNo" style="display:none;" data-recordno="${reply.recordNo}">${reply.recordNo}</span>    
	                <span class="replyNo" style="display:none;" data-replyno="${reply.replyNo}">${reply.replyNo}</span>
	                <span class="userId" style="display:none;" data-userid="${reply.userId}">${reply.userId}</span>
	            </h6>
	            <h6>
	                <span class="replyDate">${reply.replyDate === reply.replyUpdateDate ? reply.replyDate : reply.replyUpdateDate + '(수정됨)'}</span>
	            </h6>
	        </div>
	    `;

	    replyElement.innerHTML = content;

	    // 이벤트 리스너 추가
	    const likeButton = replyElement.querySelector('.replyLike');
	    const dislikeButton = replyElement.querySelector('.replyDislike');
	    const moreButton = replyElement.querySelector('.bi-three-dots');

	    likeButton.addEventListener('click', function() {
	        handleReplyReaction($(this), 2);
	    });

	    dislikeButton.addEventListener('click', function() {
	        handleReplyReaction($(this), 3);
	    });

	    moreButton.addEventListener('click', function() {
	        var $row = $(this).closest('div');
	        openModal($row);
	    });

	    return replyElement;
	}

	function handleScroll() {
	    if (!hasMoreReplies) return;

	    const scrollHeight = document.documentElement.scrollHeight;
	    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
	    const clientHeight = window.innerHeight || document.documentElement.clientHeight;

	    if (scrollTop + clientHeight >= scrollHeight - 200) {
	        loadMoreReplies();
	    }
	}

	function throttle(func, limit) {
	    let inThrottle;
	    return function() {
	        const args = arguments;
	        const context = this;
	        if (!inThrottle) {
	            func.apply(context, args);
	            inThrottle = true;
	            setTimeout(() => inThrottle = false, limit);
	        }
	    }
	}
	
	</script>	

	<style>
		body {
			background-color : #E6F4F1;
		}

	    .fixed-nav-bar {
	        position: fixed;
	        top: 0;
	        width: 100%;
	        background-color: #fff; /* 원하는 배경색으로 변경 */
	        z-index: 1000; /* 다른 요소들보다 위에 있도록 설정 */
	        border-bottom: 1px solid #ccc; /* 선택 사항: 아래쪽에 테두리 추가 */
	    }
	    
	    .fixed-nav-bar.nav {
	        margin: 0;
	        padding: 10px; /* 필요에 따라 패딩 조정 */
	    }
		  
	    #content-for-footer {
	        padding-top: 40px; /* 고정 네비게이션바의 높이에 따라 조정 */
	        padding-bottom: 100px; /* 고정 댓글 폼의 높이에 따라 조정 */
	    }	    
	
		.reply-list-container {
		    overflow-y: auto;
		    padding-bottom : 100px;
		}
		
		.footer {
		    position: fixed;
		    bottom: 0;
		    width: 100%;
		    background-color: #E6F4F1;
		    z-index: 1000;
		    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
		}
		
		.replyForm {
		    position: fixed;
		    bottom: 80px; /* footer의 높이만큼 떨어진 위치로 조정 */
		    width: 100%;
		    background-color: #E6F4F1;
		    z-index: 1000; /* 댓글 작성 폼의 z-index를 더 크게 설정하여 footer 위로 올리기 */
		    border-top: 1px solid #ccc;
		    padding: 10px;
		}		
		
		.moreModal {
		  display: none; /* 모달 숨기기 */
		  position: fixed;
		  z-index: 1;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  overflow: auto;
		  background-color: rgba(0,0,0,0.4);
		}
		
		.updateModal {
		  display: none; /* 모달 숨기기 */
		  position: fixed;
		  z-index: 1;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  overflow: auto;
		  background-color: rgba(0,0,0,0.4);
		}		
		
		.modal-content {
		  background-color: #fefefe;
		  margin: 15% auto;
		  padding: 20px;
		  border: 1px solid #888;
		  width: 80%;
		}
		
		.modal-content-update {
		  background-color: #fefefe;
		  margin: auto;
		  padding: 20px;
		  border: 1px solid #888;
		  width: 90%;
		  position : fixed;
		  top : 50%;
		  transform : translateY(-50%);
		}		
		
		.close {
		  color: #aaa;
		  float: right;
		  font-size: 28px;
		  font-weight: bold;
		}

		.close2 {
		  color: #aaa;
		  float: right;
		  font-size: 28px;
		  font-weight: bold;
		}
		
		.close:hover,
		.close:focus {
		  color: black;
		  text-decoration: none;
		  cursor: pointer;
		}
		
		.close2:hover,
		.close2:focus {
		  color: black;
		  text-decoration: none;
		  cursor: pointer;
		}
	
		.header {
		    font-size : 18px;
		    font-weight : bold;			
		}		
		
		.totalCount {
			font-size : 20px;
		    font-weight : bold;			
		}			
		
		.profileImage {
			border-radius: 50%;
			width : 50px;
			height : 50px;
			margin-right : 3px;
		}
		
		.replyNickname {
			font-size :20px;
			font-weight : bold;
		}
		
		.sub {
			width:40x; 
			height:40px;
			margin-left : -10px;
		}
					
		.bi-three-dots {
			font-size : 30px;
			float: right;
		}			
		
		.replyText {
			font-size : 22px;
		} 
						
		.replyImageName {
		    height: 60%; 
		    width: 100%; 
		    margin-top : 10px;
		}		
		
		.replyDate {
			font-size : 20px;
		}		
		
		.separator {
			border-top : 2px solid;
			margin-top : 10px;
		}					
	
		#replyText {
			width : 70%;
			resize : vertical;
			margin-left : -5px;
			height : 40px;
		}
		
        .card-body {
            border: 2px solid; 
            padding: 10px; 
            margin-bottom: 10px; 
        }			
        
        .form {
        	border : 2px solid;
        }        
        
		.dislikeCount {
			font-size : 20px;
			float: right; 
			margin-left: 10px;
		}
		
		.likeCount {
			font-size : 20px;
			float: right; 
			margin-left: 10px;
		}
		
		.replyLike {
			font-size : 30px;
			color : blue;
			float : right;
			margin-left : 10px;
		}			
		
		.replyDislike {
			font-size : 30px;
			color : red;
			transform : scaleX(-1);		
			float : right;
			margin-left : 10px;
		}
		
		.input-container {
		    display: flex;
		    align-items: center;
		}
		
		.input-container .form-control {
		    flex: 1;
		}
		
		.input-container .form-label {
		    margin-left: 5px;
		    cursor: pointer;
		}	

		.bi.bi-image-fill {
			font-size : 30px;
			margin-right : 5px;
		}		
		
		#imagePreview {
			max-width: 50%;
		}
				 
		.form-label.mt-2 {
			margin-left : 10px;
		}
		
		.modal-title {
			margin-left : 7px;
		}		
		
		.modal-updateTitle {
			margin-left : 12px;
		}
		
		#updateReplyText {
			height: 200px;
		}					    
		
		.btn-group {
			margin-top: 10px;
		    display: flex;
		    justify-content: space-between; /* 혹은 다른 공간 배분 방법 사용 */
		}
		.update .delete {
		    flex-basis: 50%; /* flexbox 아이템의 기본 너비 설정 */
		}		
		
	</style>
	
</head>
<body>
	<div th:include="~{ 'common/floatingButton.html' }"></div>
	<div id=content-for-footer>
		<div class="container" id="container">
			<div class="card">
				<div class="fixed-nav-bar">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link active">
							<i class="bi bi-journal-richtext"></i>
							<span class="header">댓글</span>
							<span th:utext="'&nbsp;'"></span>
							<span id="replyCount" class="totalCount" th:text=${totalCount}></span>
				    	</a>
					</li>
				</ul>				
				</div>
				<div id="replyListContainer" class="reply-list-container">
				<div th:each="reply, rowStat : ${replyList}" class="replyList">
					<div class="card-body replyCard">
						<div>
						<h6>
							<img alt="" class="profileImage" th:src="@{/user/rest/profile/{uuid}(uuid=${reply.profileImageName})}">
							<span class="replyNickname" th:text="${reply.nickname}" th:data-reply-userid="${reply.userId}"></span>
							<span th:if="${reply.subscriptionEndDate =='1'}">
								<img alt="" class="sub" th:src="@{/user/rest/profile/sub.png}">
							</span>
							<i class="bi bi-three-dots"></i>
						</h6>
						<h4>
							<span class="replyText" th:text="${reply.replyText}" ></span> <br/>
							<span th:if="${reply.replyImageName != null and reply.replyImageName != '' and reply.replyImageName != 'null'}">
							<img alt="" class="replyImageName" th:src="@{/community/rest/replyImage/{uuid}(uuid=${reply.replyImageName})}" th:data-reply-image-name="${reply.replyImageName}">
							</span>
						</h4>
						<h6>	
							<span class="dislikeCount" th:text="${reply.dislikeCount}"></span>			
				            <span>
	            				<i th:if="${dislikedReplies[reply.replyNo]}" class="bi bi-hand-thumbs-down-fill replyDislike"></i>
	            				<i th:unless="${dislikedReplies[reply.replyNo]}" class="bi bi-hand-thumbs-down replyDislike"></i>  
	  						</span>		
							<span class="likeCount" th:text="${reply.likeCount}"></span>
				            <span>
					            <i th:if="${likedReplies[reply.replyNo]}" class="bi bi-hand-thumbs-up-fill replyLike"></i>
					            <i th:unless="${likedReplies[reply.replyNo]}" class="bi bi-hand-thumbs-up replyLike"></i>
				            </span>								
							<span class="recordNo" style="display:none;" th:text="${reply.recordNo}" data-recordno = "${reply.recordNo}"></span>	
							<span class="replyNo" style="display:none;" th:text="${reply.replyNo}" data-replyno = "${reply.replyNo}"></span>
							<span class="userId" style="display:none;" th:text="${reply.userId}" data-userid = "${reply.userId}"></span>
						</h6>
						<h6>
							<span class="replyDate" th:text="${reply.replyDate == reply.replyUpdateDate ? reply.replyDate : reply.replyUpdateDate + '(수정됨)'}"></span>  
						</h6>
						</div>
					</div>
				</div>
			</div>
			<div id="loadingIndicator" style="display: none;">Loading...</div>		
			</div>							
		</div>
		
		<div class="footer fixed-bottom">
		<div class="container replyForm">
			<div class= "form">
				<form id="replyForm"th:action="@{/community/rest/addReply}" method="post" enctype="multipart/form-data">
					<fieldset id="replyField">
						<div class="input-container">
							<label for="replyText" class="form-label mt-2"></label>
							<textarea id="replyText" name="replyText" class="form-control" 
								oninput="autoResize(this)"  placeholder="댓글을 입력해주세요."></textarea>
							<label for="replyImageName" class="form-label mt-2">
								<i class="bi bi-image-fill"></i>
							</label>
							<input type="file" id="replyImageName" name="replyImageName" class="form-control" onchange="previewImage(this)" accept="image/jpg, image/jpeg, image/png, image/gif" style=display:none;>
							<input type="hidden" id="recordNo" name="recordNo" th:value="${recordNo}">
							<input type="hidden" id="userId" th:value="${userId}">
		    			</div>
						<div class="preview-container mt-2">
							<img id="imagePreview" alt="Image Preview" style="display:none;">
						</div>		    			
		    			<div class="d-grid gap-2">
							<button type="submit" class="btn btn-success">댓글 작성</button>
						</div>	
		  			</fieldset>
				</form>	
			</div>	
		</div>
		</div>
		
		<!-- 더보기 모달창 -->
		<div class="moreModal" id="moreModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">더보기</h5>
						<br/>
						<button type="button" id="closeModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"></span>
						</button>
					</div>
					<div class="modal-body">
						<div class="btn-group" role="group">
							<button type="button" id="update" class="btn btn-primary update">수정</button>
							<button type="button" id="delete" class="btn btn-warning delete">삭제</button>
							<button type="button" id="addReport" class="btn btn-danger">댓글 신고하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 댓글 수정 모달창 -->
		<div class="updateModal" id="updateModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content update">
					<div class="modal-header">
						<h5 class="modal-updateTitle">댓글수정</h5>
						<button type="button" id="closeUpdateModal" class="btn-close update" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"></span>
						</button>
					</div>
					<div class="modal-body">	
						<form id="updateReplyForm"th:action="@{/community/rest/addReply}" method="post" enctype="multipart/form-data">
							<fieldset id="updateReplyField">
								<div class="input-container update">
									<label for="updateReplyText" class="form-label mt-2"></label>
									<textarea id="updateReplyText" name="updateReplyText" class="form-control"
												oninput="autoResize(this)" placeholder="댓글을 입력해주세요."></textarea>
									<label for="updateReplyImageName" class="form-label mt-2">
										<i class="bi bi-image-fill update"></i>
									</label>
									<input type="file" id="updateReplyImageName" name="updateReplyImageName" class="form-control" accept="image/jpg, image/jpeg, image/png, image/gif" style=display:none;>
									<input type="hidden" id="currentReplyImageName" name="currentReplyImageName"> 
									<input type="hidden" id="recordNo" name="recordNo" th:value="${recordNo}">
									<input type="hidden" id="userId" th:value="${userId}">
				    			</div>
								<br/>
	    						<div class="d-grid gap-2">																			
									<button type="submit" class="btn btn-success">댓글 수정</button>
								</div>
							
				  			</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/footer::defaultFooter"></div>	
</body>			
</html>