<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>공유 기록 목록</title>
</head>
<body>
	<h1>공유기록목록</h1>

	<table>
		<thead>
			<tr>
				<td>유저</td>
				<td>프로필사진</td>
				<td>구독유무</td>
				<td>공유날짜</td>
				<td>수정횟수</td>
				<td>댓글수</td>
				<td>이미지타입</td>
				<td>이미지</td>
				<td>카테고리이름</td>
				<td>카테고리이모지</td>
				<td>공유기록제목</td>
			</tr>
		</thead>
	
		<tbody>
			<tr th:each="shareRecord : ${sharedRecordlist}">
				<td><a th:href="@{'/user/getProfile/' + ${shareRecord.recordUserId}}" th:text="${shareRecord.nickname}"></a></td>
				<td th:text="${shareRecord.profileImageName}"></td>
				<td th:text="${shareRecord.subscriptionEndDate}"></td>
				<td th:text="${shareRecord.sharedDate}"></td>
				<td th:style="'text-align: center;'" th:text="${shareRecord.updateCount}"></td>
				<td th:style="'text-align: center;'" th:text="${shareRecord.replyCount}"></td>
				<td th:text="${shareRecord.imageTagType}"></td>				
				<td th:text="${shareRecord.imageTagText}"></td>				
				<td th:text="${shareRecord.categoryName}"></td>
				<td th:text="${shareRecord.categoryImoji}"></td>		
				<td><a th:href="@{'/community/getDetailSharedRecord/' + ${shareRecord.recordNo}}" th:text="${shareRecord.recordTitle}"></a></td>
			</tr>
		</tbody>
	</table>
	<ul>
		<li th:each="shareRecord : ${sharedRecordlist}" th:text="${'sharedRecord : '+shareRecord}"></li>
	</ul>
</body>	
</html>