<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<title>신고진행상황</title>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/common/footer.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cosmo/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">	
	<link rel="stylesheet" href="/css/common/chatBot.css">
	
	<!-- 무한스크롤 -->
	<script th:inline="javascript">
		var currentPage = 2;
		var loading = false;
		var endOfData = false;
		var userId = /*[[${userId}]]*/
		console.log("12 :"+userId);
		$(document).ready(function () {
			loadReportList();
		});
		
		$(window).scroll(function() {
			console.log("스크롤 시작");
        	if (!loading && !endOfData) {
        		if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
                    loading = true;
                    currentPage++;
                    loadReportList();
        		}
        	}
        });
		
		function loadReportList() {
			console.log("호출 시작, 현재 페이지 :"+currentPage);			
				
			$.ajax({
				url : '/community/rest/getUserReportList/'+userId,
				type : 'GET',
				data : {
					currentPage : currentPage
				},
				success : function(response) {
					console.log("ajax 요청 완료");
					
					var reportList = response.reportList.list
					
					console.log("요청한 데이터 :"+reportList);
					
					if (reportList.length === 0) {
						endOfData = true;
						console.log("데이터 끝에 도달");
						loading = false;
						return;
					} else {
						console.log(reportList);
                        reportList.forEach(function(report) {						
                       		var reportRow = '<tr class="table-info">' +
		                        '<td onclick="toggleReportText(this)">' + report.reportTitle + '</td>' +
		                        '<td>' + report.nickname + '</td>' +
		                        '<td class="reportStatus">' +
		                            '<span>' +
		                                (report.reportStatus === 1 ? '신고완료' : (report.reportStatus === 2 ? '처리완료' : '')) +
		                            '</span>' +
		                        '</td>' +
		                        '<td>' + report.reportDate + '</td>' +
		                        '</tr>';
                        	
                  	      $('#reportList').append(reportRow);
						});
                        currentPage++;
	
					}
					loading = false;
				},
				error : function() {
					console.log("데이터 로드 실패");
					loading : false;
				}
			});
		}	
	</script>
		
	<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('#reportList tr');

        rows.forEach(row => {
            row.addEventListener('click', function() {
                // 이미 열려 있는 신고 내용을 감추기
                const openDetails = document.querySelector('.report-details');
                if (openDetails) {
                    openDetails.remove();
                }

                // 클릭한 행의 다음 행에 신고 내용 표시
                const reportText = row.dataset.reportText;
                const newRow = document.createElement('tr');
                newRow.classList.add('report-details');
                const newCell = document.createElement('td');
                newCell.colSpan = 4; // 모든 열을 병합하여 신고 내용 표시
                newCell.textContent = '신고내용 : ' +reportText;
                newRow.appendChild(newCell);
                row.after(newRow);
            });
        });
    });
	</script>	
		
	<style>
		.reportCount {
			float : right;
		    font-weight: bold;
		}
		
		th {
			font-size : 16px;
            font-weight : bold;
            text-align: center;
		}
		
        .report-details {
            background-color: #ebddf1;
            font-size: 16px;
            font-weight : bold;
            border : 3px solid;
        }
       
		.bi-exclamation-circle {
		    font-size : 18px;
		    margin-right : 5px;
		}
		
		.header {
		    font-size : 16px;
		    font-weight : bold;			
		}		
	</style>
</head>
<body>
    <div id="content-for-footer">
        <div class="container">
            <div class="report-header">
                <div class="icon-wrapper">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <i class="bi bi-exclamation-circle"></i>
                                <span class="header">신고목록조회</span>
                                <span class="reportCount" th:text="'신고 : ' + ${totalCount}+ '건'"></span>
                            </a>
                        </li>
                    </ul>
                    <div>
                        <table class="table table-hover" id="reportTable">
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">신고제목</th>
                                    <th scope="col">신고대상</th>
                                    <th scope="col">진행상황</th>
                                    <th scope="col">신고일시</th>
                                </tr>
                            </thead>
                            <tbody id="reportList">
                                <tr class="table-info" th:each="report, rowStat : ${reportList}" th:data-report-text="${report.reportText}">
                                    <td th:text="${report.reportTitle}" onclick="toggleReportText(this)"></td>
                                    <td th:text="${report.nickname}"></td>
                                    <td class="reportStatus">
                                        <span th:switch="${report.reportStatus}">
                                            <span th:case="'1'">신고완료</span>
                                            <span th:case="'2'">처리완료</span>
                                        </span>
                                    </td>
                                    <td th:text="${report.reportDate}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="~{ 'common/chatbotModal.html' }"></div>
    <div th:replace="common/footer::defaultFooter"></div>	
</body>	
</html>