@charset "UTF-8";

body{
	font-family: Noto Sans KR, sans-serif !important;
    font-style: normal;
}
#map {
	width: 100%;
	height:93dvh;
	position: relative;
	overflow: hidden;
}

.rounded-image {
    	width: 30px; /* 원하는 너비 */
    	height: 30px; /* 원하는 높이 */
    	border-radius: 50%; /* 원형으로 만들기 */
    	object-fit: cover; /* 이미지의 비율을 유지하면서 잘라내기 */
	}

#searchBoxGroup{
	width: 100%;
	position: absolute;
	top: 0px; /* 맵 상단으로부터의 거리 */
	z-index: 1;
}

#toggleBox{
	width: 50px;
	position: absolute;
	right: 0px;
	top: 7%;
	z-index: 1;
}

/* 반경 부분 start*/
.radius-links{
	width: 100%;
	height: 35px;
	background-color: #00A7F5;
}

.radius-links input[type="radio"] {
   display: none;
}

.radius-links label {
   cursor: pointer;
   color: white;
   text-decoration: none;
   font-size: 18px; /* 글자 크기 조절 */
   width: 32%;
   text-align: center;
}  

.radius-links input[type="radio"]:checked + label {
	color: blue;
} /* 선택한 글자 파란색으로 변경 */

/*반경 부분 end */

/* 검색어 부분 start */
#searchKeywordBox, input[name="searchKeyword"]{
	width: 100%;
}
        
#suggestions {
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	background-color: white;
	max-height: 150px;
	overflow-y: auto;
	width: 100%;
	white-space: nowrap; /* 한 줄로 쫙 펴지도록 설정 */
}

#suggestions div {
	display: inline-block; /* 한 줄로 나열되도록 설정 */
	padding: 10px;
	cursor: pointer;
	border-right: 1px solid #ccc; /* 각 항목 구분선 */
}

#suggestions div:hover {
	background-color: #f0f0f0;
}

#suggestions div:last-child {
	border-right: none; /* 마지막 항목은 구분선 제거 */
}

/*검색어 부분 end*/
.checkbox-container {
	background-color: white;
	border-radius: 8px;
	padding: 10px;
	display: inline-block;
}


.form-check {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-check-input#private:checked {
	background-color: #28A745;
	border-color: #28A745;
}

.form-check-input#public:checked {
	background-color: #007BFF;
	border-color: #007BFF;
}

.form-check-input#follow:checked {
	background-color: #6F42C1;
	border-color: #6F42C1;
}

.form-check-input:checked {
	background-color: initial;
	border-color: initial;
	background-image: none;
	display: inline-block;
	position: relative;
}

/*토글 버튼 start*/
.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #ff6347; /* Default color for "기록" */
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: -10px;
}

.toggle-switch:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
}

.toggle-switch.active {
    background-color: #007bff; /* Color for "추천" */
}

.toggle-switch.active:before {
    transform: translateX(30px);
}
/*토글 버튼 end*/

#resultDivs{
	width: 100%;
}

#bottomBox {
    position: absolute;
    bottom: 7dvh; /* 컨테이너를 화면 하단에 고정 */
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬  */
    z-index: 2;
}

#result {
    background-color: rgba(255, 255, 255); /* 흰색 배경, 약간 투명하게 조정 가능 */
    width: 100%;
    max-height: 300px; /* 최대 높이 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
    scrollbar-width: none; /* 스크롤바 숨기기 */
    padding: 10px;
}

#description {
	background-color: rgba(255, 255, 255); /* 흰색 바탕화면 */
	width: 100%;
    max-height: 600px; /* 최대 높이 설정 */
	overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
	scrollbar-width: none;
    padding: 10px;
}

#routeDescriptionList {
	background-color: rgba(255, 255, 255); /* 흰색 바탕화면 */
	width: 100%;
    max-height: 350px; /* 최대 높이 설정 */
	overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
	scrollbar-width: none;
}

.recordEmoji{
	width: 30px;
	height: 30px;
} 

.ellipsis {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;         /* 표시할 줄 수 */
	overflow: hidden;
}

.recordImageContainer{
	display: flex; /* Flexbox 레이아웃 사용 */
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
	overflow: hidden; /* 넘치는 부분 숨김 */
	width: 25vw;
	height: 25vw;
}

.recordImageContainer > img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* 이미지가 div에 맞게 조절됨 */
}

.profileImageContainer {
	display: flex; /* Flexbox 레이아웃 사용 */
	align-items: center; /* 세로 중앙 정렬 */
	height: 50px;
}

.routeButtonGroup {
     display: flex;
     align-items: center;
}

.routeAdditionalButtons {
     display: none;
}

.transitRoute .on{
	border: #424242 solid;
}

.swiper {
	width: 100%;
	height: 400px; /* 캐러셀 높이 고정 */
}
        
.swiper-wrapper img {
	object-fit: cover; /* 이미지 비율 유지하며 컨테이너에 맞춤 */
	height: 100%;
	width: 100%;
}

.infoItem {
	display: none;
}

.infoItem.on {
	display: block;
}

.mapButton{
	display: none;
}

.mapButton.on{
	display: block;
}

.fas{
	font-size: 3.89vw;
}

.btn-secondary-custom{
	background-color: #3396ff;
}

.video-js {
    width: 100%;
    height: 300px;
}