@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#map {
	width: 100%;
	height: 90%;
	position: relative;
}

.overlay {
	position: absolute;
	top: 10px; /* 맵 상단으로부터의 거리 */
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.overlayRight {
	top: 10%; /* 맵 상단으로부터의 거리 */
	right: 5%; /* 맵 좌측으로부터의 거리 */
}

.overlayCenter {
	left: 35%;
}

#suggestions {
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	background-color: white;
	max-height: 150px;
	overflow-y: auto;
	width: 100%;
	white-space: nowrap; /* 한 줄로 쫙 펴지도록 설정 */
}

#suggestions div {
	display: inline-block; /* 한 줄로 나열되도록 설정 */
	padding: 10px;
	cursor: pointer;
	border-right: 1px solid #ccc; /* 각 항목 구분선 */
}

#suggestions div:hover {
	background-color: #f0f0f0;
}

#suggestions div:last-child {
	border-right: none; /* 마지막 항목은 구분선 제거 */
}

.toggle-button {
	display: inline-block;
	width: 100px;
	height: 50px;
	background-color: #f1c40f; /* 기본 색상 */
	border-radius: 25px;
	position: relative;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
}

.toggle-button .toggle-circle {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	transition: left 0.3s, background-color 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
}

.toggle-button.active {
	background-color: #2980b9; /* 활성화 색상 */
}

.toggle-button.active .toggle-circle {
	left: 50px;
	background-color: #ecf0f1; /* 활성화된 상태의 원 색상 */
}

.checkbox-group {
	margin-top: 10px;
	display: none; /* 기본적으로 숨김 */
}

.checkbox-group label {
	display: block;
	margin-bottom: 5px;
}

#result {
      position: absolute;
      bottom: 0px; /* 원하는 위치로 조정 */
      left: 0px; /* 원하는 위치로 조정 */
      background-color: rgba(255, 255, 255, 0.8); /* 흰색 바탕화면 */
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 100%;
      max-height: 200px; /* 최대 높이 설정 */
      overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
      scrollbar-width: none;
      z-index: 2;
    }
