
.profile-custom {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    overflow: hidden;
}

.profile-box-custom {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

