<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/cosmo/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
	
	<link rel="stylesheet" href="/css/common/toolBar.css">
	<link rel="stylesheet" href="/css/common/mapmory-color.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
	 
	<meta charset="UTF-8">
	<title>Mapmory Admin</title>
	
	<!-- 통계 -->
	<script>
		
		// const today = new Date();
		let selectDate; 	
		
		$(function() {

			$('#daily').on('click', function() {
				
			  $('#monthpickerDiv').css('display', 'none');	
			  $('#datepickerDiv').css('display', 'block');
			  // $('#datepickerDiv').css('display', 'block');
				
			  selectDate = new Date();
			  // selectDate.setHours(0, 0, 0, 0);
			  
			  /*
			  console.log("오늘 : " + selectDate);
			  console.log("미국식 표현 : " + selectDate.toISOString());
			  */
			  
			  const year = selectDate.getFullYear();
			  const month = (selectDate.getMonth() + 1);
			  const day = selectDate.getDate();
			  
			  let temp =`
			  		<div class="row justify-content-md-center">
				  		<div class="col-auto d-flex align-items-center">
				  			<button id="prevDay" class="btn btn-secondary-custom btn-sm">◀</button>
				  			`;
				  	temp +=	`<p class="mt-2 mx-3 h4">${year}년 ${month}월 ${day}일</p>`;
				  	temp +=	`
				  			<button id="nextDay" class="btn btn-secondary-custom btn-sm">▶</button>
			  			</div>
		  			</div>
		  			
		  		  		`;
		  		  
			  $('#chartNav').empty().append(temp);
			  
			  const today = new Date().toISOString().split('T')[0];
			  
			  getDailyData();
			  
			}).click();
	
			$('#monthly').on('click', function() {
				
			  $('#monthpickerDiv').css('display', 'block');
			  $('#datepickerDiv').css('display', 'none');
				
			  selectDate = new Date();
			  // selectDate.setHours(0, 0, 0, 0);
			  
			  
			  const year = selectDate.getFullYear();
			  const month = selectDate.getMonth() + 1;
			  
			  let temp =`
			  		<div>
			  			<div class="row justify-content-md-center">
					  		<div class="col-auto d-flex align-items-center">
					  			<button id="prevMonth" class="btn btn-secondary-custom btn-sm">◀</button>
					  			`;
					  	temp +=	`<p class="mt-2 mx-3 h4">${year}년 ${month}월</p>`;
					  	temp +=	`
					  			<button id="nextMonth" class="btn btn-secondary-custom btn-sm">▶</button>
				  			</div>
			  			</div>
		  			</div>
		  		  		`;
		  		  
			  $('#chartNav').empty().append(temp);
			  
			  getMonthlyData();
			  
			});	  
			
			$( "#datepicker" ).datepicker({
		      showOn: "button",
		      buttonImage: "/user/calendar.svg",
		      buttonImageOnly: true,
		      buttonText: "Select date"
		    });
			
			$(document).on('change', '#datepicker', function(){
				
				const clickedDay = new Date( $(this).val() );

				const today = new Date();		

				if( clickedDay > today ) {
					
					alert("오늘 이후의 날짜는 선택이 불가능합니다.");
					return;
					// event.preventDefault();
				}
				
				selectDate = new Date(clickedDay);
				const year = selectDate.getFullYear();
			  const month = (selectDate.getMonth() + 1);
			  const day = selectDate.getDate();
				$('#chartNav').find('p').text(`${year}년 ${month}월 ${day}일`);
				getDailyData();
				
			});
			
			$(document).on('click', '#prevDay', function() {
				
				// $('calander').val(null);
				selectDate.setDate(selectDate.getDate() - 1);
				// createChart(selectDate, 'daily');
				
			  const year = selectDate.getFullYear();
			  const month = (selectDate.getMonth() + 1);
			  const day = selectDate.getDate();
			    $('#chartNav').find('p').text(`${year}년 ${month}월 ${day}일`);
				getDailyData();
			});
			
			$(document).on('click', '#nextDay', function() {
							
				let nextDate = new Date(selectDate);
		        nextDate.setDate(selectDate.getDate() + 1);
		        
		        const today = new Date();
		        today.setHours(today.getHours() + 1);
		        
		        // 오늘 이후 날짜로 이동하지 않도록 함
		        if (nextDate > today) {
		        	alert("오늘 이후의 날짜는 볼 수 없습니다.");
		        } else {
		        	selectDate.setDate(selectDate.getDate() + 1);
		        	
		        	const year = selectDate.getFullYear();
					  const month = (selectDate.getMonth() + 1);
					  const day = selectDate.getDate();
					$('#chartNav').find('p').text(`${year}년 ${month}월 ${day}일`);
		        	getDailyData();
		        }
			});
			
			$(document).on('click', '#prevMonth', function() {
		        
		        selectDate.setMonth(selectDate.getMonth() - 1);
		        
		        // createChart(selectDate, 'monthly');
		        getMonthlyData();
			});
			
			$(document).on('click', '#nextMonth', function() {
				
				const today = new Date();
				
				//console.log("이번 달 : " + (today.getMonth()+1));
				//console.log("선택한 달 : " + (selectDate.getMonth()+1));
				
				console.log("이번 달 : " + (today.getMonth()+1));
				console.log("선택한 달 : " + (selectDate.getMonth()+1+1));
				
				if(today.getMonth() < (selectDate.getMonth()+1)) {
					alert('이번 달 이후로는 볼 수 없습니다.');
					return;
				} else {
										
					selectDate.setMonth(selectDate.getMonth() + 1);	
					getMonthlyData();
				}
				
			});
			
			$('#searchMonthly').on('click', function() {
				
				const year = $('#yearPicker').val();
				const month = $('#monthPicker').val();
				
				// console.log('year : ', year);
				// console.log('month : ', month);
				
				const today = new Date();
				const chooseMonth = new Date(year, (month - 1));
				
				// console.log("choost month? " + chooseMonth.toDateString(), chooseMonth.toTimeString());
				
				if(chooseMonth > today) {
					
					alert("이번 달 이후의 월은 선택할 수 없습니다.");
					return;
				}
				
				selectDate.setFullYear(year);
				selectDate.setMonth(month - 1);
				getMonthlyData();
			});
			
		});
		
		function getDailyData() {
			
			// console.log("선택일자 : " + selectDate.toDateString());
			
			$.ajax({
			 
			  url : `/user/rest/admin/getDailyStatistics`,
			  type : 'post',
			  contentType : 'application/json',
			  dataType : 'json',
			  data : JSON.stringify({
				  selectDate : selectDate.toLocaleDateString('en-CA')
			  }),
			  success : function(responseBody) {
				  
				  // console.log(responseBody);
				  // console.log(JSON.parse(responseBody));
				  
				  const countData = responseBody.map(item => item.count);
				  				  
				  const year = selectDate.getFullYear();
				  const month = (selectDate.getMonth() + 1);
				  const day = selectDate.getDate();
				  
				  
				  
				  createChart(countData, 'daily');
				  
			  },
			  error : function(jqXHR, textStatus, errorThrown) {
				  
				  alert('에러 발생 : ' + jqXHR);
			  }
			  
		  });
			
		}
		
		function getMonthlyData() {
			
		  const year = selectDate.getFullYear();
		  const month = selectDate.getMonth() + 1;
		  
		  $.ajax({
				 
			  url : `/user/rest/admin/getMonthlyStatistics`,
			  type : 'post',
			  contentType : 'application/json',
			  dataType : 'json',
			  data : JSON.stringify({
				  year : `${year}`,
				  month : `${month}`
			  }),
			  success : function(responseBody) {
				  
				  // console.log(responseBody);
				  
				  $('#chartNav').find('p').text(`${year}년 ${month}월`);
				  
				  createChart(responseBody, 'monthly');
				  
			  },
			  error : function(jqXHR, textStatus, errorThrown) {
				  
				  alert('에러 발생 : ' + jqXHR);
			  }
			  
		  });	
		}
		
		function createChart(data, type) {
		
		  $('#chartDiv').empty().append('<canvas id="myChart"></canvas>');

		  // console.log(data);

		  const ctx = document.getElementById('myChart');
		  
		  if(type=="daily") {
			  
			  new Chart(ctx, {
			    type: 'bar',
			    data: {
			     // labels: [0, 1, ..., 23],
			      labels : Array.from({ length: 24 }, (v, i) => i),
			      datasets: [{
			        label: '# 전체 로그인 수',
			        data: data,
			        borderWidth: 1
			      }]
			    },
			    options: {
			      scales: {
			        y: {
			          beginAtZero: true
			        }
			      }
			    }

			  });
			  
		  } else {
			  			  
			  const days = data.map(item => item.day);
			  const counts = data.map(item => item.count);
			  
			  new Chart(ctx, {
			    type: 'bar',
			    data: {
			      labels: days,
			      datasets: [{
			        label: '# 전체 로그인 수',
			        data: counts,
			        borderWidth: 1
			      }]
			    },
			    options: {
			      scales: {
			        y: {
			          beginAtZero: true
			        }
			      }
			    }
			  });

			 
		  }
		}
	</script>
</head>
<body style="overflow-x: hidden;">
	<div th:replace="common/toolBar::defaultToolBar"></div>

	<div class="container">
		
		<div class="mt-5">
			<button class="btn btn-primary" type="button" id="daily">일간 통계</button>
			<button class="btn btn-primary" type="button" id="monthly">월간 통계</button>
		</div>
		
		<div>
			<div id="chartNav"> 
	
			</div>
			 
			<div id="datepickerDiv" class="text-end" style="display:none;" >
				<input type="text" id="datepicker"  style="visibility:hidden;">
			</div>
			 
			<div id="monthpickerDiv"  style="display:none;" >
				<div class="d-flex flex-row-reverse">
					<button type="button" id="searchMonthly" class="btn btn-secondary-custom btn-sm ms-2" style="position: relative; top: -3px;">검색</button>
					<th:block th:replace="~{/user/fragments/monthPicker}"></th:block>
				</div>
			</div>
		</div>
		
		<div id="chartDiv" class="chart-container" style="position: relative; height:80vh; width:100vw; margin-bottom: 80px">
			<canvas id="myChart"></canvas>
		</div>
	</div>

</body>	
</html>