<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{/common/dependencies}"></th:block>
	
	<link rel="stylesheet" href="/css/common/mapmory-color.css"  >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/common/toolBar.css">
	<title>이용약관</title>

	<script>
	
		$(function() {
			
			$('td').on('click', function() {
				
				const tacType = $(this).attr('id');
				console.log(tacType);
				window.location.href=`/user/admin/getAdminDetailTermsAndConditions?tacType=${tacType}`;
				
			});
			
		});
		
	</script>
	
</head>
<body >
<div th:replace="common/toolBar::defaultToolBar"></div>
	
	<div class="container">
		<table class="table mt-3">
		  <thead>
		    <tr>
		      <th scope="col">조항 명</th>
		    </tr>
		  </thead>
		  <tbody>
	  		<tr th:each="tac, state : ${tacList}">
		      <td th:id="${state.count}">[[${tac.title}]]</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</body>	
</html>