<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/cosmo/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/common/toolBar.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<meta charset="UTF-8">
	<title>Mapmory Admin</title>
	
	<!-- 통계 -->
	<script>
		
		// const today = new Date();
		let selectDate; 	
	
		$(function() {
							
			$('#daily').on('click', function() {
			  selectDate = new Date();
			  // selectDate.setHours(0, 0, 0, 0);
			  
			  /*
			  console.log("오늘 : " + selectDate);
			  console.log("미국식 표현 : " + selectDate.toISOString());
			  */
			  
			  const year = selectDate.getFullYear();
			  const month = (selectDate.getMonth() + 1);
			  const day = selectDate.getDate();
			  
			  let temp =`
			  		<div>
				  		<div class="d-flex">
				  			<button id="prevDay">◀</button>
				  			`;
				  	temp +=	`<p>${year}년 ${month}월 ${day}일</p>`;
				  	temp +=	`
				  			<button id="nextDay">▶</button>
			  			</div>
			  			<div>
				  			<input type="date" id="calander">
			  			</div>
		  			</div>
		  		  		`;
		  		  
			  $('#chartNav').empty().append(temp);
			  
			  const today = new Date().toISOString().split('T')[0];
			  $('#calander').attr('max', today);
			  
			  getDailyData();
			  
			}).click();
	
			$('#monthly').on('click', function() {
			  selectDate = new Date();
			  // selectDate.setHours(0, 0, 0, 0);
			  
			  
			  const year = selectDate.getFullYear();
			  const month = selectDate.getMonth() + 1;
			  
			  let temp =`
			  		<div>
			  			<div class="row">
					  		<div class="d-flex">
					  			<button id="prevMonth">◀</button>
					  			`;
					  	temp +=	`<p>${year}년 ${month}월</p>`;
					  	temp +=	`
					  			<button id="nextMonth">▶</button>
				  			</div>
			  			</div>
						<form>
				  			<div class="d-flex">
					  			<input type="number" id="year" name="year" class="form-control">
					  			<label for="year" class="form-label">년
					  			<input type="number" id="month" name="month" class="form-control">
					  			<label for="month" class="form-label">월
					  			<button type="button" id="search">검색</button>
				  			</div>
						</form>
		  			</div>
		  		  		`;
		  		  
			  $('#chartNav').empty().append(temp);
			  
			  getMonthlyData();
			  
			});	  
			
			
			$(document).on('input', '#calander', function(){
				
				const clickedDay = $(this).val();
				// console.log(clickedDay);
				
				// selectDate.setDate(clickedDay);
				selectDate = new Date(Date.parse(clickedDay));
				getDailyData();
			});
			
			$(document).on('click', '#prevDay', function() {
				
				selectDate.setDate(selectDate.getDate() - 1);
				// createChart(selectDate, 'daily');
				getDailyData();
			});
			
			$(document).on('click', '#nextDay', function() {
							
				let nextDate = new Date(selectDate);
		        nextDate.setDate(selectDate.getDate() + 1);
		        
		        const today = new Date();
		        today.setHours(today.getHours()+1);  // 오늘까지를 이동 허용 범위에 포함시키기 위해 오늘을 약간 미래로 보냄
		        
		        console.log("선택한 날짜 : " + selectDate.toISOString());
				console.log("오늘 날짜 : " + today.toISOString());
		        
		        // 오늘 이후 날짜로 이동하지 않도록 함
		        if (nextDate > today) {
		        	alert("오늘 이후의 날짜는 볼 수 없습니다.");
		        } else {
		        	selectDate.setDate(selectDate.getDate() + 1);
		        	console.log("다음 날짜 : " + selectDate.toISOString());
		        	getDailyData();
		        }
			});
			
			$(document).on('click', '#prevMonth', function() {
				
				let currentDay = selectDate.getDate();
				selectDate.setMonth(selectDay.getMonth() - 1);
		        
		        // 월이 변경된 후, 날짜가 그 달의 최대 일자를 초과하면 조정
		        if (selectDate.getDate() < currentDay) {
		        	selectDate.setDate(0);
		        }
		        
		        // createChart(selectDate, 'monthly');
		        getMonthlyData();
			});
			
			$(document).on('click', '#nextMonth', function() {
				
				let currentDay = selectDate.getDate();
				selectDate.setMonth(selectDate.getMonth() + 1);
		        
		        // 월이 변경된 후, 날짜가 그 달의 최대 일자를 초과하면 조정
		        if (selectDate.getDate() < currentDay) {
		        	selectDate.setDate(0);
		        }
		        
		        // createChart(selectDate, 'monthly');
		        getMonthlyData();
			});
			
		});
		
		function getDailyData() {
			
			console.log("선택일자 : " + selectDate.toDateString());
			
			$.ajax({
			 
			  url : `/user/rest/getDailyStatistics`,
			  type : 'post',
			  contentType : 'application/json',
			  dataType : 'json',
			  data : JSON.stringify({
				  selectDate : selectDate
			  }),
			  success : function(responseBody) {
				  
				  // console.log(responseBody);
				  // console.log(JSON.parse(responseBody));
				  
				  const countData = responseBody.map(item => item.count);
				  				  
				  const year = selectDate.getFullYear();
				  const month = (selectDate.getMonth() + 1);
				  const day = selectDate.getDate();
				  
				  $('#chartNav').find('p').text(`${year}년 ${month}월 ${day}일`);
				  
				  createChart(countData, 'daily');
				  
			  },
			  error : function(jqXHR, textStatus, errorThrown) {
				  
				  alert('에러 발생 : ' + jqXHR);
			  }
			  
		  });
			
		}
		
		function getMonthlyData() {
			
		  const year = selectDate.getFullYear();
		  const month = selectDate.getMonth() + 1;
		  
		  $.ajax({
				 
			  url : `/user/rest/getMonthlyStatistics`,
			  type : 'post',
			  contentType : 'application/json',
			  dataType : 'json',
			  data : JSON.stringify({
				  year : `${year}`,
				  month : `${month}`
			  }),
			  success : function(responseBody) {
				  
				  console.log(responseBody);
				  
				  $('#chartNav').find('p').text(`${year}년 ${month}월`);
				  
				  createChart(responseBody, 'monthly');
				  
			  },
			  error : function(jqXHR, textStatus, errorThrown) {
				  
				  alert('에러 발생 : ' + jqXHR);
			  }
			  
		  });	
		}
		
		function createChart(data, type) {
		
		  $('#chartDiv').empty().append('<canvas id="myChart"></canvas>');

		  console.log(data);

		  const ctx = document.getElementById('myChart');
		  
		  if(type=="daily") {
			  
			  new Chart(ctx, {
			    type: 'bar',
			    data: {
			     // labels: [0, 1, ..., 23],
			      labels : Array.from({ length: 24 }, (v, i) => i),
			      datasets: [{
			        label: '# 전체 로그인 수',
			        data: data,
			        borderWidth: 1
			      }]
			    },
			    options: {
			      scales: {
			        y: {
			          beginAtZero: true
			        }
			      }
			    }

			  });
			  
		  } else {
			  			  
			  const days = data.map(item => item.day);
			  const counts = data.map(item => item.count);
			  
			  new Chart(ctx, {
			    type: 'bar',
			    data: {
			      labels: days,
			      datasets: [{
			        label: '# 전체 로그인 수',
			        data: counts,
			        borderWidth: 1
			      }]
			    },
			    options: {
			      scales: {
			        y: {
			          beginAtZero: true
			        }
			      }
			    }
			  });

			 
		  }
		}
	</script>
</head>
<body>
	<div th:replace="common/toolBar::defaultToolBar"></div>

	<div class="container">
		<div class="mt-3">
			<button class="btn btn-primary" type="button" id="daily">일간 통계</button>
			<button class="btn btn-primary" type="button" id="monthly">월간 통계</button>
		</div>
		
		<div id="chartNav">
			
		</div>
		
		<div id="chartDiv" class="chart-container" style="position: relative; height:60vh; width:120vw">
			<canvas id="myChart"></canvas>
		</div>
	</div>

</body>	
</html>