<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {

            $(".glyphicon-chevron-down").on("click", function() {

                var noticeNo = $(this).next().val();
                var $tr = $(this).closest("tr");
                var $nextTr = $tr.next(".notice-content-row");

                if ($nextTr.length > 0) {
                    // 공지 내용이 이미 열려 있을 경우 닫기
                    $nextTr.remove();
                    $(this).toggleClass("glyphicon-chevron-up glyphicon-chevron-down");
                } else {

                    $.ajax({
                        url: "/notice/rest/getDetailNotice/" + noticeNo,
                        method: "GET",
                        dataType: "json",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        success: function(JSONData, status) {
                            // 기존의 상세 내용을 제거
                            $tr.next(".notice-content-row").remove();

                            // 새로운 상세 내용 행을 추가
                            var newContentRow = '<tr class="notice-content-row"><td colspan="3"><h1>' + JSONData.noticeText + '</h1></td></tr>';
                            $tr.after(newContentRow);
                            $("#" + noticeNo).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");

                        }
                    });
                }
            });

        });
    </script>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>
    <div>
        <h2>공지사항 목록</h2>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>자세히보기</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="notice, status : ${noticeList}">
                    <td><a th:href="@{/notice/getDetailNotice/{noticeNo}(noticeNo=${notice.noticeNo})}" th:text="${notice.noticeTitle}"></a></td>
                    <td th:text="${notice.noticeRegDate}"></td>
                    <td>
                        <i class="glyphicon glyphicon-chevron-down" th:id="${notice.noticeNo}"></i>
                        <input type="hidden" th:value="${notice.noticeNo}">
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/notice/addNoticeOrFaq}">공지 추가</a>
        </div>
    </div>
</body>
</html>