<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapmory.services.community.dao.CommunityDao">

	<resultMap id="replySelectMap" type="Reply">
	    <result property="replyNo" 			column="reply_no"			jdbcType="INTEGER"/>
	    <result property="recordNo" 		column="record_no"			jdbcType="INTEGER"/>
	    <result property="userId" 			column="user_id"			jdbcType="VARCHAR"/>
	    <result property="replyText" 		column="reply_text"			jdbcType="VARCHAR"/>
	    <result property="replyImageName" 	column="reply_image_name"	jdbcType="VARCHAR"/>
	    <result property="replyDate" 		column="reply_date"			jdbcType="TIMESTAMP"/>
	    <result property="replyUpdateDate" 	column="reply_update_date"	jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<resultMap id="communityLogsSelectMap" type="communityLogs">
		<result property="communityLogsNo"	column="community_logs_no"	jdbcType="INTEGER"/>
		<result property="userId"			column="user_id"			jdbcType="VARCHAR"/>
		<result property="recordNo"			column="record_no"			jdbcType="INTEGER"/>
		<result property="replyNo"			column="reply_no"			jdbcType="INTEGER"/>
		<result property="logsType"			column="logs_type"			jdbcType="INTEGER"/>
	</resultMap>
	
	<resultMap id="reportSelectMap" type="communityLogs">
		<result property="reportNo"			column="report_no"			jdbcType="INTEGER"/>
		<result property="userId"			column="user_id"			jdbcType="VARCHAR"/>
		<result property="targetUserId"		column="target_user_id"		jdbcType="VARCHAR"/>
		<result property="recordNo"			column="record_no"			jdbcType="INTEGER"/>
		<result property="replyNo"			column="reply_no"			jdbcType="INTEGER"/>
		<result property="chatRoomNo"		column="chatroom_no"		jdbcType="INTEGER"/>
		<result property="reportTitle"		column="report_title"		jdbcType="VARCHAR"/>
		<result property="reportText"		column="report_text"		jdbcType="VARCHAR"/>
		<result property="reportDate"		column="report_date"		jdbcType="TIMESTAMP"/>
		<result property="reportStatus"		column="report_status"		jdbcType="INTEGER"/>
		<result property="reportResult"		column="report_result"		jdbcType="INTEGER"/>
	</resultMap>

	<!-- 댓글 목록 조회 -->
	<select id="getReplyList" parameterType="map" resultMap="replySelectMap">
		SELECT *,
			(SELECT nickname FROM users u WHERE u.USER_ID = r2.USER_ID),
			(SELECT profile_image_name FROM users u WHERE u.USER_ID = r2.USER_ID),
			CASE WHEN (SELECT subscription_end_date FROM SUBSCRIPTION s WHERE s.USER_ID = r2.USER_ID) > CURRENT_DATE THEN 1 ELSE 0 END,
			(SELECT record_no FROM record r WHERE r.RECORD_NO = r2.RECORD_NO)
		FROM REPLY r2
		WHERE r2.record_no = #{recordNo}
		ORDER BY reply_date ASC
		LIMIT #{limit} OFFSET #{offset};	
	</select>

	<!-- 내가 쓴 댓글 목록 조회 -->
	<select id="getUserReplyList" parameterType="map" resultMap="replySelectMap">
		SELECT *,
			(SELECT nickname FROM users u WHERE u.USER_ID = r2.USER_ID),
			(SELECT profile_image_name FROM users u WHERE u.USER_ID = r2.USER_ID),
			CASE WHEN (SELECT subscription_end_date FROM SUBSCRIPTION s WHERE s.USER_ID = r2.USER_ID) > CURRENT_DATE THEN 1 ELSE 0 END,
			(SELECT user_id FROM users u WHERE u.user_id = r2.user_id)
		FROM REPLY r2
		WHERE r2.user_id = #{userId}
		ORDER BY reply_date
		LIMIT #{limit} OFFSET #{offset};
	</select>

	<!-- 댓글 작성 -->
	<insert id="addReply" parameterType="reply">
		INSERT INTO REPLY (record_no, user_id, reply_text, reply_image_name)
		VALUES(#{recordNo}, #{userId}, #{replyText}, #{replyImageName});
	</insert>
	
	<!-- 댓글 선택 -->
	<select id="getReply" parameterType="int" resultMap="replySelectMap">
		SELECT reply_no, record_no, user_id, reply_text, reply_image_name, reply_date, reply_update_date
		FROM REPLY
		WHERE reply_no = #{replyNo}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="reply">
		UPDATE REPLY 
			<set> 
				<if test = "replyText != null"> reply_text = #{replyText}, </if>
				reply_image_name = #{replyImageName},
				reply_update_date = current_timestamp
			</set>   
		WHERE reply_no = #{replyNo}
	</update>

	<!-- 댓글 삭제 -->	
	<delete id="deleteReply" parameterType="reply">
		DELETE FROM REPLY
		WHERE user_id = #{userId:VARCHAR} AND reply_no = #{replyNo}
	</delete>	
	
	<!-- 기록에 작성된 댓글 Count -->
	<select id="getReplyTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*) FROM REPLY
		WHERE record_no = #{recordNo}
	</select>
	
	<!-- 사용자가 작성한 댓글 Count -->
	<select id="getReplyUserTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*) FROM REPLY
		WHERE user_id = #{userId}
	</select>	
	
	<!-- 기록 즐겨찾기 추가 -->		
	<insert id="addBookmarkSharedRecord" parameterType="communityLogs">
		INSERT INTO COMMUNITY_LOGS (user_id, record_no, reply_no, logs_type)
		VALUES(#{userId}, #{recordNo}, NULL, #{logsType}); 
	</insert>
	
	<!-- 기록 즐겨찾기 해제 -->	
	<delete id="deleteBookmarkSharedRecord" parameterType="communityLogs">
		DELETE FROM COMMUNITY_LOGS
		WHERE user_id = #{userId} AND record_no = #{recordNo}
	</delete>

	<!-- 즐겨찾기 목록 조회 -->
	<select id="getBookmarkSharedRecordList" parameterType="map" resultMap="communityLogs">
		SELECT user_id, record_no, reply_no, logs_type
		FROM COMMUNITY_LOGS
		WHERE user_id = #{userId) AND logs_type = #{logsType}
	</select>


	<!-- 기록 및 댓글 감정표현 추가 -->		 
	<insert id="addReaction" parameterType="CommunityLogs">
		INSERT INTO COMMUNITY_LOGS (user_id, record_no, reply_no, logs_type)
		VALUES(#{userId}, #{recordNo}, #{replyNo}, #{logsType})
	</insert>
	
	<!-- 기록 및 댓글 감정표현 수정 -->		 
	<update id="updateReaction" parameterType="CommunityLogs">
		UPDATE COMMUNITY_LOGS
			<set>
				logsType = #{logsType}
			</set> 
		WHERE		
	</update>	
	
	<!-- 기록 및 댓글 감정표현 삭제 -->		 
	<delete id="deleteReaction" parameterType="CommunityLogs">
	</delete>	
	
</mapper>