<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapmory.services.notice.dao.NoticeDao">

    <resultMap type="notice" id="noticeSelectMap">
        <result property="noticeNo" column="notice_no" jdbcType="INTEGER" />
        <result property="noticeTitle" column="notice_title" jdbcType="VARCHAR" />
        <result property="noticeText" column="notice_text" jdbcType="VARCHAR" />
        <result property="noticeRegDate" column="notice_reg_date" jdbcType="DATE" />
        <result property="userId" column="user_id" jdbcType="VARCHAR" />
        <result property="noticeType" column="notice_type" jdbcType="INTEGER" />
    </resultMap>

    <insert id="addNoticeOrFaq" parameterType="notice">
        INSERT INTO notice (notice_title, notice_text, notice_reg_date, user_id, notice_type)
        VALUES (#{noticeTitle}, #{noticeText}, SYSDATE(), #{userId}, #{noticeType})
    </insert>

    <select id="getDetailNotice" resultType="notice" resultMap="noticeSelectMap">
        SELECT
        notice_title,notice_text,notice_no,notice_type
        FROM notice
        WHERE notice_no = #{noticeNo}
    </select>


    <select id="getNoticeList" parameterType="search" resultMap="noticeSelectMap">
        SELECT
        n.notice_title,
        n.notice_text,
        n.notice_no,
        n.notice_reg_date,
        n.user_id,
        n.notice_type
        FROM notice n
        WHERE notice_type = 0
        <if test="searchCondition != null and searchKeyword != null">
            <choose>
                <when test="searchCondition == 0">
                    AND n.notice_title LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchCondition == 1">
                    AND n.notice_text LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
            </choose>
        </if>
        ORDER BY n.notice_NO DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getFaqList" parameterType="search" resultMap="noticeSelectMap">
    SELECT
    n.notice_title,
    n.notice_text,
    n.notice_no,
    n.notice_reg_date,
    n.user_id,
    n.notice_type
    FROM notice n
    WHERE notice_type = 1
    <if test="searchCondition != null and searchKeyword != null">
        <choose>
            <when test="searchCondition == 0">
                AND n.notice_title LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <when test="searchCondition == 1">
                AND n.notice_text LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
        </choose>
    </if>
    ORDER BY n.notice_NO DESC
    LIMIT #{pageSize} OFFSET #{offset}
</select>

    <update id="updateNoticeAndFaq" parameterType="notice">
        UPDATE notice
        <set>
            notice_title = #{noticeTitle},
            notice_text = #{noticeText},
            notice_reg_date = SYSDATE()
        </set>
        WHERE notice_no= #{noticeNo}
    </update>

    <delete id="deleteNoticeAndFaq" parameterType="notice">
        DELETE FROM notice
        WHERE notice_no = #{noticeNo}
    </delete>

    <select id="getFaQTotalCount" parameterType="search" resultType="int">
        SELECT COUNT(*)
        FROM notice
        WHERE notice_type = 1
        <if test="searchCondition != null and searchKeyword != null">
            <choose>
                <when test="searchCondition == 0 and searchKeyword != ''">
                    AND notice_title LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchCondition == 1 and searchKeyword != ''">
                    AND notice_text LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
            </choose>
        </if>
    </select>

    <select id="getNoticeTotalCount" parameterType="search" resultType="int">
        SELECT COUNT(*)
        FROM notice
        WHERE notice_type = 0
        <if test="searchCondition != null and searchKeyword != null">
            <choose>
                <when test="searchCondition == 0 and searchKeyword != ''">
                    AND notice_title LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchCondition == 1 and searchKeyword != ''">
                    AND notice_text LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
            </choose>
        </if>
    </select>



</mapper>