<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapmory.services.purchase.dao.PurchaseDao">
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="purchaseNo"			column="purchase_no"		jdbcType="INTEGER"/>
		<result property="userId"				column="user_id"			jdbcType="VARCHAR" />
		<result property="productNo"			column="product_no" 		jdbcType="INTEGER" />
		<result property="paymentMethod"		column="payment_method"		jdbcType="INTEGER" />
		<result property="cardType"				column="card_type"			jdbcType="VARCHAR" />
		<result property="lastFourDigits"		column="last_four_digits"	jdbcType="VARCHAR"  />
		<result property="purchaseDate"			column="purchase_date"		jdbcType="TIMESTAMP" />
		<result property="price"				column="price"				jdbcType="INTEGER"  />
	</resultMap>
	
	<insert id="addPurchase" parameterType="purchase">
	 	INSERT INTO purchase (user_id, product_no, payment_method, card_type, last_four_digits, purchase_date, price)
	 	VALUES (#{userId}, #{productNo}, #{paymentMethod}, #{cardType}, #{lastFourDigits}, #{purchaseDate,jdbcType=TIMESTAMP}, #{price})
	 </insert>
	 
	 <select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
	 	SELECT user_id, product_no, payment_method, card_type, last_four_digits, purchase_date, price
	 	FROM purchase
	 	WHERE purchase_no = #{purchaseNo}
	 </select>
	 
	 <select id="getPurchaseList" parameterType="string" resultMap="purchaseSelectMap">
	 	SELECT user_id, product_no, payment_method, card_type, last_four_digits, purchase_date, price
	 	FROM purchase
	 	WHERE user_Id = #{userId}
	 </select>
	 
	 <select id="getPurchaseTotalCount" parameterType="string" resultType="int">
	 	SELECT COUNT(*)
	  	FROM purchase
	  	WHERE user_id = #{userId}
	 </select>
</mapper>