<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapmory.services.purchase.dao.PurchaseDao">
	<resultMap id="purchaseSelectMap" type="purchaseDTO">
		<result property="purchaseNo"			column="purchase_no"		jdbcType="INTEGER"/>
		<result property="userId"				column="user_id"			jdbcType="VARCHAR" />
		<result property="productNo"			column="product_no" 		jdbcType="INTEGER" />
		<result property="paymentMethod"		column="payment_method"		jdbcType="INTEGER" />
		<result property="cardType"				column="card_type"			jdbcType="VARCHAR" />
		<result property="lastFourDigits"		column="last_four_digits"	jdbcType="VARCHAR"  />
		<result property="purchaseDate"			column="purchase_date"		jdbcType="TIMESTAMP" />
		<result property="price"				column="price"				jdbcType="INTEGER"  />
    	<result property="productTitle" 		column="product_title" 		jdbcType="VARCHAR"/>
    	<result property="period" 				column="period" 			jdbcType="INTEGER"/>
	</resultMap>
	
	<insert id="addPurchase" parameterType="purchase" useGeneratedKeys="true" keyProperty="purchaseNo">
    	INSERT INTO purchase (
        	user_id,
        	product_no,
        	payment_method,
        	card_type,
        	last_four_digits,
        	purchase_date,
        	price
    	)
    	VALUES (
        	#{userId},
        	#{productNo},
        	#{paymentMethod},
        	#{cardType, jdbcType=VARCHAR},
        	#{lastFourDigits, jdbcType=VARCHAR},
        	now(),
        	#{price}
    	)
	</insert>

	<select id="getDetailPurchase" parameterType="int" resultMap="purchaseSelectMap">
    	SELECT
        	p.purchase_no,
        	p.user_id,
        	p.product_no,
        	p.payment_method,
        	p.card_type,
        	p.last_four_digits,
        	p.purchase_date,
        	p.price,
        	pro.product_title,
        	pro.period
    	FROM 
    		purchase p
    	LEFT JOIN 
    		product pro ON p.product_no = pro.product_no
    	WHERE 
    		p.purchase_no = #{purchaseNo}
	</select>

	<select id="getPurchaseList" parameterType="search" resultMap="purchaseSelectMap">
    	SELECT
        	p.purchase_no,
        	p.user_id,
        	p.product_no,
        	p.payment_method,
        	p.card_type,
        	p.last_four_digits,
        	p.purchase_date,
        	p.price,
        	pro.product_title,
        	pro.period
    	FROM 
    		purchase p
    	LEFT JOIN 
    		product pro ON p.product_no = pro.product_no
    	WHERE 
    		p.user_id = #{searchKeyword}
		LIMIT #{limit} OFFSET #{offset}
	</select>

	<select id="getPurchaseTotalCount" parameterType="search" resultType="int">
    	SELECT
    		COUNT(*)
    	FROM
    		purchase
    	WHERE 
    		user_id = #{searchKeyword}
		LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<delete id="deletePurchase" parameterType="int">
		DELETE FROM 
			purchase
		WHERE 
			purchase_no = #{purchaseNo}
	</delete>
</mapper>