<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapmory.services.recommend.dao.RecommendDao">

	<resultMap id="recommendSelectMap" type="recommend">
		<!-- <result property="buyer"	column="buyer_id" jdbcType="VARCHAR" /> -->
		<result property="userId" column="record_user_id" jdbcType="VARCHAR" />
		<result property="recordNo" column="record_no" jdbcType="INTEGER" />
		<result property="recordTitle" column="record_title" jdbcType="VARCHAR" />
		<result property="category" column="category_name" jdbcType="VARCHAR" />
		<result property="hashTag" column="image_tag_text" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- timeline  -->
	<resultMap id="recordResultMapList"  type="java.util.HashMap">
	    <id property="recordNo" column="record_no" jdbcType="NUMERIC"/>
	    <result property="recordUserId" column="record_user_id" jdbcType="VARCHAR"/>
	    <result property="recordTitle" column="record_title" jdbcType="VARCHAR"/>
	    <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
	    <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
	    <result property="checkpointAddress" column="checkpoint_address" jdbcType="VARCHAR"/>
	    <result property="checkpointDate" column="checkpoint_date" jdbcType="TIMESTAMP"/>
	    <result property="mediaName" column="media_name" jdbcType="VARCHAR"/>
	    <result property="categoryNo" column="category_no" jdbcType="NUMERIC"/>
	    <result property="recordText" column="record_text" jdbcType="VARCHAR"/>
	    <result property="tempType" column="temp_type" jdbcType="TINYINT"/>
	    <result property="recordAddDate" column="record_add_date" jdbcType="TIMESTAMP"/>
	    <result property="sharedDate" column="shared_date" jdbcType="TIMESTAMP"/>
	    <result property="updateCount" column="update_count" jdbcType="NUMERIC"/>
	    <result property="d_DayDate" column="d_day_date" jdbcType="DATE"/>
	    <result property="timecapsuleType" column="timecapsule_type" jdbcType="NUMERIC"/>
	</resultMap>
	
	<select id="getCategory" parameterType="int" resultType="String">
		SELECT category_name FROM  category
		WHERE category_No = #{categoryNo};
	</select>
	
	<select id="getCategoryName" parameterType="int" resultType="String">
		SELECT category_name c 
		FROM record r, category c
		where r.category_no = c.category_no
		and record_no = #{recordNo}
	</select>
	
	<select id="getHashTagNames" parameterType="int" resultType="String">
		SELECT image_tag_text i
			FROM record r, image_tag i
    		WHERE r.record_no = #{recordNo}
    		AND i.image_tag_type = 0
    		AND r.record_no = i.record_no;
	</select>
	
	<insert id="addSearchData" parameterType="String">
		INSERT IGNORE INTO recommend_keyword (user_id, keyword)
		VALUES (#{userId}, #{keyword});
	</insert>
	
	<select id="getSearchData" parameterType="String" resultType="String">
		SELECT keyword FROM recommend_keyword
		<if test='userId != null'>
			WHERE user_id = #{userId};
		</if>	
	</select>
	
	<select id="getRecordList" resultMap="recordResultMapList">
		SELECT LATITUDE, LONGITUDE FROM record
		WHERE record_no IN
		<foreach item="recordNo" index="index" collection="recordNo" open="(" separator="," close=")">
			#{recordNo}
		</foreach>
	</select>
	
	

</mapper>