<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapmory.services.timeline.dao.TimelineDao">
    
    <!-- Result Map -->
<resultMap id="recordResultMap" type="java.util.HashMap">
    <result property="recordNo" column="record_no" jdbcType="NUMERIC"/>
    <result property='recordUserId' column='record_user_id' jdbcType='VARCHAR'/>
    <result property="recordTitle" column="record_title" jdbcType="VARCHAR"/>
    <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
    <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
    <result property="checkpointAddress" column="checkpoint_address" jdbcType="VARCHAR"/>
    <result property="checkpointDate" column="checkpoint_date" jdbcType="TIMESTAMP"/>
    <result property="mediaName" column="media_name" jdbcType="VARCHAR"/>
    <result property="categoryNo" column="category_no" jdbcType="NUMERIC"/>
    <result property="recordText" column="record_text" jdbcType="VARCHAR"/>
    <result property="tempType" column="temp_type" jdbcType="TINYINT"/>
    <result property="recordAddDate" column="record_add_date" jdbcType="TIMESTAMP"/>
    <result property="sharedDate" column="shared_date" jdbcType="TIMESTAMP"/>
    <result property="updateCount" column="update_count" jdbcType="NUMERIC"/>
    <result property="d_DayDate" column="d_day_date" jdbcType="DATE"/>
    <result property="timecapsuleType" column="timecapsule_type" jdbcType="NUMERIC"/>
    <!-- <collection property="imageName" ofType="String" javaType="ArrayList" select="selectImage" column="record_no"/>
    <collection property="hashtag" ofType="String" javaType="ArrayList" select="selectHashtag" column="record_no"/> -->
    <collection property="imageTagList" ofType="java.util.HashMap" javaType="java.util.ArrayList">
    	<result property="imageTagOrder" column="image_tag_order" />
    	<result property="imageTagType" column="image_tag_type" />
    	<result property="imageTagText" column="image_tag_text" />
    </collection>
</resultMap>

<resultMap id="sharedRecordResultMap" type="java.util.HashMap">
    <result property="recordNo" column="record_no" jdbcType="NUMERIC"/>
    <result property='recordUserId' column='record_user_id' jdbcType='VARCHAR'/>
    <result property="recordTitle" column="record_title" jdbcType="VARCHAR"/>
    <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
    <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
    <result property="checkpointAddress" column="checkpoint_address" jdbcType="VARCHAR"/>
    <result property="checkpointDate" column="checkpoint_date" jdbcType="TIMESTAMP"/>
    <result property="mediaName" column="media_name" jdbcType="VARCHAR"/>
    <result property="categoryNo" column="category_no" jdbcType="NUMERIC"/>
    <result property="recordText" column="record_text" jdbcType="VARCHAR"/>
    <result property="tempType" column="temp_type" jdbcType="TINYINT"/>
    <result property="recordAddDate" column="record_add_date" jdbcType="TIMESTAMP"/>
    <result property="sharedDate" column="shared_date" jdbcType="TIMESTAMP"/>
    <result property="updateCount" column="update_count" jdbcType="NUMERIC"/>
    <result property="d_DayDate" column="d_day_date" jdbcType="DATE"/>
    <result property="timecapsuleType" column="timecapsule_type" jdbcType="NUMERIC"/>
    <result property='nickname' column='nickname' jdbcType='VARCHAR'/>
    <result property='profileImageName' column='profile_image_name' jdbcType='VARCHAR'/>
    <result property='subscriptionEndDate' column='subscription_end_date' jdbcType='NUMERIC'/>
    <result property='categoryName' column='category_name' jdbcType='VARCHAR'/>
    <result property='categoryImoji' column='category_imoji' jdbcType='VARCHAR'/>
    <result property='replyCount' column='reply_count' jdbcType='NUMERIC'/>
    <result property='logsCount' column='logs_count' jdbcType='NUMERIC'/>
    <collection property="imageTagList" ofType="java.util.HashMap" javaType="java.util.ArrayList">
    	<result property="imageTagOrder" column="image_tag_order" />
    	<result property="imageTagType" column="image_tag_type" />
    	<result property="imageTagText" column="image_tag_text" />
    </collection>
</resultMap>

<resultMap id="recordResultMap2" type="com.mapmory.services.timeline.domain.Record2">
    <id property="recordNo" column="record_no" jdbcType="NUMERIC"/>
    <result property='recordUserId' column='record_user_id' jdbcType='VARCHAR'/>
    <result property="recordTitle" column="record_title" jdbcType="VARCHAR"/>
    <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
    <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
    <result property="checkpointAddress" column="checkpoint_address" jdbcType="VARCHAR"/>
    <result property="checkpointDate" column="checkpoint_date" jdbcType="TIMESTAMP"/>
    <result property="mediaName" column="media_name" jdbcType="VARCHAR"/>
    <result property="categoryNo" column="category_no" jdbcType="NUMERIC"/>
    <result property="recordText" column="record_text" jdbcType="VARCHAR"/>
    <result property="tempType" column="temp_type" jdbcType="TINYINT"/>
    <result property="recordAddDate" column="record_add_date" jdbcType="TIMESTAMP"/>
    <result property="sharedDate" column="shared_date" jdbcType="TIMESTAMP"/>
    <result property="updateCount" column="update_count" jdbcType="NUMERIC"/>
    <result property="d_DayDate" column="d_day_date" jdbcType="DATE"/>
    <result property="timecapsuleType" column="timecapsule_type" jdbcType="NUMERIC"/>
    <collection property="imageTagList" ofType="HashMap" javaType="java.util.ArrayList">
    	<result property="imageTagOrder" column="image_tag_order" />
    	<result property="imageTagType" column="image_tag_type" />
    	<result property="imageTagText" column="image_tag_text" />
    </collection>
</resultMap>

<select id='selectDetailTimeline2' resultMap='recordResultMap2' parameterType='Integer'>
    SELECT 
       a1.record_no AS record_no,
       a1.record_user_id AS record_user_id,
       a1.record_title AS record_title,
       a1.latitude AS latitude,
       a1.longitude AS longitude,
       a1.checkpoint_address AS checkpoint_address,
       DATE_FORMAT(a1.checkpoint_date, '%Y-%m-%d %H:%i:%s') AS checkpoint_date,
       a1.media_name AS media_name,
       a1.category_no AS category_no,
       a1.record_text AS record_text,
       a1.temp_type AS temp_type,
       DATE_FORMAT(a1.record_add_date, '%Y-%m-%d %H:%i:%s') AS record_add_date,
       DATE_FORMAT(a1.shared_date, '%Y-%m-%d %H:%i:%s') AS shared_date,
       a1.update_count AS update_count,
       a1.d_day_date AS d_day_date,
       a1.timecapsule_type AS timecapsule_type,
       a2.image_tag_order AS image_tag_order,
       a2.image_tag_type AS image_tag_type,
       a2.image_tag_text AS image_tag_text
   FROM 
       record a1
   JOIN image_tag a2 ON a1.record_no = a2.record_no
   WHERE 
       a1.record_no = #{value}
</select>

<insert id="insertTimeline" parameterType="record" useGeneratedKeys="true" keyProperty="recordNo">
	INSERT INTO record (record_user_id, record_title, latitude, longitude, checkpoint_address, media_name, category_no, record_text, temp_type, record_add_date, shared_date, update_count, d_day_date, timecapsule_type)
    VALUES (#{recordUserId:VARCHAR}, #{recordTitle:VARCHAR}, #{latitude:DOUBLE}, #{longitude:DOUBLE}, #{checkpointAddress:VARCHAR}, #{mediaName:VARCHAR}, #{categoryNo:NUMERIC}, #{recordText:VARCHAR}, #{tempType:TINYINT}, #{recordAddDate:TIMESTAMP}, #{sharedDate:TIMESTAMP}, #{updateCount:NUMERIC}, #{d_DayDate:DATE}, #{timecapsuleType:TINYINT})
	 <!-- 자동 생성된 키 값을 조회 -->
    <!-- <selectKey keyProperty="recordNo" keyColumn="record_no" resultType="int" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey> -->
</insert>

<insert id="insertImageTag" parameterType="map">
INSERT INTO image_tag (record_no, image_tag_type, image_tag_text)
    VALUES 
    <foreach collection="imageTagList" item="imageTag" separator=",">
    	(#{recordNo:NUMERIC}, #{imageTag.imageTagType:NUMERIC}, #{imageTag.imageTagText:VARCHAR})
    </foreach>
</insert>

<select id='selectDetailTimeline' resultMap='recordResultMap' parameterType='Integer'>
    SELECT 
       a1.record_no AS record_no,
       a1.record_user_id AS record_user_id,
       a1.record_title AS record_title,
       a1.latitude AS latitude,
       a1.longitude AS longitude,
       a1.checkpoint_address AS checkpoint_address,
       DATE_FORMAT(a1.checkpoint_date, '%Y-%m-%d %H:%i:%s') AS checkpoint_date,
       a1.media_name AS media_name,
       a1.category_no AS category_no,
       a1.record_text AS record_text,
       a1.temp_type AS temp_type,
       DATE_FORMAT(a1.record_add_date, '%Y-%m-%d %H:%i:%s') AS record_add_date,
       DATE_FORMAT(a1.shared_date, '%Y-%m-%d %H:%i:%s') AS shared_date,
       a1.update_count AS update_count,
       a1.d_day_date AS d_day_date,
       a1.timecapsule_type AS timecapsule_type,
       a2.image_tag_order AS image_tag_order,
       a2.image_tag_type AS image_tag_type,
       a2.image_tag_text AS image_tag_text
   FROM 
       record a1
   LEFT JOIN image_tag a2 ON a1.record_no = a2.record_no
   WHERE 
       a1.record_no = #{value}
</select>

<sql id="selectTimelineListUnit">
SELECT 
    record_no,
    record_user_id,
    record_title,
    latitude,
    longitude,
    checkpoint_address,
    DATE_FORMAT(checkpoint_date, '%Y-%m-%d %H:%i:%s') AS checkpoint_date,
    media_name,
    category_no,
    record_text,
    temp_type,
    DATE_FORMAT(record_add_date, '%Y-%m-%d %H:%i:%s') AS record_add_date,
    DATE_FORMAT(shared_date, '%Y-%m-%d %H:%i:%s') AS shared_date,
    update_count,
    d_day_date,
    timecapsule_type
FROM 
    record
<trim prefix="where" prefixOverrides="AND||OR">
	<if test="!(sharedType==null)">
		<if test="sharedType==1">
			shared_date is not null
		</if>
	</if>
	<if test="!(tempType==null)">
		<if test="tempType==0">
			AND temp_type=0
		</if>
		<if test="tempType==1">
			AND temp_type=1
		</if>
	</if>
	<if test="!(timecapsuleType==null)">
		<if test="timecapsuleType==0">
			AND timecapsule_type=0
		</if>
		<if test="timecapsuleType==1">
			AND timecapsule_type=1
		</if>
	</if>
	<if test="!(tempType==null or timecapsuleType==null)">
		<if test="tempType==1 and timecapsuleType==1">
			AND <![CDATA[d_day_date < CURRENT_TIMESTAMP]]>
		</if>
	</if>
	<if test='!(userId==null)'>
		<bind name='userId' value='_parameter.getUserId().trim()'/>
		<if test='!(userId=="")'>
			AND record_user_id=#{userId}
		</if>
	</if>
	<if test="!(selectDay1==null and selectDay2==null )">
		AND <![CDATA[checkpoint_date BETWEEN #{selectDay1} AND #{selectDay2}]]>
	</if>
</trim>
</sql>

<select id="selectTimelineList" parameterType="search" resultMap="recordResultMap">
SELECT
inner_table.*
FROM
	(
	<include refid="selectTimelineListUnit" />
	) inner_table
<if test="!(limit==0)">
LIMIT #{limit} OFFSET #{offset}
</if>
</select>

<select id="selectSummaryRecord" parameterType="searchDto" resultType="summaryRecordDto">
	SELECT 
       a1.record_no AS record_no,
       a1.checkpoint_address AS checkpoint_address,
       a1.checkpoint_date AS checkpoint_date,
       a2.image_tag_text AS image_tag_text
   FROM 
       record a1
   LEFT JOIN image_tag a2 ON a1.record_no = a2.record_no
<trim prefix="where" prefixOverrides="AND||OR">
	a1.record_user_id=#{userId}
	AND <![CDATA[a1.checkpoint_date BETWEEN TIMESTAMP(#{selectDate}, #{checkpointTime}) AND TIMESTAMP(DATE_ADD(#{selectDate}, INTERVAL 1 DAY), #{checkpointTime}) ]]>
	AND a1.temp_type=1 
	AND a1.timecapsule_type=0
	AND a2.image_tag_type=1
</trim>
	ORDER BY rand() limit 1
</select>

<update id="updateTimeline" parameterType="record">
    UPDATE record
    SET record_user_id = #{recordUserId:VARCHAR},
        record_title = #{recordTitle:VARCHAR},
        latitude = #{latitude:DOUBLE},
        longitude = #{longitude:DOUBLE},
        checkpoint_address = #{checkpointAddress:VARCHAR},
        checkpoint_date = #{checkpointDate:TIMESTAMP},
        media_name = #{mediaName:VARCHAR},
        category_no = #{categoryNo:NUMERIC},
        record_text = #{recordText:VARCHAR},
        temp_type = #{tempType:TINYINT},
        record_add_date = #{recordAddDate:TIMESTAMP},
        shared_date = #{sharedDate:TIMESTAMP},
        update_count = #{updateCount:NUMERIC},
        d_day_date = #{d_DayDate:DATE},
        timecapsule_type = #{timecapsuleType:TINYINT}
    WHERE record_no = #{recordNo:NUMERIC}
</update>

<delete id="deleteTimeline" parameterType="integer">
    DELETE FROM record WHERE record_no = #{recordNo}
</delete>

<delete id="deleteImageTag" parameterType="Integer">
    DELETE FROM image_tag WHERE record_no = #{recordNo}
</delete>

<delete id="deleteImageToImageNo" parameterType="Integer">
    DELETE FROM image_tag WHERE image_tag_order=#{imageTagOrder} AND image_tag_type=1
</delete>

	<!-- Create -->
    <insert id="insertCategory" parameterType="category" useGeneratedKeys="true" keyProperty="categoryNo">
        INSERT INTO category (CATEGORY_NAME, CATEGORY_IMOJI)
        VALUES (#{categoryName:VARCHAR}, #{categoryImoji:VARCHAR})
    </insert>

    <!-- Read -->
    <select id="selectCategory" resultType="category" parameterType="Integer">
        SELECT * FROM category WHERE CATEGORY_NO = #{categoryNo:NUMERIC}
    </select>

    <select id="selectCategoryList" resultType="category">
        SELECT * FROM category
    </select>

    <!-- Update -->
    <update id="updateCategory" parameterType="category">
        UPDATE category SET CATEGORY_NAME = #{categoryName:VARCHAR}, CATEGORY_IMOJI = #{categoryImoji:VARCHAR}
        WHERE CATEGORY_NO = #{categoryNo:NUMERIC}
    </update>

    <!-- Delete -->
    <delete id="deleteCategory" parameterType="Integer">
        DELETE FROM category WHERE CATEGORY_NO = #{categoryNo:NUMERIC}
    </delete>
    
    <select id="selectCountAddress" parameterType="record" resultType="countAddressDto">
	SELECT 
		COUNT(*) AS checkpoint_count, 
		(SELECT 
		DATE_FORMAT(checkpoint_date, '%Y-%m-%d %H:%i:%s') AS checkpoint_date 
		FROM record 
		WHERE checkpoint_address=#{checkpointAddress:VARCHAR} 
		AND record_user_id=#{recordUserId:VARCHAR}
		AND timecapsule_type=0 
		ORDER BY checkpoint_date DESC 
		LIMIT 1) AS checkpoint_date 
	FROM record 
	WHERE checkpoint_address=#{checkpointAddress:VARCHAR}  
	AND record_user_id=#{recordUserId:VARCHAR} 
	AND timecapsule_type=0 
	GROUP BY checkpoint_address=#{checkpointAddress:VARCHAR}
    </select>
    
    <select id="selectNotifyTimecapsule" resultType="notifyTimecapsuleDto" parameterType="java.time.LocalTime">
    SELECT
		a1.record_user_id AS record_user_id,
		COUNT(a1.d_day_date) AS timecapsule_count,
		a2.phone_number AS phone_number
	FROM record a1
	LEFT JOIN users a2 ON a1.record_user_id=a2.user_id 
	WHERE d_day_date 
	BETWEEN TIMESTAMP(CURRENT_DATE(), #{dDayTime}) AND TIMESTAMP(DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY), #{dDayTime}) 
	AND temp_type=1 
	AND timecapsule_type=1
	GROUP BY record_user_id
    </select>
    
<select id='selectDetailSharedRecord' resultMap='sharedRecordResultMap' parameterType='Integer'>
    SELECT 
       a1.record_no AS record_no,
       a1.record_user_id AS record_user_id,
       a1.record_title AS record_title,
       a1.latitude AS latitude,
       a1.longitude AS longitude,
       a1.checkpoint_address AS checkpoint_address,
       DATE_FORMAT(a1.checkpoint_date, '%Y-%m-%d %H:%i:%s') AS checkpoint_date,
       a1.media_name AS media_name,
       a1.category_no AS category_no,
       a1.record_text AS record_text,
       a1.temp_type AS temp_type,
       DATE_FORMAT(a1.record_add_date, '%Y-%m-%d %H:%i:%s') AS record_add_date,
       DATE_FORMAT(a1.shared_date, '%Y-%m-%d %H:%i:%s') AS shared_date,
       a1.update_count AS update_count,
       a1.d_day_date AS d_day_date,
       a1.timecapsule_type AS timecapsule_type,
       (SELECT nickname FROM users u WHERE u.USER_ID = a1.RECORD_USER_ID) AS nickname,
       (SELECT profile_image_name FROM users u WHERE u.USER_ID = a1.RECORD_USER_ID) AS profile_image_name,
       CASE WHEN (SELECT subscription_end_date FROM subscription s WHERE s.USER_ID = a1.RECORD_USER_ID) > CURRENT_DATE THEN 1 ELSE 0 END AS subscription_end_date,
    	(SELECT category_name FROM category c WHERE c.CATEGORY_NO = a1.CATEGORY_NO) AS category_name,
    	(SELECT category_imoji FROM category c WHERE c.CATEGORY_NO = a1.CATEGORY_NO) AS category_imoji,
    	(SELECT COUNT(*) FROM reply p WHERE p.RECORD_NO = a1.RECORD_NO) AS reply_count,
    	(SELECT COUNT(*) FROM community_logs l WHERE LOGS_TYPE = 0 AND l.RECORD_NO = a1.RECORD_NO) logs_count,
       a2.image_tag_order AS image_tag_order,
       a2.image_tag_type AS image_tag_type,
       a2.image_tag_text AS image_tag_text
   FROM 
       record a1
   LEFT JOIN image_tag a2 ON a1.record_no = a2.record_no
   WHERE 
       a1.record_no = #{value}
</select>
    
<sql id="selectSharedRecordListUnit">
SELECT
	RECORD_NO,
	RECORD_USER_ID,
	RECORD_TITLE,
	SHARED_DATE,
	UPDATE_COUNT,
    (SELECT nickname FROM users u WHERE u.USER_ID = r.RECORD_USER_ID) AS nickname,
    (SELECT profile_image_name FROM users u WHERE u.USER_ID = r.RECORD_USER_ID) AS profile_image_name,
    CASE WHEN (SELECT subscription_end_date FROM subscription s WHERE s.USER_ID = r.RECORD_USER_ID) > CURRENT_DATE THEN 1 ELSE 0 END AS subscription_end_date,
    (SELECT IMAGE_TAG_TYPE FROM image_tag i WHERE i.RECORD_NO = r.RECORD_NO limit 1) AS IMAGE_TAG_TYPE,
    (SELECT IMAGE_TAG_TEXT FROM image_tag i WHERE i.RECORD_NO = r.RECORD_NO limit 1) AS IMAGE_TAG_TEXT,
    (SELECT category_name FROM category c WHERE c.CATEGORY_NO = r.CATEGORY_NO) AS category_name,
    (SELECT category_imoji FROM category c WHERE c.CATEGORY_NO = r.CATEGORY_NO) AS category_imoji,
    (SELECT COUNT(*) FROM reply p WHERE p.RECORD_NO = r.RECORD_NO) AS reply_count,
    (SELECT COUNT(*) FROM community_logs l WHERE LOGS_TYPE = 0 AND l.RECORD_NO = r.RECORD_NO) logs_count
FROM 
    record r
<trim prefix="where" prefixOverrides="AND||OR">
    shared_date IS NOT NULL AND temp_type=1 AND timecapsule_type=0
</trim>
ORDER BY
	shared_date DESC,
	shared_date IS NULL DESC
</sql>

<select id="selectSharedRecordList" parameterType="search" resultType="sharedRecordDto">
SELECT
inner_table.*
FROM
	(
	<include refid="selectSharedRecordListUnit" />
	) inner_table
LIMIT #{limit} OFFSET #{offset}
</select>

<sql id="selectMapRecordListUnit" >
SELECT 
    record_no,
    record_user_id,
    record_title,
    latitude,
    longitude,
    checkpoint_address,
    DATE_FORMAT(checkpoint_date, '%Y-%m-%d %H:%i:%s') AS checkpoint_date,
    media_name,
    category_no,
    record_text,
    temp_type,
    DATE_FORMAT(record_add_date, '%Y-%m-%d %H:%i:%s') AS record_add_date,
    DATE_FORMAT(shared_date, '%Y-%m-%d %H:%i:%s') AS shared_date,
    update_count,
    d_day_date,
    timecapsule_type
FROM 
    record
<trim prefix="where" prefixOverrides="AND||OR">
	<![CDATA[latitude BETWEEN #{minLatitude} AND #{maxLatitude}]]>
	AND <![CDATA[longitude BETWEEN #{minLongitude} AND #{maxLongitude}]]>
	<if test="!(followType==null)">
		<if test="followType==1">
			AND record_user_id IN 
			(
			SELECT 
				target_id
				FROM follow_block
				WHERE user_id=#{userId}
				AND FB_TYPE=0
			)
			AND shared_date IS NOT NULL
		</if>
	</if>
	<if test="!(sharedType==null)">
		<if test="sharedType==1">
			AND shared_date IS NOT NULL
			AND NOT record_user_id=#{userId}
		</if>
	</if>
	<if test="!(userId==null)">
		<if test="sharedType==null and followType==null">
		AND record_user_id=#{userId}
		</if>
	</if>
	AND temp_type=1
	AND timecapsule_type=0
</trim>
ORDER BY rand() limit 30
</sql>
	
<select id="selectMapRecordList" parameterType="searchDto" resultMap="recordResultMap">
SELECT
inner_table.*
FROM
	(
	<include refid="selectMapRecordListUnit" />
	) inner_table
LIMIT #{limit} OFFSET #{offset}
</select>

<!-- 미사용 -->

<!-- <delete id="deleteHashtag" parameterType="Integer">
    DELETE FROM image_tag WHERE record_no = #{recordNo} AND image_tag_type=0
</delete> -->

<!-- <delete id="deleteImageToRecordNo" parameterType="Integer">
    DELETE FROM image_tag WHERE record_no = #{recordNo} AND image_tag_type=1
</delete> -->

<!-- <select id="selectImage" resultType="String" parameterType="Integer">
  SELECT
	image_tag_text
FROM
	image_tag
WHERE
	record_no=#{value} 
AND
	image_tag_type=1
ORDER BY 
    image_tag_order IS NULL ASC, 
    image_tag_order ASC;
</select>

<select id="selectHashtag" resultType="String" parameterType="Integer">
  SELECT
	image_tag_text
FROM
	image_tag
WHERE
	record_no=#{value} 
AND
	image_tag_type=0
ORDER BY 
    image_tag_order IS NULL ASC, 
    image_tag_order ASC;
</select> -->

<!-- <select id="selectImageForDelete" parameterType="Integer" resultType="imageTagDto">
SELECT
	image_tag_order,
	image_tag_text
FROM
	image_tag
WHERE
	record_no=#{value} 
AND
	image_tag_type=1
ORDER BY 
    image_tag_order IS NULL ASC, 
    image_tag_order ASC;
</select> -->

<!-- <insert id="insertImageName" parameterType="map">
	INSERT INTO image_tag (record_no, image_tag_type, image_tag_text)
    VALUES 
    <foreach collection="imageName" item="image" separator=",">
    	(#{recordNo:NUMERIC}, 1, #{image:VARCHAR})
    </foreach>
</insert>

<insert id="insertHashtag" parameterType="map">
	INSERT INTO image_tag (record_no, image_tag_type, image_tag_text)
    VALUES 
    <foreach collection="hashtag" item="tag" separator=",">
    	(#{recordNo:NUMERIC}, 0, #{tag:VARCHAR})
    </foreach>
</insert> -->

<!-- <select id="selectFollowUserId" parameterType="String" resultType="String">
SELECT 
target_id
FROM follow_block
WHERE user_id=#{userId}
AND FB_TYPE=0
</select> -->

<!-- <select id="selectDetailTimeline2" resultType="record2" parameterType="integer">
  SELECT 
    record_no,
    record_user_id,
    record_title,
    latitude,
    longitude,
    checkpoint_address,
    checkpoint_date,
    media_name,
    shared_type,
    category_no,
    record_text,
    temp_type,
    record_add_date,
    shared_date,
    update_count,
    d_day_date,
    timecapsule_type
FROM 
    record
WHERE 
    record_no = #{value}
</select>

<select id="selectImage2" resultType="string" parameterType="integer">
  SELECT
	image_tag_text
FROM
	image_tag
WHERE
	record_no=#{value} 
AND
	image_tag_type=1
ORDER BY 
    image_tag_order IS NULL ASC, 
    image_tag_order ASC;
</select>

<select id="selectHashtag2" resultType="string" parameterType="integer">
SELECT
	image_tag_text
FROM
	image_tag
WHERE
	record_no=#{value} 
AND
	image_tag_type=0
ORDER BY 
    image_tag_order IS NULL ASC, 
    image_tag_order ASC;
</select> -->
    
</mapper>
