<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapmory.services.timeline.dao.TimelineDao">
    
    <!-- Result Map -->
    <resultMap id="recordResultMap" type="record2">
    <id property="recordNo" column="record_no" jdbcType="NUMERIC"/>
    <result property="recordUserId" column="record_user_id" jdbcType="VARCHAR"/>
    <result property="recordTitle" column="record_title" jdbcType="VARCHAR"/>
    <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
    <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
    <result property="checkpointAddress" column="checkpoint_address" jdbcType="VARCHAR"/>
    <result property="checkpointDate" column="checkpoint_date" jdbcType="TIMESTAMP"/>
    <result property="mediaName" column="media_name" jdbcType="VARCHAR"/>
    <result property="sharedType" column="shared_type" jdbcType="TINYINT"/>
    <result property="categoryNo" column="category_no" jdbcType="NUMERIC"/>
    <result property="recordText" column="record_text" jdbcType="VARCHAR"/>
    <result property="tempType" column="temp_type" jdbcType="TINYINT"/>
    <result property="recordAddDate" column="record_add_date" jdbcType="TIMESTAMP"/>
    <result property="sharedDate" column="shared_date" jdbcType="TIMESTAMP"/>
    <result property="updateCount" column="update_count" jdbcType="NUMERIC"/>
    <result property="d_DayDate" column="d_day_date" jdbcType="DATE"/>
    <result property="timecapsuleType" column="timecapsule_type" jdbcType="NUMERIC"/>
    <collection property="imageTagList" ofType="java.lang.String">
		<result column="image_tag_text"/>
	</collection>
		
    <!-- <collection property="imageTagList" javaType="List" resultMap="selectImage3"/> -->
    <!-- <collection property="imageTageList" ofType="imageTag" column="record_no" select="selectImage2"/> -->
	<!-- <collection property="imageTagList" javaType="list" resultMap="selectImageTag2" /> -->
	<!-- <collection property="imageTagList" ofType="imageTag">
		<result property="imageTagOrder" column="image_tag_order"/>
		<result property="recordNo" column="record_no"/>
		<result property="imageTagType" column="image_tag_type"/>
		<result property="imageTagText" column="image_tag_text"/>
	</collection> -->
</resultMap>

<resultMap id="selectImage3" type="imageTag">
		<result property="imageTagOrder" column="image_tag_order"/>
		<result property="recordNo" column="record_no"/>
		<result property="imageTagType" column="image_tag_type"/>
		<result property="imageTagText" column="image_tag_text"/>
</resultMap>

<select id="selectDetailTimeline2" resultMap="recordResultMap">
   SELECT 
    a1.*,
    a2.image_tag_text
FROM 
    record a1
LEFT JOIN image_tag a2 ON a1.record_no = a2.record_no
WHERE 
    a1.record_no = #{value}
</select>

<select id="selectImage2" resultType="imageTag" parameterType="integer">
  SELECT
	*
FROM
	image_tag
WHERE
	record_no=#{value} 
AND
	image_tag_type=1
ORDER BY 
    image_tag_order IS NULL ASC, 
    image_tag_order ASC;
</select>

<insert id="insertTimeline" parameterType="record">
	INSERT INTO record (record_user_id, record_title, latitude, longitude, checkpoint_address, checkpoint_date, media_name, shared_type, category_no, record_text, temp_type, record_add_date, shared_date, update_count, d_day_date, timecapsule_type)
    VALUES (#{recordUserId:VARCHAR}, #{recordTitle:VARCHAR}, #{latitude:DOUBLE}, #{longitude:DOUBLE}, #{checkpointAddress:VARCHAR}, #{checkpointDate:TIMESTAMP}, #{mediaName:VARCHAR}, #{sharedType:TINYINT}, #{categoryNo:BIGINT}, #{recordText:VARCHAR}, #{tempType:TINYINT}, #{recordAddDate:TIMESTAMP}, #{sharedDate:TIMESTAMP}, #{updateCount:BIGINT}, #{d_DayDate:DATE}, #{timecapsuleType:TINYINT})
</insert>

<update id="updateTimeline" parameterType="record">
    UPDATE record
    SET record_user_id = #{recordUserId:VARCHAR},
        record_title = #{recordTitle:VARCHAR},
        latitude = #{latitude:DOUBLE},
        longitude = #{longitude:DOUBLE},
        checkpoint_address = #{checkpointAddress:VARCHAR},
        checkpoint_date = #{checkpointDate:TIMESTAMP},
        media_name = #{mediaName:VARCHAR},
        shared_type = #{sharedType:TINYINT},
        category_no = #{categoryNo:BIGINT},
        record_text = #{recordText:VARCHAR},
        temp_type = #{tempType:TINYINT},
        record_add_date = #{recordAddDate:TIMESTAMP},
        shared_date = #{sharedDate:TIMESTAMP},
        update_count = #{updateCount:BIGINT},
        d_day_date = #{d_DayDate:DATE},
        timecapsule_type = #{timecapsuleType:TINYINT}
    WHERE record_no = #{recordNo:BIGINT}
  </update>

<select id="selectDetailTimeline" resultType="record" parameterType="integer">
  SELECT 
    record_no,
    record_user_id,
    record_title,
    latitude,
    longitude,
    checkpoint_address,
    checkpoint_date,
    media_name,
    shared_type,
    category_no,
    record_text,
    temp_type,
    record_add_date,
    shared_date,
    update_count,
    d_day_date,
    timecapsule_type
FROM 
    record
WHERE 
    record_no = #{value}
</select>

<select id="selectImage" resultType="string" parameterType="integer">
  SELECT
	image_tag_text
FROM
	image_tag
WHERE
	record_no=#{value} 
AND
	image_tag_type=1
ORDER BY 
    image_tag_order IS NULL ASC, 
    image_tag_order ASC;
</select>

<select id="selectHashtag" resultType="string" parameterType="integer">
SELECT
	image_tag_text
FROM
	image_tag
WHERE
	record_no=#{value} 
AND
	image_tag_type=0
ORDER BY 
    image_tag_order IS NULL ASC, 
    image_tag_order ASC;
</select>

<delete id="deleteTimeline" parameterType="integer">
    DELETE FROM record WHERE record_no = #{recordNo}
</delete>
    
</mapper>
