<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>상품 상세</title>
</head>

<body>
    <h1>상품 상세</h1>
    <div>
        <h2 th:text="${product.productTitle}">상품 제목</h2>
        <p th:text="${product.price}">가격</p>
        <div>
            <img th:each="uuid, iterStat : ${product.uuid}" th:src="@{'https://bcuacdphgdfn24694507.cdn.ntruss.com/productImage/' + ${uuid}}" alt="상품 이미지" width="300" height="300">
        </div>
        <a th:href="@{/product/updateProduct/{productNo}(productNo=${product.productNo})}">수정</a>
        <a th:href="@{/product/deleteProduct/{productNo}(productNo=${product.productNo})}" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a>
    </div>
</body>

</html>