<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>2단계 인증 설정</title>

<th:block th:replace="~{/common/dependencies}"></th:block>

	<style>

		
		a {
			color: inherit;
			text-decoration: none;
		}
	</style>

<script th:inline="javascript">

	$( function() {
		
		// const userId = /*[[${userId}]]*/ '';
		/*
		// const encodedKey;
		
		$.ajax({
			
			url : "/user/rest/generateKey",
			method : "POST",
			// dataType : "JSON",
			
			headers : {
				"Accept" : "application/json"
				// "Content-Type" : "application/json"
			},
			
			//data : JSON.stringify({ 
				// userId : userId,
				// userName : userId
			//}), 
			success : function(responseBody, httpStatus){

				console.log("_"+responseBody+"_");
				// console.log("_"+JSON.parse(responseBody)+"_");
				console.log("_"+responseBody.message+"_");
				// console.log(responseBody == "")
				
				
				// if(responseBody.message == "no-cookie")
				//	window.location.href = "/";
				
				
				// $('.row:last').empty();
				// $('form').empty();
				let detail = "";
				detail += "<p style='bold'>Google authenticator를 설치하고 2단계 인증을 수행하세요.</p>";
				
				if(responseBody != "") {
					
					// encodedKey = responseBody.encodedKey;
					
					detail += "<p>최초 2단계 인증 수행 시에만 키가 제공됩니다. 90일 뒤에 만료됩니다. 2단계 인증 재설정 시에 키를 다시 발급 받을 수 있습니다.</p>";
					detail += "<p id='encodedKey'>" + responseBody.encodedKey +"</p>"; 			
					detail += "<img src='https://quickchart.io/chart?cht=qr&chs=200x200&chl=otpauth://totp/"+responseBody.userName+"@"+responseBody.hostName+"?secret="+responseBody.encodedKey+"&chld=H|0' alt=''>";
					detail += "<hr/>";
					
				} 
				
				// $('.row:last').append(detail);
				$('form').append(detail);
			}, error: function(xhr, status, error) {
  		        console.error("네트워크 오류:", error);
  		        alert("네트워크 오류");
  		        window.location.href="/";
  		      }
		});
		*/
		/*
		$(document).on('click', '#checkKey', function() {
			
			$.ajax({
				
				url : "/user/rest/checkSecondaryKey",
				method : "POST",
				dataType : "JSON",
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
				data : JSON.stringify({ 
					// encodedKey : $('#encodedKey').text(),
					// userId : userId,
					userCode : $('input[name="userCode"]').val()
					// encodedKey : encodedKey
				}),
				success : function(responseBody, httpStatus){

					console.log(responseBody);
					
					const isValid = responseBody.result;
					const role = responseBody.role;
					
					if(isValid == true || isValid == 'true') {
						
						
						if(role == 0)
							window.location.href="/user/admin/getAdminMain";
						else if (role == 1)
							window.location.href="/map";
						else
							alert('server error');
						
					}
					
				}
			});
		});
		*/
		
	});

</script>

</head>
<body>

	<div class="container mt-3">
		<div class="d-flex">
			<a class="col-1 text-start fs-1" href="javascript:history.back()">⇦</a>
			<div class="col-6"></div>
			<p class="h2 mt-3">2단계 인증</p>
		</div>

		<form>
			<p class="h4">경고: 현재 발급된 key를 등록하지 않으면 다음 로그인을 진행하실 수 없습니다!!! (key를 잃어버리셨으면 고객센터에 문의 남겨주세요.)</p>
			<p>2단계 인증 재설정 시에 키를 다시 발급 받을 수 있습니다.</p>
			<!-- <p>90일 뒤에 자동으로 만료됩니다.</p>  -->
			<p id='encodedKey' th:text="${authKey.encodedKey}"></p>			
			<!-- <img src='https://quickchart.io/chart?cht=qr&chs=200x200&chl=otpauth://totp/"+responseBody.userName+"@"+responseBody.hostName+"?secret="+responseBody.encodedKey+"&chld=H|0' alt=''>  -->
			<!-- <img th:src='@{https://quickchart.io/chart(cht="qr", chs="200x200", chld="H|0", secret=${authKey.encodedKey}, chl="otpauth://totp/"+${authKey.userName}+"@"+${authKey.hostName})}' alt=''>  -->
			<!-- <img th:src='https://quickchart.io/chart?cht=qr&chs=200x200&chl=otpauth://totp/"+[[${authKey.userName}]]+"@"+[[${authKey.hostName}]]+"?secret="+[[${authKey.encodedKey}]]+"&chld=H|0' alt=''>  -->
			<img th:src="${keyQR}" alt=''>			
			<!-- 
			<div class='form-group'>
				<label class="form-label" for="userName">인증번호</label>
				<input type="text" name="userCode" class="form-control" placeholder="인증번호 6자리 입력">
			</div>
			<div class="d-grid gap-2">
			  <button class="btn btn-primary mt-3" type="button" id="checkKey">인증하기</button>
			</div>
			 -->
		</form>
	</div>
</body>
</html>