<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>이용약관</title>
	<th:block th:replace="~{/common/dependencies}"></th:block>
	<link href="/css/common/hyperlink-to-text.css" rel="stylesheet">
	
	
	<script>
		$(function() {
			
			$('#next').on('click', function() {
			
				let allChecked = true;
				
				$('input[type=checkbox]').each(function(){
					
					console.log($(this).closest('div').find('span').html());
					
					if($(this).closest('div').find('span').text()==='필수' && !$(this).is(':checked')) {
						allChecked = false;
						alert("모든 필수 이용약관에 동의해주셔야 합니다.");
						return false;
					}
				});
				
				console.log(allChecked);
				if(allChecked) {
					
					console.log('flag');
					$('form').attr('method', 'post').attr('action', '/user/getSignUpView').submit();
				}
			});
		});
	</script>
</head>
<body class="container mt-5">
	

	<div class="row ">
		<p class="fs-1 col-9 ">이용약관 동의</p>
		<div class="col-1"></div>
		<a class="fs-1 col-1" href="javascript:history.back()">⇦</a>
	</div>

	<form class='row mt-4'>
		<div th:each="tac, state : ${tacList}">
			<div>
				<input type="checkbox" name="checked" th:id="${state.count}" th:value="${state.count}">
				<label th:for="${state.count}">[<span th:text="${tac.required == true} ? '필수' : '선택'"></span>] [[${tac.title}]]</label>
			</div>
			<div>
				<a class="text-body-tertiary" th:href="@{/user/getUserDetailTermsAndConditions(tacType=${state.count})}">&nbsp;&nbsp;&nbsp;&nbsp;> 자세히 보기</a>
			</div>
			<br/>
		</div>
	</form>
	
	<br/>
	<br/>
	<div class="d-grid gap-2 col-11 mx-auto fixed-bottom mb-3 ">
		<button class="btn btn-primary " type="button" id="next">다음</button>
	</div>
</body>	
</html>