<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{/common/dependencies}"></th:block>
	<link rel="stylesheet" href="/css/common/footer.css">
	<title>팔로우 목록</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<style>
		a {
			color: inherit;
			text-decoration: none;
		}
	
	</style>

</head>
<body>
	
	<div class="container">

		<div class="row sticky-top mt-4" style="background:#FFFFFF;">
			<p class="h2 col-6">팔로우 목록</p>
			<div class="col-4"></div>
			<a class="col-1 text-end fs-1" href="javascript:history.back()">⇦</a>
		</div>

	
		
	
		<th:block th:replace="~{/user/fragments/followList}"></th:block>
	</div>
	<div th:replace="common/footer::defaultFooter"></div>
</body>	
</html>