<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{/common/dependencies}"></th:block>
	<link rel="stylesheet" href="/css/common/footer.css">
	<link rel="stylesheet" href="/css/user/profile-image.css"  >
	<link rel="stylesheet" href="/css/common/mapmory-color.css"  >
	<title>팔로워 목록</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	
	<style>
		a {
			color: inherit;
			text-decoration: none;
		}
		
		.loading {
            text-align: center;
            padding: 20px;
            /*display: none;*/
        }
	</style>


<script th:inline="javascript">

	const sessionId = sessionStorage.getItem('userId');
	const profileUserId = /*[[${profileUserId}]]*/ '';

	$(function() {
		
		$('#back').on('click', function() {
			
			history.back();
		});
		
		$('input').on('input', function() {
			
			// 입력할 때마다 리스트 최신화
		});
		
		$(document).on('click', '.follow', function() {
			
			const btn = $(this);
			const targetId = btn.parent().parent().attr('id');

			
			$.ajax({
		      url: "/user/rest/addFollow",
		      method: "POST",
		      contentType:"application/json",
		      data: JSON.stringify({
		        targetId: targetId
		      }),
		      success: function(response) {
		        
		    	  console.log(response);
		    	  
				if(response == true || response == "true") {
					
					
					// btn.parent().find("button").text("언팔로우");
					// btn.parent().find("button").attr('class', 'unfollow');
					btn.text('언팔로우');
					btn.removeClass('follow').addClass('unfollow');
					
				} else {
					
					console.log('false');
					alert('변경 실패...');
					
				}
		      },
		      error: function(xhr, status, error) {
		        console.error("네트워크 오류:", error);
		        alert("네트워크 오류");
		      }
		    });
		});
		
		$(document).on('click', '.unfollow', function() {
			

			const btn = $(this);
			const targetId = btn.parent().parent().attr('id');

			$.ajax({
		      url: "/user/rest/deleteFollow",
		      method: "POST",
		      contentType:"application/json",
		      data: JSON.stringify({
		        targetId: targetId
		      }),
		      success: function(response) {
		        
		    	  console.log(response);
		    	  
				if(response == true || response == "true") {

					//btn.parent().find("button").text("팔로우");
					//btn.parent().find("button").attr('class', 'follow');
					btn.text('팔로우');
					btn.removeClass('unfollow').addClass('follow');
					
				} else {
					
					console.log('false');
					alert('변경 실패...');
					
				}
		      },
		      error: function(xhr, status, error) {
		        console.error("네트워크 오류:", error);
		        alert("네트워크 오류");
		      }
		    });
			
		});
		
		$(document).on('click', '.userDiv', function() {
			
			const targetId = $(this).closest('.userBlock').attr('id');
			
			if(sessionId == targetId) {
			
				window.location.href=`/user/getProfile?userId=${targetId}`;
				return;
			}
			
			if(sessionId != targetId) {
				
				$.ajax({
						
						url: `/user/rest/checkHideProfile/${targetId}`,
						type : "get",
						// contentType : "application/json",
						success : function(response) {
							
							if(response == false || response == 'false') {
	
								window.location.href=`/user/getProfile?userId=${targetId}`;
								return;
								
							} else {
								
								alert('해당 사용자의 프로필에는 접근하실 수 없습니다.');
								return;
							}						
						},
						error : function(jqXHR, textStatus, errorThrown) {
							alert('오류 발생 : ' + jqXHR.responseText)
						}
						
				});
			}
		});
		
		$('input[name="search"]').on('input', function() {
			
			const inputVal = $(this).val();
			
			console.log("my input is ", inputVal);
			
			// 검색 상태 초기화
 			listSetup = true;
 			listCurrentPage = 1;
 			listEndOfData = false;
        	 $('#list-contents').empty();
        	 loadMoreList(inputVal);
			
		});
	});
</script>

<script>
	
	let listSetup = true;
	let listCurrentPage = 1;
	let listEndOfData = false;// 데이터를 모두 로드했는지 확인하는 변수
	let isLoading = false;
	
	$(function() {
		
		loadMoreList();
		
		// window.scrollTo(0, 100);
	
		$(window).scroll(function() {
			
			let scrollTop = $(window).scrollTop();
			let windowHeight =  $(window).height();
			let documentHeight = $(document).height();
	
			// 끝이 나지 않았을 경우에만 다음 page 호출
			// console.log("is sharedlist scroll ended? " + !(!sharedListEndOfData && !isLoading && (pageType.text() == "sharedList")));
	        if (!listEndOfData && !isLoading) {
	        	console.log("is sharedlist scroll ended? " + (scrollTop + windowHeight >= documentHeight - 100));
	            if ( scrollTop + windowHeight >= documentHeight - 100) {
	            	
	            	isLoading = true; // 로딩 시작
	            	loadMoreList().then((value) => {
	            		
	            		console.log(value);
	            		// console.log("load finish");
	            		isLoading = false; // 로딩 완료 후 플래그 재설정    		    			
	            		
	            	}).catch(() => {
	            		
	            		console.log("load error");
	                    isLoading = false; // 에러 발생 시 플래그 재설정
	                });
	            }
	        }
	    });
	
	});
	
	function checkIfNeedToLoadMore() {
		
	    let scrollTop = $(window).scrollTop();
	    let windowHeight = $(window).height();
	    let documentHeight = $(document).height();

	    if (documentHeight <= windowHeight) {
	    	
	    	// console.log('setup start');
	    	loadMoreList().then((value)=> {
	    		
	    		console.log(value);
	    		// isLoading = false; // 로딩 완료 후 플래그 재설정    	
	    	});
	    } else {
	
	    	console.log("setup finished.");
	    	// setupType = false;
	    	// loadType = false; // 로딩 완료 후 플래그 재설정
	    	listSetup = false;
	    	isLoading = false;
	    	
	    }
	}
	
	function loadMoreList() {
		
		  
	    isLoading = true; // 로딩 시작
	    const loadingView = `<div id="loading" class="loading">
	        <i class="fas fa-spinner fa-spin"></i> 로딩 중...
	    </div>`;
	    $('#list-contents').append(loadingView);
	    
		console.log("currentPage = " + listCurrentPage);
	    // console.log('is sharedList ended? ' +sharedListEndOfData);
		if(listEndOfData == true) {

		  console.log('all finished');
		  $('#list-contents #loading').remove();
		  return;
		  
	  	} 
		
		let url = `/user/rest/getFollowList/${profileUserId}?currentPage=${listCurrentPage}`;
		
		if( (inputVal != "") && (inputVal != undefined)) {
			url += `&keyword=${inputVal}`;
		}
		
		return new Promise((resolve, reject) => {
			
			$.ajax({
	
				  url: url,
			      method: "post",
			      // contentType:"application/json",
			      // dataType: "application/json",
			      success: function(response) {

			    	  // console.log(response);

			    	  if(response.followerList.length == 0) {
			      		  
			      		  listEndOfData = true;
			      		$('#list-contents #loading').remove();
			      		  resolve("I think it's end");
			      		  // return;
			      		  
			      	  } 
	
			    	  listCurrentPage++;
			    	  
			    	  const profileImageList = response.profileImageList;		    	  
			    	  const badgeImage = response.badgeImage;
			    	  
			    	  response.followerList.forEach((user) => {

			    		  const userId = user.userId;
			    		  const userName = user.userName;
			    		  const nickname = user.nickname;
			    		  const isSubscribed = user.isSubscribed;
			    		  const isFollow = user.isFollow;  // session 사용자 기준
			    		  
			    		  const profileImage = profileImageList[0];
			    		  profileImageList.shift();
			    		  
			    		  let temp = `
			    		        <div id="${userId}" class="d-flex userBlock">
				    	            <div class="profile-box-custom mx-2 userDiv">
				    	                <img class="profile-custom" src="data:image/jpeg;base64,${profileImage}">
				    	            </div>
				    	            <div>
				    	                <div class="d-flex mt-2 userDiv">
				    	                    <p class="me-2">${nickname}</p>
		    	                    `;
		    	              if(isSubscribed == 1) {
		    	            	  temp += 	`
			    	                    <img src="data:image/jpeg;base64,${badgeImage}" style="width:40px; height:40px; position: relative; top: -7px; left: -10px">
	    	              			`;  
		    	              }
		    	              temp +=	`
				    	                </div>
				    	               `;
				    	               
				    	      if(sessionId != userId) {
				    	      		temp += `
				    	                <button type="button" class="btn btn-primary ${isFollow == 1 ? 'unfollow' : 'follow'}">
				    	                    ${isFollow == 1 ? '언팔로우' : '팔로우'}
				    	                </button>
				    	               `;
				    	      } 
				    	      temp += `         
				    	            </div>
				    	        </div>
				    	        <hr/>
			    	    			`;		    	
			    	    			
	    	    			$('#list-contents #loading').remove();
			    		  $('#list-contents').append(temp);
	
			    	  });		
			    	      		    	
			    	  if(listSetup)
			    		  	// checkIfNeedToLoadMoreShared(sharedListSetup, loadMoreSharedList, isLoading);
			    		  checkIfNeedToLoadMore();
	
			    	  // console.log("shared loading end : "+ isLoading);
			    	  
			          resolve("content loaded"); // 성공적으로 처리되었음을 알림
			      },
			      error: function(xhr, status, error) {
			        console.error("네트워크 오류:", error);
			        alert("네트워크 오류");
			        reject(); // 에러 발생 시
			      }
				
			});
			
		});
		
	}

</script>
	
</head>
<body>
	
	<div id="content-for-footer" class="container">
		<div class="d-flex sticky-top mt-4" style="background:#FFFFFF; justify-content: space-between;" >
			<a class="fs-1" href="javascript:history.back()">⇦</a>
			<p class="h2" style="position: relative; top: 10px;">팔로워 목록</p>
		</div>
		
		<form class="mt-3">
			<input type="text" name="search" class="form-control" placeholder="사용자 이롬 또는 닉네임을 검색..."/>
		</form>
	
		<div class="mt-3" id="list-contents">
			<!-- <th:block th:replace="~{/user/fragments/followList}"></th:block>  -->
		</div>
	</div>
	<div th:replace="common/footer::defaultFooter"></div>
</body>	
</html>