<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{/common/dependencies}"></th:block>
	<link rel="stylesheet" href="/css/common/footer.css">
	
	<link rel="stylesheet" href="/css/user/profile-image.css"  >
	<link rel="stylesheet" href="/css/common/mapmory-color.css"  >
	<title>팔로워 목록</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		a {
			color: inherit;
			text-decoration: none;
		}
	</style>

	
</head>
<body>
	
	<div class="container">
		<div class="row sticky-top mt-4" style="background:#FFFFFF;">
			<a class="col-1 text-end fs-1" href="javascript:history.back()">⇦</a>
			<div class="col-6"></div>
			<p class="h2 col-5 mt-2">팔로워 목록</p>
		</div>
	
		<th:block th:replace="~{/user/fragments/followList}"></th:block>
	</div>
	<div th:replace="common/footer::defaultFooter"></div>
</body>	
</html>