<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  -->
    <th:block th:replace="~{/common/dependencies}"></th:block>
	<script src="/javascript/user/userValidation.js"></script>
	<link rel="stylesheet" href="/css/common/mapmory-color.css">
	
	<title>아이디 찾기</title>
	
	<style>

		
		a {
			color: inherit;
			text-decoration: none;
		}
	</style>
	
	<script>
	
		$(function() {
			
			$('#submitForm').on('click', function() {
				
				if ($('#userNameChecked').text() === 'false') {
		            $('#userNameMsg').text('이름을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#userNameMsg').css('display', 'none');
			    	
			    }
				
				if ($('#emailChecked').text() === 'false') {
		            $('#emailMsg').text('이메일을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#emailMsg').css('display', 'none');
			    	
			    }
				
				
				// $('form').attr('method','post').attr('action', '/user/getId').submit();
				
				const form = new FormData($('form').get(0));
				   const formJson = {};
				   
				   form.forEach((value, key) => {
					   
					   formJson[key] = value;
				   })
				   console.log(formJson);
				   
				    $.ajax({
				    	type : 'post',
						url : '/user/rest/getId',
						data : JSON.stringify(formJson),
						contentType : "application/json",
						success : function(response){
							
							$('form').html('<p >당신의 id는 <u>' + response + '</u>입니다.</p>');
	
						},
						error: function(xhr, status, error){
							alert("존재하지 않는 이름 또는 이메일입니다...");
						}
				    });

			});
			
			
		});
	
	</script>
</head>
<body class="container mt-3">

	
	<div class="d-flex" style="justify-content: space-between;">
		<a class="fs-1" href="javascript:history.back()">⇦</a>
		<p class="h2 mt-3">아이디 찾기</p>
	</div>
	
	<form >
	
		<div>
            <label class="form-label" for="userName">이름</label>
            <input class="form-control mb-3" type="text" id="userName" name="userName"  placeholder="이름" required/>
            <p id="userNameMsg" style="display: none;"/>
            <p id="userNameChecked" style="display: none;">false</p>
        </div>
        
        <div id="emailDiv">
            <label class="form-label" for="email">이메일</label>
            <input class="form-control mb-3" type="email" id="email" name="email"  placeholder="이메일 (예: test@test.com)" required/>
            <button type="button" class="btn btn-secondary" id="sendAuthEmail">인증번호 발송</button>
            <input type="hidden" class="form-control mt-3" id="emailAuthCode" name="emailAuthCode" placeholder="인증코드 6자리 입력">
            <p id="emailMsg" style="display: none;"/>
            <p id="emailChecked" style="display: none;">false</p>		
        </div>
		
		<div class="d-grid gap-2 fixed-bottom mb-3 col-11 mx-auto">
		  <button type="button" id="submitForm" class="btn btn-primary">ID 조회</button>
		</div>
		
	</form>

</body>	
</html>