<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{/common/dependencies}"></th:block>
	<link rel="stylesheet" href="/css/user/profile-image.css"  >
	<link rel="stylesheet" href="/css/common/mapmory-color.css"  >
	<link rel="stylesheet" href="/css/common/footer.css">
	
	<title>프로필</title>
	
	<style>

		
		a {
			color: inherit;
			text-decoration: none;
		}
		
		.category {
			display: flex;
    		align-items: center;
		}
		
	</style>
	
	
	
	<script th:inline="javascript">
	
		const profileUserId = [[${profile.user.userId}]];
		const sessionId = `[[${sessionId}]]`;
		let isLoading = false;
		let pageType = null;
		
		// console.log('profileUserId : ' + userId);
	
		$(function(){
	
			const myProfile = [[${myProfile}]];
			const isFollow = [[${isFollow}]];
			pageType = $('#pageType');
			pageType.text('sharedList');
			console.log(pageType.html());
			console.log("pageType = " + pageType.text());
			
			
			console.log("내 프로필 : " + myProfile);
			
			if(myProfile == true || myProfile == "true") {
				
				$('#myProfile').css('display','block');
				
					
			} else {
				
				$('#otherProfile').css('display','block');
				
				if (isFollow == true || isFollow == "true") {
					
					$('#deleteFollow').css('display','block');
					
				} else {
					
					$('#addFollow').css('display','block');
					
				}
			}

		});
	
		$(function() { 	

			$('#back').on('click', function() {
				
				// window.location.href="/timeline/getTimelineList?userId="+userId;
				history.back();
			});
			
			$('#follow-list').on('click', function() {
				
				console.log("flag");
				window.location.href="/user/getFollowList?userId="+profileUserId;
			});
			
			$('#follower-list').on('click', function() {
				
				window.location.href="/user/getFollowerList?userId="+profileUserId;
			});
			
			$('#updateProfile').on('click', function() {
				
				window.location.href="/user/getUpdateProfileView?userId="+profileUserId;
			});
					
			$('#deleteFollow').on('click', function() {
				
				$.ajax({
			      url: "/user/rest/deleteFollow",
			      method: "POST",
			      contentType:"application/json",
			      data: JSON.stringify({
			        targetId: profileUserId
			      }),
			      success: function(response) {
			        
					if(response == true || response == "true") {
						
						$('#deleteFollow').css('display', 'none');
						$('#addFollow').css('display', 'block');
						
					} else {
						
						console.log('false');
						alert('변경 실패...');
						
					}
			      },
			      error: function(xhr, status, error) {
			        console.error("네트워크 오류:", error);
			        alert("네트워크 오류");
			      }
			    });
		    });
		
			$('#addFollow').on('click', function() {
				
				$.ajax({
			      url: "/user/rest/addFollow",
			      method: "POST",
			      contentType:"application/json",
			      data: JSON.stringify({
			        targetId: profileUserId
			      }),
			      success: function(response) {
			        
					if(response == true || response == "true") {
						
						$('#deleteFollow').css('display', 'block');
						$('#addFollow').css('display', 'none');
						
						// 팔로우/팔로잉 수 동적 처리 ajax 필요함
						
					} else {
						
						console.log('false');
						alert('변경 실패...');
						
					}
			      },
			      error: function(xhr, status, error) {
			        console.error("네트워크 오류:", error);
			        alert("네트워크 오류");
			      }
			    });
			});
			
			$('#myChatList').on('click', function() {
				
				window.location.href="https://mapmory.co.kr/video-call/chatlist";
			});
			
			$('#chat').on('click', function() {
				
				$.ajax({
	               url: "https://mapmory.co.kr/chatting/findOneChatRoom",
	               method: "POST",
	               contentType:"application/json",
	               data: JSON.stringify({
	                userId: sessionId,
	                 opponent: profileUserId
	               }),
	               success: function(response) {
	                 
	               if(response != null) {
	
	                  console.log("채팅서버 응답 : " + response);
	                  window.location.href="/video-call/chatroom/"+response;
	                  
	               } else {
	                  
	                  console.log("실패");
		                  
		               }
	               }
				});
			});
		});

		$(function(){
			
			$('#sharedRecordList').css('display', 'block');
			$('#replyList').css('display', 'none');
			$('#bookMarkList').css('display', 'none');
			$('#reactListDiv').css('display', 'none');
			$('#reactRecordList').css('display', 'none');
			$('#reactReplyList').css('display', 'none');
			
			$('#sharedRecordListBtn').addClass('btn-secondary-custom');
			
			$('#sharedRecordListBtn').on('click', function() {
				
				$('#sharedRecordList').css('display', 'block');
				$('#replyList').css('display', 'none');
				$('#bookMarkList').css('display', 'none');
				$('#reactListDiv').css('display', 'none');
				
				$('#sharedRecordListBtn').removeClass('btn-secondary-custom').addClass('btn-secondary-custom');
				$('#replyListBtn').removeClass('btn-secondary-custom');
				$('#bookMarkListBtn').removeClass('btn-secondary-custom');
				$('#reactListBtn').removeClass('btn-secondary-custom');
				
				pageType.text('sharedRecord');
				console.log(pageType.text());
				
			});
						
			$('#replyListBtn').on('click', function() {
							
				$('#sharedRecordList').css('display', 'none');
				$('#replyList').css('display', 'block');
				$('#bookMarkList').css('display', 'none');
				$('#reactListDiv').css('display', 'none');	
				
				$('#sharedRecordListBtn').removeClass('btn-secondary-custom');
				$('#replyListBtn').removeClass('btn-secondary-custom').addClass('btn-secondary-custom');
				$('#bookMarkListBtn').removeClass('btn-secondary-custom');
				$('#reactListBtn').removeClass('btn-secondary-custom');
				
				pageType.text('replyList');
				console.log(pageType.text());
			});
						
			$('#bookMarkListBtn').on('click', function() {
				
				$('#sharedRecordList').css('display', 'none');
				$('#replyList').css('display', 'none');
				$('#bookMarkList').css('display', 'block');
				$('#reactListDiv').css('display', 'none');	
				
				$('#sharedRecordListBtn').removeClass('btn-secondary-custom');
				$('#replyListBtn').removeClass('btn-secondary-custom');
				$('#bookMarkListBtn').removeClass('btn-secondary-custom').addClass('btn-secondary-custom');
				$('#reactListBtn').removeClass('btn-secondary-custom');
				
			});
			
			$('#reactListBtn').on('click', function() {
				
				$('#sharedRecordList').css('display', 'none');
				$('#replyList').css('display', 'none');
				$('#bookMarkList').css('display', 'none');
				$('#reactListDiv').css('display', 'block');
				$('#reactRecordList').css('display', 'block');
				$('#reactReplyList').css('display', 'none');
				
				$('#sharedRecordListBtn').removeClass('btn-secondary-custom');
				$('#replyListBtn').removeClass('btn-secondary-custom');
				$('#bookMarkListBtn').removeClass('btn-secondary-custom');
				$('#reactListBtn').removeClass('btn-secondary-custom').addClass('btn-secondary-custom');
				
				$('#reactRecordListBtn').removeClass('btn-secondary-custom').addClass('btn-secondary-custom');
				$('#reactReplyListBtn').removeClass('btn-secondary-custom');
			});
			
			$('#reactRecordListBtn').on('click', function() {
				
				$('#sharedRecordList').css('display', 'none');
				$('#replyList').css('display', 'none');
				$('#bookMarkList').css('display', 'none');
				$('#reactListDiv').css('display', 'block');
				$('#reactRecordList').css('display', 'block');
				$('#reactReplyList').css('display', 'none');
				$('#reactRecordListBtn').removeClass('btn-secondary-custom').addClass('btn-secondary-custom');
				$('#reactReplyListBtn').removeClass('btn-secondary-custom');
			});
			
			$('#reactReplyListBtn').on('click', function() {
				
				$('#sharedRecordList').css('display', 'none');
				$('#replyList').css('display', 'none');
				$('#bookMarkList').css('display', 'none');
				$('#reactListDiv').css('display', 'block');
				$('#reactRecordList').css('display', 'none');
				$('#reactReplyList').css('display', 'block');
				$('#reactRecordListBtn').removeClass('btn-secondary-custom');
				$('#reactReplyListBtn').removeClass('btn-secondary-custom').addClass('btn-secondary-custom');
			});
			
		});

		
		// modal event
		$(function() {
			
			$('#reportUser').on('click', function(){
				
				const profileUserNickname = [[${profile.user.nickname}]];
				
				const reportData = {
						userId : sessionId ,
						targetUserId : profileUserId,
						nickname : profileUserNickname,
				}
				
				sessionStorage.setItem('reportData', JSON.stringify(reportData));
				
				window.location.href="/community/addReport";
				
			});
			
			// 사용자 차단하기
			$('#blockUser').on('click', function(){
				
				// 정말 차단하시겠습니까?
				
				$.ajax({
			      url: "/community/rest/addBlockUser",
			      method: "POST",
			      contentType:"application/json",
			      data: JSON.stringify({
			    	  userId : sessionId,
			          targetId: userId
			      }),
			      success: function(response) {
			        
					if(response == true || response == "true") {
						
						$('#deleteFollow').css('display', 'block');
						$('#addFollow').css('display', 'none');
						
						// 팔로우/팔로잉 수 동적 처리 ajax 필요함
						
					} else {
						
						console.log('false');
						alert('변경 실패...');
						
					}
			      },
			      error: function(xhr, status, error) {
			        console.error("네트워크 오류:", error);
			        alert("네트워크 오류");
			      }
			    });
				
			});
			
		});

		</script>
	
</head>
<body>
	
	<div class="container mt-3" id="content-for-footer">
		<div class="sticky-top" style="background:#FFFFFF">
			<!-- <div class="row">  -->
			<div class="d-flex">
				<a class="col-1 text-start fs-1" href="javascript:history.back()">⇦</a>
				<div class="col-10 mt-2 d-flex">
					<strong><span class="align-middle me-2 h4" th:text="${profile.user.nickname}"></span></strong>
					<p th:if="${profile.isSubscribed == true}">☑️</p>
				</div>
				<p class="col-1 text-end fs-1" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">=</p>
			</div>
			
			<!-- <div class="row row-cols-5 text-center">  -->
			<div class="row text-center">
				
				<!-- 
				<div class="profile-box">
					<img class="profile" alt="" th:src="@{/user/rest/profile/{uuid}(uuid=${profile.user.profileImageName})}">
				</div>
 				-->
				<div class="profile-box-custom">
					<img class="profile-custom" alt="" th:src="@{/user/rest/profile/{uuid}(uuid=${profile.user.profileImageName})}">
				</div>

				 
				  <div id="shared-list" class="col">
				  	<div class="mt-4">
					    <span>sharing</span>
					    <br/>
					    <span class="value" th:text="${profile.totalSharedListCount}"></span>
				    </div>
				  </div>
				  <div id="follow-list" class="col">
				  	<div class="mt-4">
			    		<span>follow</span>
			    		<br/>
			    		<span class="value" th:text="${profile.totalFollowCount}"></span>
				    </div>
				  </div>
				  <div id="follower-list" class="col">
				  	<div class="mt-4">
					    <span>follower</span>
					    <br/>
				    	<span class="value" th:text="${profile.totalFollowerCount}"></span>
				    </div>
				  </div>
		
			</div>
			
			<p class="row mt-3 ms-1" th:text="${profile.user.introduction}"></p>
	
			<div id="myProfile" style="display:none;">
				<div class="d-flex justify-content-evenly">
					<button type="button" id="updateProfile" class="btn btn-primary w-50">내 프로필 수정</button>
					<button type="button" id="myChatList" class="btn btn-primary w-50">나의 채팅</button>
				</div>
			</div>	
			<div id="otherProfile" style="display:none;">
				<div class="d-flex justify-content-evenly ">
					<button type="button" id="deleteFollow" class="btn btn-primary w-50" style="display:none;">언팔로우</button>
					<button type="button" id="addFollow" class="btn btn-primary w-50" style="display:none;">팔로우</button>
					<button type="button" id="chat" class="btn btn-primary w-50">메세지 보내기</button>
				</div>
			</div>
			<hr/>
		</div>
		
		<p id="pageType" style="display:none;"></p>
		<div class="row mx-2">
			<button class="col btn btn-light" type="button" id="sharedRecordListBtn">공유한<br/>기록</button>
			<button class="col btn btn-light" type="button" id="replyListBtn">작성한<br/>댓글</button>
			<th:block th:if="${myProfile==true}">
				<button class="col btn btn-light" type="button" id="bookMarkListBtn">즐겨찾기</button>
			</th:block>
			<button class="col btn btn-light" type="button" id="reactListBtn">좋아요<br/>목록</button>
		</div>
		<hr/>
		
		
		<div th:insert="~{/user/fragments/sharedList}" id="sharedRecordList"></div>
		<div th:insert="~{/user/fragments/replyList}" id="replyList"></div>
		<th:block th:if="${myProfile==true}">
			<div th:insert="~{/user/fragments/bookMarkList}" id="bookMarkList"></div>
		</th:block>
		<div id="reactListDiv">
			<div>
				<button type="button" id="reactRecordListBtn" class="col btn btn-light">좋아요한 기록 목록</button>
				<button type="button" id="reactReplyListBtn" class="col btn btn-light">좋아요한 댓글 목록</button>
			</div>
			<hr/>
			<div th:insert="~{/user/fragments/reactRecordList}" id="reactRecordList"></div>
			<div th:insert="~{/user/fragments/reactReplyList}" id="reactReplyList"></div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content text-center">
		      <div class="modal-header">
		        <!-- <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>  -->
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	  <th:block th:if="${myProfile == false}">
				  <h2 class="fs-5" id="reportUser">사용자 신고하기</h2>
				  <hr>
				  <h2 class="fs-5" id="blockUser">사용자 차단하기</h2>
				  </th:block>
				  <th:block th:if="${myProfile == true}">
					  <h2 class="fs-5">내 프로필 숨기기</h2>
				  </th:block>
				</div>
		      <div class="modal-footer">
		        
		      </div>
		    </div>
		  </div>
		</div>

	</div>
	
	<div th:replace="common/footer::defaultFooter"></div>
</body>	
</html>