<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
	<script src="/javascript/user/userValidation.js"></script>
	
	<script>
	
		$(function(){
			
			$('#submitForm').on('click', function() {

				if ($('#emailChecked').text() === 'false') {
		            $('#emailMsg').text('이메일을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#emailMsg').css('display', 'none');
			    	
			    }
				
				$.ajax({
					
					url: '/user/rest/checkDuplication',
	                type: 'POST',
	                contentType: 'application/json',
	                data: JSON.stringify({
	                    type: "0",
	                    value: $("#myUserId").val()
	                }),
	                success: function(response) {

	                    if (response == 'true' || response == true)  {
	                    	
	                    	alert('존재하지 않는 아이디입니다.');
	                    	event.preventDefault();
	                    } else {
	                    	
	                    	$('form').attr('method', 'post').attr('action', '/user/getPasswordView').submit();
	                    }
	                        
	                },
	                error: function(jqXHR, textStatus, errorThrown) {
	                    
	                    alert('오류 발생: ' + jqXHR.responseText);
	                }
				
				});
				
				
				
				
				
			});
			
		});
		
		
	</script>
	
</head>
<body>

	<h1>비밀번호 찾기</h1>
	
	<form>
	
		<div>
            <label for="myUserId">아이디</label>
            <input type="text" id="myUserId" name="userId" placeholder="아이디" required/>
            <!-- <button type="button" id="checkDuplication">아이디 확인하기</button>  -->
            <!-- 
            <p id="userIdMsg" style="display: none;"/>
            <p id="userIdChecked" style="display: none;">false</p>
             -->
        </div>
        <div id="emailDiv">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" placeholder="이메일 (예: test@test.com)" required/>
            <button type="button" id="sendAuthEmail">인증번호 발송</button>
            <input type="hidden" class="form-control" id="emailAuthCode" name="emailAuthCode" placeholder="인증코드 6자리 입력">
            <p id="emailMsg" style="display: none;"/>
            <p id="emailChecked" style="display: none;">false</p>		
        </div>
		<button type="button" id="submitForm">다음</button>
	</form>

</body>	
</html>