<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>2단계 인증</title>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

<script th:inline="javascript">

	$( function() {
		
		const userId = [[${userId}]];
		
		$.ajax({
			
			url : "/user/rest/generateKey",
			method : "POST",
			dataType : "JSON",
			headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
			data : JSON.stringify({ 
				userId : userId,
				userName : userId
			}),
			success : function(responseBody, httpStatus){

				console.log(responseBody);
				
				// $('.row:last').empty();
				// $('form').empty();
				let detail = "";
				detail += "<p style='bold'>Google authenticator를 설치하고 2단계 인증을 수행하세요.</p>";
				
				if(responseBody.encodedKey != '') {
					
					detail += "<p>최초 2단계 인증 수행 시에만 키가 제공됩니다. 90일 뒤에 만료됩니다. 2단계 인증 재설정 시에 키를 다시 발급 받을 수 있습니다.</p>";
					detail += "<p id='encodedKey'>" + responseBody.encodedKey +"</p>"; 			
					detail += "<img src='https://quickchart.io/chart?cht=qr&chs=200x200&chl=otpauth://totp/"+responseBody.userName+"@"+responseBody.hostName+"?secret="+responseBody.encodedKey+"&chld=H|0' alt=''>";
					detail += "<hr/>";
					
				} 
				
				// $('.row:last').append(detail);
				$('form').append(detail);
			}
		});

		$(document).on('click', '#checkKey', function() {
			
			$.ajax({
				
				url : "/user/rest/checkSecondaryKey",
				method : "POST",
				dataType : "JSON",
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
				data : JSON.stringify({ 
					encodedKey : $('#encodedKey').text(),
					userCode : $('input[name="userCode"]').val()
				}),
				success : function(responseBody, httpStatus){

					console.log(responseBody);
					
					if(responseBody == true || responseBody == 'true') {
						
						window.location.href="/map";
						
					}
					
				}
			});
		});
		
	});

</script>

</head>
<body>


	<br/>
	<br/>
	<div class="container">
		<h1>2단계 인증</h1>

		<form>
			<div class='form-group'>
				<label for="userName">인증번호</label>
				<input type="text" name="userCode" class="form-control" placeholder="인증번호 6자리 입력">
			</div>
			<div class='row'>
				<button type="button" class="btn btn-default" id="checkKey">인증하기</button>
			</div>
		</form>
		<!-- 
		<form>
			<div class="form-group">
				<label for="userName">이름</label>
				<input type="text" name="userName" class="form-control" placeholder="당신의 이름을 입력">
			</div>
			<div class="row">
				<button type="button" class="btn btn-default">제출</button>
			</div>
		</form>
		 -->
	</div>
</body>
</html>