<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>2단계 인증</title>

<th:block th:replace="~{/common/dependencies}"></th:block>

<script th:inline="javascript">

	$( function() {
		
		const userId = /*[[${userId}]]*/ '';
		// const encodedKey;
	
		$(document).on('click', '#checkKey', function() {
			
			$.ajax({
				
				url : "/user/rest/checkSecondaryKey",
				method : "POST",
				dataType : "JSON",
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
				data : JSON.stringify({ 
					// encodedKey : $('#encodedKey').text(),
					// userId : userId,
					userCode : $('input[name="userCode"]').val()
					// encodedKey : encodedKey
				}),
				success : function(responseBody, httpStatus){

					console.log(responseBody);
					
					const isValid = responseBody.result;
					const role = responseBody.role;
					
					if(isValid == true || isValid == 'true') {
					
						if(role == 0)
							window.location.href="/user/admin/getAdminMain";
						else
							window.location.href="/map";
					}
				},
				error: function(xhr, status, error) {
			        console.error("네트워크 오류:", error);
			        alert("네트워크 오류");
			      }
			});
		});
		
	});

</script>

</head>
<body>


	<br/>
	<br/>
	<div class="container">
		<h1>2단계 인증</h1>

		<form>
			<div class='form-group'>
				<label class="form-label" for="userName">인증번호</label>
				<input type="text" name="userCode" class="form-control" placeholder="인증번호 6자리 입력">
			</div>
			<div class="d-grid gap-2">
			  <button class="btn btn-primary mt-3" type="button" id="checkKey">인증하기</button>
			</div>
		</form>
	</div>
</body>
</html>