<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>로그인</title>
    <th:block th:replace="~{/common/dependencies}"></th:block>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	 -->
	<link href="/css/common/hyperlink-to-text.css" rel="stylesheet">
	 <link rel="stylesheet" href="/css/common/footer.css">
	<style>
		/* body{margin-top:20px;} */ 
		
		a {
		
			color: inherit;
			text-decoration: none;
		
		}
		
		
	</style>

	<script src="/javascript/user/naveridlogin_js_sdk_2.0.2.js"></script>
    
    <script th:inline="javascript">
    
    const temp = /*[[${userId}]]*/ '';
    
 		$(function() {
 			
 			if(temp != null) {
 				
 				$('#loginDiv').css('display', 'none');
 				$('.userDiv').css('display', 'block');
 			}
 			
			$('#login').on('click', function() {
        		
        		$.ajax({
                    type: "POST",
                    url: "/user/rest/login",
                    contentType: "application/json",
                    data: JSON.stringify({
                        userId: $("#username").val(),
                        userPassword: $("#password").val(),
                        keepLogin: $('input[name="keepLogin"]').is(":checked").toString()
                    }),
                    success: function(response) {

                    	console.log("server 응답 : "+ response);
						
                    	if(response == "empty id" ||response == "empty password"  ) {
                    		
                    		alert("아이디와 비밀번호를 모두 입력해주세요.");
                    		return;
                    	}
                    		
                    	
                    	if(response == "wrong password") {
                    		
                    		alert("아이디 또는 비밀번호가 틀렸습니다.");
                    		return;
                    		
                    	}
                    	
                    	if(response == "leaveUser") {
                    		
                    		alert('탈퇴한 사용자는 서비스 이용이 불가능합니다...');
                    		return;
                    	}
                    	
                    	if(response == "secondAuth") {
                    		
                    		console.log("2단계 인증을 진행합니다...,");
                    		// window.location.href="/user/getSecondaryAuthView?userId="+$("#username").val();
                    		window.location.href="/user/getSecondaryAuthView";
                    		return;
                    	}
                    	
                    	if(response == "passwordExceeded") {
                    		
                    		const result = confirm("비밀번호 변경 권장 기한을 넘어섰습니다. 비밀번호를 변경하시겠습니까?");
                        	if(result) {
                        		
                        		$('input[name="changePassword"]').val(true);	
                        		window.location.href="/user/getUpdatePasswordView";
                        		return;
                        		
                        	} 
                        	
                    	} 
						
                    	if(response == "user") {
                    	
                    		window.location.href="/map";
                    		
                    	} else if(response == "admin") {
                    		
                    		window.location.href="/user/admin/getAdminMain";
                    		
                    	} else {
                    	
                    		// $('form').attr('method', 'post').attr('action', '/user/login').submit();
                    		
                    		alert("현재 정지 상태입니다. 정지 해제 일시 : " + response);
                    		return;
                    		
                    	}
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                    	
                    	if(jqXHR.status === 0 && jqXHR.statusText === 'error')
                    		alert('현재 서버가 작동하지 않고 있습니다...');
                    	else
                        	alert("오류 발생: " + jqXHR.responseText);
                    }
                });
        	});
			
 		});
    </script>
		
</head>
<body>
   	<div  id="content-for-footer">
    	<div class="container mt-5">
			<div class="d-flex" style="justify-content: space-between;">
				<a class="fs-1" href="javascript:history.back()">⇦</a>
				<p class="h2 mt-3">소셜 로그인 연동</p>
			</div>
    	
	        <div id="social-login-btn" class="mt-5 my-3 row text-center img-fluid">
				<div id="naverIdLogin" class="my-3">
					<!-- backend에서 navigation 처리하여 id를 숨길 것. -->
					<a id="naverIdLogin_loginButton" href="/user/getNaverLoginView" role="button">
					<img src="https://static.nid.naver.com/oauth/big_g.PNG" width=320></a>
				</div>	
		        <div id="kakao" class="my-3">
					<a href="/user/getKakaoLoginView">
	   				<img src="https://kr.object.ncloudstorage.com/mapmory-object/static/kakao_login_medium_narrow.png" alt="카카오 로그인 버튼" width=320>
					</a>
				</div>
			</div>
	 	</div>
	 </div>
	 
	 <div th:replace="common/footer::defaultFooter"></div>
</body>
</html>
