<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
	<script src="/javascript/user/userValidation.js"></script>
	<script>
		$(function() {
			
			const today = new Date().toISOString().split('T')[0];
			$('#birthday').attr('max', today);
			
			$('#back').on('click', function() {
				
				const result = confirm('뒤로가기를 누르시면 약관 동의를 다시 진행하셔야 합니다. 계속 하시겠습니까?');
				
				if(result)
					window.location.href = "/user/getAgreeTermsAndConditionsList";
				
			});
			
			$('#submitForm').on('click', function() {
				
				if ($('#userIdChecked').text() === 'false') {
		            $('#userIdMsg').text('아이디를 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#userIdMsg').css('display', 'none');
			    	
			    }
				
				if ($('#passwordChecked').text() === 'false') {
		            $('#passwordMsg').text('비밀번호를 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#passwordMsg').css('display', 'none');
			    	
			    }
				
				if ($('#userNameChecked').text() === 'false') {
		            $('#userNameMsg').text('이름을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#userNameMsg').css('display', 'none');
			    	
			    }
				
				if ($('#nicknameChecked').text() === 'false') {
		            $('#nicknameMsg').text('닉네임을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#nicknameMsg').css('display', 'none');
			    	
			    }
				
				const birthday = document.getElementById('birthday').value;
			    if (!birthday) {
			        
			    	$('#birthdayMsg').text('생년월일을 선택해주세요.').css('color', 'red').show();
			        event.preventDefault();
			        return;
			    } else {
			    	
			    	$('#birthdayMsg').css('display', 'none');
			    	
			    }
			    
			    if ($('#emailChecked').text() === 'false') {
		            $('#emailMsg').text('이메일을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#emailMsg').css('display', 'none');
			    	
			    }
			    
			    if ($('#phoneNumberChecked').text() === 'false') {
		            $('#phoneNumberMsg').text('휴대전화번호를 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#phoneNumberMsg').css('display', 'none');
			    	
			    }
			    if ($('#captchaChecked').text() === 'false') {
			    	alert('캡차 인증을 완료해야 합니다.');
		            event.preventDefault();
		            return;
		        } else {

			    }
			    
			    
			    $('form#signupForm').submit();
			    
			    /*
			    $.ajax({
			    	type : 'post',
					url : '/user/rest/signUp',
					data : $('form').serialize(),
					success : function(response){
						
						alert('회원가입에 성공하였습니다!');
						window.location.href="/";

					},
					error: function(xhr, status, error){
						alert(error);
					},
					complete: function() {
						
						alert('회원가입에 성공하였습니다! (complete)');
						window.location.href="/";
						
					}
			    });
			    */
			});
		});
	</script>
</head>
<body>
    <h1>회원가입</h1>
    <button type="button" id="back">뒤로가기</button>
    
    <form th:action="@{/user/signUp}" th:object="${user}" method="post" id="signupForm">
        <div>
            <label for="userId">아이디</label>
            <input type="text" id="userId" th:field="*{userId}" placeholder="아이디" required/>
            <p id="userIdMsg" style="display: none;"/>
            <p id="userIdChecked" style="display: none;">false</p>
        </div>
        <div>
            <label for="userPassword">비밀번호</label>
            <input type="password" id="userPassword" th:field="*{userPassword}" placeholder="비밀번호" required/>
            <p id="passwordMsg" style="display: none;"/>
            <p id="passwordChecked" style="display: none;">false</p>
        </div>
        <div>
            <label for="userName">이름</label>
            <input type="text" id="userName" th:field="*{userName}" placeholder="이름" required/>
            <p id="userNameMsg" style="display: none;"/>
            <p id="userNameChecked" style="display: none;">false</p>
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" th:field="*{nickname}" placeholder="닉네임" required/>
            <p id="nicknameMsg" style="display: none;"/>
            <p id="nicknameChecked" style="display: none;">false</p>
        </div>
        <div>
            <label for="birthday">생년월일</label>
            <input type="date" id="birthday" th:field="*{birthday}" placeholder="생년월일 (YYYY-MM-DD)" required/>
            <p id="birthdayMsg" style="display: none;"/>
            
        </div>
        <div>
            <label for="sex">성별</label>
            <select id="sex" th:field="*{sex}" required>
                <option value="0">비공개</option>
                <option value="1">남성</option>
                <option value="2">여성</option>
            </select>
        </div>
        <div id="emailDiv">
            <label for="email">이메일</label>
            <input type="email" id="email" th:field="*{email}" placeholder="이메일 (예: test@test.com)" required/>
            <button type="button" id="sendAuthEmail">인증번호 발송</button>
            <input type="hidden" class="form-control" id="emailAuthCode" name="emailAuthCode" placeholder="인증코드 6자리 입력">
            <p id="emailMsg" style="display: none;"/>
            <p id="emailChecked" style="display: none;">false</p>		
        </div>
        <div>
            <label for="phoneNumber">휴대전화번호</label>
            <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" placeholder="휴대전화번호 (예: 010-1234-1234)" required/>
            <button type="button" id="sendAuthPhoneNum">인증번호 발송</button>
            <input type="hidden" class="form-control" id="phoneAuthCode" name="phoneAuthCode" placeholder="인증코드 6자리 입력">
            <p id="phoneNumberMsg" style="display: none;"/>
            <p id="phoneNumberChecked" style="display: none;">false</p>
        </div>
        <div>
	        <div id="captchaImageContainer">
			    <!-- 캡차 이미지가 표시될 곳 -->
		    </div>
		    <div>
			    <input type="text" id="captcha-input" placeholder="Enter Captcha">
	        	<button type="button" id="verify-button">확인</button>
	        	<p id="captchaChecked" style="display: none;">false</p>
			</div>
		</div>
        <button type="button" id="submitForm">회원가입 완료하기</button>
        
    </form>
</body>
</html>
