<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>로그인</title>
    <th:block th:replace="~{/common/dependencies}"></th:block>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	 -->
	<link href="/css/common/hyperlink-to-text.css" rel="stylesheet">
	 <link rel="stylesheet" href="/css/common/footer.css">
	<style>
		/* body{margin-top:20px;} */ 
		
		a {
		
			color: inherit;
			text-decoration: none;
		
		}
		
		
	</style>

	<script src="/javascript/user/naveridlogin_js_sdk_2.0.2.js"></script>
    
    <script th:inline="javascript">
    
    	
    </script>
		
</head>
<body>
   	<div  id="content-for-footer">
    	<div class="container mt-5">
			<div class="d-flex" style="justify-content: space-between;">
				<a class="fs-1" href="javascript:history.back()">⇦</a>
				<p class="h2 mt-3">소셜 로그인 연동</p>
			</div>
			
			<div class="mt-5">
				<p class="h4">소셜 로그인 연동에 성공하면, 현재 로그인이 해제되면서 로그인 화면으로 이동합니다.</p>
				<p class="h4"><strong>주의 : 소셜 로그인에 성공하면, 앞으로 일반 로그인으로는 로그인이 불가능합니다.</strong>(OAuth 방식의 보안의 강점을 살리기 위함입니다.)</p>
			</div>
    	
	        <div id="social-login-btn" class="mt-5 my-3 row text-center img-fluid">
				<div id="naverIdLogin" class="my-3">
					<!-- backend에서 navigation 처리하여 id를 숨길 것. -->
					<a id="naverIdLogin_loginButton" href="/user/getNaverLoginView" role="button">
					<img src="https://static.nid.naver.com/oauth/big_g.PNG" width=320></a>
				</div>	
		        <div id="kakao" class="my-3">
					<a href="/user/getKakaoLoginView">
	   				<img src="https://kr.object.ncloudstorage.com/mapmory-object/static/kakao_login_medium_narrow.png" alt="카카오 로그인 버튼" width=320>
					</a>
				</div>
			</div>
			
			
	 	</div>
	 </div>
	 
	 <div th:replace="common/footer::defaultFooter"></div>
</body>
</html>
