<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <th:block th:replace="~{/common/dependencies}"></th:block>
	<script src="/javascript/user/userValidation.js"></script>
	<link href="/css/common/hyperlink-to-text.css" rel="stylesheet">
	<script>
		$(function() {
			
			const today = new Date().toISOString().split('T')[0];
			$('#birthday').attr('max', today);
			
			/*
			$('#back').on('click', function() {
				
				const result = confirm('뒤로가기를 누르시면 약관 동의를 다시 진행하셔야 합니다. 계속 하시겠습니까?');
				
				if(result)
					window.location.href = "/user/getAgreeTermsAndConditionsList";
				
			});
			*/
			
			$('#submitForm').on('click', function() {
				
				if ($('#userIdChecked').text() === 'false') {
		            $('#userIdMsg').text('아이디를 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#userIdMsg').css('display', 'none');
			    	
			    }
				
				if ($('#passwordChecked').text() === 'false') {
		            $('#passwordMsg').text('비밀번호를 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#passwordMsg').css('display', 'none');
			    	
			    }
				
				if ($('#userNameChecked').text() === 'false') {
		            $('#userNameMsg').text('이름을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#userNameMsg').css('display', 'none');
			    	
			    }
				
				if ($('#nicknameChecked').text() === 'false') {
		            $('#nicknameMsg').text('닉네임을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#nicknameMsg').css('display', 'none');
			    	
			    }
				
				const birthday = document.getElementById('birthday').value;
			    if (!birthday) {
			        
			    	$('#birthdayMsg').text('생년월일을 선택해주세요.').css('color', 'red').show();
			        event.preventDefault();
			        return;
			    } else {
			    	
			    	$('#birthdayMsg').css('display', 'none');
			    	
			    }
			    
			    if ($('#emailChecked').text() === 'false') {
		            $('#emailMsg').text('이메일을 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#emailMsg').css('display', 'none');
			    	
			    }
			    
			    if ($('#phoneNumberChecked').text() === 'false') {
		            $('#phoneNumberMsg').text('휴대전화번호를 다시 확인해주세요.').css('color', 'red').show();
		            event.preventDefault();
		            return;
		        } else {
			    	
			    	$('#phoneNumberMsg').css('display', 'none');
			    	
			    }
			    if ($('#captchaChecked').text() === 'false') {
			    	alert('캡차 인증을 완료해야 합니다.');
		            event.preventDefault();
		            return;
		        }
			    
			    
			   // 	$('form#signupForm').submit();
			   
			   console.log('ok');
			    
			   const form = new FormData($('form').get(0));
			   const formJson = {};
			   
			   form.forEach((value, key) => {
				   
				   formJson[key] = value;
			   })
			   console.log(formJson);
			   
			    $.ajax({
			    	type : 'post',
					url : '/user/rest/signUp',
					data : JSON.stringify(formJson),
					contentType : "application/json",
					success : function(response){
						
						if(response == true || response == 'true') {

							alert('회원가입에 성공하였습니다!');
							window.location.href="/";
							
						} else {
							
							alert('회원가입 실패...');
							
						}
	
					},
					error: function(xhr, status, error){
						alert(error);
					}
			    });
			    
			    
			});
		});
	</script>
</head>
<body class="container mt-3">

  <div class="row mb-4">
    <p class="fs-1 col-9">회원가입</p>
    <div class="col-1"></div>
    <a class="fs-1 col-1 text-end" href="javascript:history.back()">⇦</a>
  </div>

  <form th:action="@{/user/signUp}" th:object="${user}" method="post" id="signupForm">
    <div class="mb-3">
      <label for="userId" class="form-label">아이디</label>
      <input type="text" id="userId" th:field="*{userId}" class="form-control" placeholder="아이디" required/>
      <p id="userIdMsg" style="display: none;"></p>
      <p id="userIdChecked" style="display: none;">false</p>
    </div>

    <div class="mb-3">
      <label for="userPassword" class="form-label">비밀번호</label>
      <input type="password" id="userPassword" th:field="*{userPassword}" class="form-control" placeholder="비밀번호" required/>
      <p id="passwordMsg" style="display: none;"></p>
      <p id="passwordChecked" style="display: none;">false</p>
    </div>

    <div class="mb-3">
      <label for="userName" class="form-label">이름</label>
      <input type="text" id="userName" th:field="*{userName}" class="form-control" placeholder="이름" required/>
      <p id="userNameMsg" style="display: none;"></p>
      <p id="userNameChecked" style="display: none;">false</p>
    </div>

    <div class="mb-3">
      <label for="nickname" class="form-label">닉네임</label>
      <input type="text" id="nickname" th:field="*{nickname}" class="form-control" placeholder="닉네임" required/>
      <p id="nicknameMsg" style="display: none;"></p>
      <p id="nicknameChecked" style="display: none;">false</p>
    </div>

    <div class="mb-3">
      <label for="birthday" class="form-label">생년월일</label>
      <input type="date" id="birthday" th:field="*{birthday}" class="form-control" placeholder="생년월일 (YYYY-MM-DD)" required/>
      <p id="birthdayMsg" style="display: none;"></p>
    </div>

    <div class="mb-3">
      <label for="sex" class="form-label">성별</label>
      <select id="sex" th:field="*{sex}" class="form-select" required>
        <option value="0">비공개</option>
        <option value="1">남성</option>
        <option value="2">여성</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="이메일 (예: test@test.com)" required/>
      <button type="button" id="sendAuthEmail" class="btn btn-secondary mt-2">인증번호 발송</button>
      <input type="hidden" class="form-control mt-2" id="emailAuthCode" name="emailAuthCode" placeholder="인증코드 6자리 입력">
      <p id="emailMsg" style="display: none;"></p>
      <p id="emailChecked" style="display: none;">false</p>   
    </div>

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">휴대전화번호</label>
      <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" placeholder="휴대전화번호 (예: 010-1234-1234)" required/>
      <button type="button" id="sendAuthPhoneNum" class="btn btn-secondary mt-2">인증번호 발송</button>
      <input type="hidden" class="form-control mt-2" id="phoneAuthCode" name="phoneAuthCode" placeholder="인증코드 6자리 입력">
      <p id="phoneNumberMsg" style="display: none;"></p>
      <p id="phoneNumberChecked" style="display: none;">false</p>
    </div>

    <div class="mb-3">
      <div id="captchaImageContainer">
        <!-- 캡차 이미지가 표시될 곳 -->
      </div>
      <input type="text" id="captcha-input" class="form-control mt-2" placeholder="Enter Captcha" required>
      <button type="button" id="verify-button" class="btn btn-secondary mt-2">확인</button>
      <p id="captchaChecked"  style="display: none;">false</p>
    </div>

	
    <button type="button" id="submitForm" class="btn btn-primary w-100 mb-3">회원가입 완료하기</button>
  </form>
</body>        

</html>
