<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>내 프로필 수정</title>
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  -->
	<th:block th:replace="~{/common/dependencies}"></th:block>
	<link rel="stylesheet" href="/css/common/mapmory-color.css">
	<link rel="stylesheet" href="/css/user/profile-image.css"  >
	
	<style>

		
		a {
			color: inherit;
			text-decoration: none;
		}
	</style>
	
	<script th:inline="javascript">
	$( function() {
		
		let introLen = $('#introLen').text($('#introduction').val().length);
		// console.log([[${profileImage}]])
		
		$('#back').on('click', function() {
			
			history.back();
		});
		
		$('#updateProfileImage').on('click', function() {
			
			$('input[type="file"]').click();
		});
		
		$('input[type="file"]').on("change", (event) => updateImg(event) );
		
		$('#introduction').on('input', function(){
			
			introLen = $('#introduction').val().length;
			$('#introLen').text(introLen);
			
			if(introLen > 100) {
				$('#introWarn').css('visibility', 'visible');
			} else {
				$('#introWarn').css('visibility', 'hidden');
			}
		});
		
		$('#submitButton').on('click', function() {
			
				// $('form').attr('method', 'post').attr('action', '/user/updateProfile').attr('enctype', 'multipart/form-data').submit();
				
				if(introLen > 100) {
					return;
				}
				
				const form = $('form').get(0);
				
				const formData = new FormData(form);
				
				/*
				const jsonObj = {};
				
				formData.forEach(function(value, key){
					jsonObj[key] = value;
				});
				
				const jsonStr = JSON.stringify(jsonObj);
				console.log(jsonStr);
				*/
				
				$.ajax({
					
					url: "/user/rest/updateProfile",
					type: 'post',
					data: formData,
					contentType: false,
					processData: false,
					success: function(response) {
						
						// console.log(response);
						if(response == true || response == 'true') {
							
							window.location.href="/user/getProfile";
						} else {
							
							alert("유해한 프로필 사진이나 자기소개에 비속어가 포함된 내용은 업로드하실 수 없습니다.");
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
		                // 오류 시 실행할 코드
		                console.error('Error:', textStatus, errorThrown);
		            }
				});
			
				
			
		});
	});
	
	function updateImg(event) {

		console.log('파일을 변경합니다...');
		
		const file = event.target.files[0];
		const reader = new FileReader();

		reader.onload = function(event) {
			
			const workElement = $('body img').attr('src', event.target.result)
		}
		
		reader.readAsDataURL(file);
	}
	
	</script>
</head>
<body class="container mt-3">

	<div class="d-flex" style="justify-content: space-between;">
		<a class="fs-1" href="javascript:history.back()">⇦</a>
		<p class="h2 mt-3 ">프로필 수정</p>
	</div>
	<div>
		<form>
		<label class="form-label mt-4" for="profileImage">프로필 이미지</label>
		<div class="d-flex" id="profileImage">
			<div class="profile-box-custom">
				<img class="profile-custom" alt="" th:src="@{/user/rest/profile/{uuid}(uuid=${user.profileImageName})}">
				<!-- <input type="hidden" name="old-profile-name" th:value="${user.profileImageName">  --> 
			</div>
			<div class="ms-2 mt-4">
				<!--  <label class="form-label mt-4" for="profileImage">프로필 이미지</label> -->
				<button type="button" id="updateProfileImage" class="btn btn-secondary">프로필 사진 수정</button>
				<input type="file" name="profile" accept="image/*" class="form-control" style="visibility: hidden;" />
			</div>
		</div>
		<hr/>
		<div>
			<label class="form-label " for="introduction">자기소개</label>
			<textarea type="text" name="introduction" id="introduction" class="form-control" placeholder="자기소개 작성" th:text="${user.introduction}" rows="4"></textarea>
			<div class="d-flex" style="justify-content: space-between;">
				<p id="introWarn" class="text-warning mt-1" style="visibility:hidden; ">자기소개는 100자를 넘어설 수 없습니다...</p>
				<div class="d-flex">( <p id="introLen"></p> / 100)</div>
			</div>
		</div>
		</form>
	</div>
	
	<div class="d-grid gap-2 fixed-bottom mb-3 col-11 mx-auto">
	  <button type="button" class="btn btn-primary" id="submitButton">제출</button>
	</div>
</body>	
</html>