<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{/common/dependencies}"></th:block>
	<link rel="stylesheet" href="/css/common/mapmory-color.css"  >
	<title>내 정보 조회</title>
	
	<style>
	
		a {
			color: inherit;
			text-decoration: none;
		}
	</style>
	
	<script>
	
		$(function() {
			
			$('button').on('click', function() {
				
				window.location.href="/user/getUpdateUserInfoView";
				
			});
		});
	</script>
</head>
<body class="container mt-3">
	
	<div class="d-flex" style="justify-content: space-between;">
		<a class=" fs-1" href="javascript:history.back()">⇦</a>
		<p class="h2 mt-3 mb-4">내 정보 조회</p>
	</div>
	
	<div class="mb-5">
		<div>
			<p>아이디</p>
			<p th:text="${user.userId}"></p>
		</div>
		<hr/>
		<div>
			<p>이름</p>
			<p th:text="${user.userName}"></p>
		</div>
		<hr/>
		<div>
			<p>닉네임</p>
			<p th:text="${user.nickname}"></p>
		</div>
		<hr/>
		<div>
			<p>생년월일</p>
			<p th:text="${user.birthday}"></p>
		</div>
		<hr/>
		<div>
			<p>성별</p>
			<th:block th:switch="${user.sex}">
				<p th:case="0">비공개</p>
				<p th:case="1">남성</p>
				<p th:case="2">여성</p>
			</th:block>
		</div>
		<hr/>
		<div>
			<p>이메일</p>
			<p th:text="${user.email}"></p>
		</div>
		<hr/>
		<div>
			<p>휴대전화번호</p>
			<p th:text="${user.phoneNumber}"></p>
		</div>
		<div class="mb-3">
			<p>&nbsp;</p>
		</div>	
	</div>

	
	<div class="d-grid gap-2 col-11 mx-auto fixed-bottom mb-3">
	  <button class="btn btn-primary" type="button">내 정보 수정</button>
	</div>
</body>	
</html>