<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>비밀번호 변경</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script>
	
		$(function() {
			
			$('').on('click', function() {
				
				$.ajax({
					
                   type: "POST",
                   url: "/user/rest/login",
                   contentType: "application/json",
                   data: JSON.stringify({
                       userId: $("#username").val(),
                       userPassword: $("#password").val()
                   }),
                   success: function(response) {

                   	console.log("server 응답 : "+ response);
                   	
                   	if(response == true || response == 'true') {
                   		
                   		alert('비밀번호가 변경됐습니다! 로그인 페이지로 이동합니다.');
                   		window.location.href = "/";
                   		
                   	} else {
                   		
                   		alert("허용할 수 없는 변경값입니다.");
                   		
                   	}
                   	
                   },
                   error: function(jqXHR) {
                       alert("오류 발생: " + jqXHR.responseText);
                   }

	        	});
				
			});
			
							
		});
		
	</script>
</head>
<body>

	<h1>비밀번호 변경</h1>

</body>	
</html>