<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8" name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<title>결제하기</title>
	
	<link rel="stylesheet" href="/css/5/cosmo/bootstrap.css"> <!-- Bootstrap watch min.css -->
	<link rel="stylesheet" href="/css/common/footer.css">
	
	<style>
		.change-color{
			background-color: #03c75a;
			color: #fff;
		}
	</style>
	
	<script src="/javascript/config/key.js"></script>
	<script src="/javascript/purchase/purchase.js"></script>
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOx"></script>
	<script>
	
      var IMP = window.IMP;
      IMP.init(API_KEYS.imp);
      
      function nomralRequestPay() {
    	  const selectedValue = $('input[name="paymentMethod"]:checked').val();
    	  const pg = getSubscriptionPG(selectedValue);
    	  const price = $('input[name="price"]').val();
    	  const productTitle = $("#productTitle").val();
    	  const currentDate = getCurrentDate();
    	  const userId = $('input[name="userId"]').val();

          IMP.request_pay({
              pg: selectedValue == 1 ? 'html5_inicis' : getPaymentMethod(selectedValue),
              pay_method: getPaymentMethod(selectedValue),
              merchant_uid: "purchase_"+userId+"_"+currentDate,   // 주문번호
              name: $("#productTitle").val(),
              amount: price,              // 숫자 타입
              m_redirect_url: "index"
          },
          function (rsp) { // callback
            console.log(rsp);
          
          	$("#cardType").val(rsp.card_name);
          	$("#lastFourDigits").val(getLastFourDigits(rsp.card_number));
          	
          	alert("결제 성공!!");
          	
          	$("form").attr("method", "POST").attr("action", "/purchase/addPurchase/" + rsp.imp_uid).submit();
          	
          });//ajax 
      } //nomralRequestPay
      
      function monthlyRequestPay() {
    	  const selectedValue = $('input[name="paymentMethod"]:checked').val();
    	  const pg = getSubscriptionPG(selectedValue);
    	  const price = $('input[name="price"]').val();
    	  const productTitle = $("#productTitle").val();
    	  const currentDate = getCurrentDate();
    	  const userId = $('input[name="userId"]').val();
    	  
          // IMP.request_pay(param, callback) 호출
          IMP.request_pay(
            {
              pg: pg,
              merchant_uid: "billingKey_"+userId+"_"+currentDate, // 빌링키 발급용 주문번호
              customer_uid: userId, // 카드(빌링키)와 1:1로 대응하는 값
              name: "정기 구독 결제",
              amount: 0, // 0으로 설정하여 할 시 빌링키만 발급
              m_redirect_url: "index"
            },//빌링키 요청

            function (rsp) {
            	console.log(rsp);
            	
            	$('input[name="userId"]').val(userId);
                $('input[name="nextSubscriptionPaymentMethod"]').val(selectedValue);
                $('input[name="nextSubscriptionCardType"]').val(rsp.card_name);
                $('input[name="nextSubscriptionLastFourDigits"]').val(getLastFourDigits(rsp.card_number));
                $('input[name="customerUid"]').val(rsp.customer_uid);
                $('input[name="merchantUid"]').val("subscription_" + userId + "_" + currentDate);
            	
                if(rsp.success){ //빌링키 발급 성공

                  	$("form").attr("method", "POST").attr("action", "/purchase/addSubscription/").submit();
    				
    			} else { //빌링키 발급 실패한 경우
    				alert('구독 결제 실패');
    			}//if~else end
    		});//callback rsp
            	
          } //monthlyRequestPay: 정기결제
		
      </script>
</head>
<body>
	
	<div id=content-for-footer>
	<div th:if="${message != null}">
		<span>현재 구독 중입니다!</span>
		<a href="/purchase/getDetailSubscription">내 구독으로 가기</a>
	</div>
	
	<div class="container mt-3" th:if="${message == null}">
		<h1 class="fs-1 fw-bold text-center">결제하기</h1>
		
		<form>
			<input type="hidden" name="productNo" th:value="${product.productNo}">
        	<input type="hidden" name="cardType">
        	<input type="hidden" name="lastFourDigits" >
        	<input type="hidden" name="purchaseDate">
        	<input type="hidden" name="price" th:value="${product.price}">
		
        	<input type="hidden" name="userId" th:value="${userId}" readonly>
        	<input type="hidden" name="nextSubscriptionPaymentMethod" readonly>
        	<input type="hidden" name="nextSubscriptionCardType" readonly>
        	<input type="hidden" name="nextSubscriptionLastFourDigits" readonly>
        	<input type="hidden" name="customerUid" readonly>
        	<input type="hidden" name="merchantUid" readonly>
        	
			<fieldset>
					<div class="row mb-3 align-items-center border-bottom">
						<label for="productTitle" class="col-4 col-form-label fs-1 fw-bold ">상품명</label>
						<div class="col-8">
							<input type="text" readonly="" class="form-control-plaintext fs-1" 
							id="productTitle" th:value="${product.productTitle}">
						</div>
					</div>

					<div class="row mb-3 align-items-center border-bottom">
						<label for="price" class="col-4 col-form-label fs-1 fw-bold">가격</label>
						<div class="col-custom col-8">
							<input type="text" readonly="" class="form-control-plaintext fs-1"
								id="price" th:value="|${#numbers.formatInteger(product.price, 0, 'COMMA')}원|" />
						</div>
					</div>
					
					<h2 class="fs-1 fw-bold mb-5">결제 수단</h2>
					
					<fieldset>
						<div class="form-check mb-5">
							<input class="form-check-input" type="radio" name="paymentMethod" id="card" value="1">
							<label class="form-check-label" for="card"> <img src="https://bcuacdphgdfn24694507.cdn.ntruss.com/purchaseImage/card.png" alt="카드결제"/> </label>
						</div>

						<div class="form-check mb-5">
							<input class="form-check-input" type="radio" name="paymentMethod" id="kakaopay" value="2">
							<label class="form-check-label" for="kakaopay"> <img src="https://bcuacdphgdfn24694507.cdn.ntruss.com/purchaseImage/kakaopay.png" alt="카카오페이"/> </label>
						</div>

						<div class="form-check mb-5">
							<input class="form-check-input" type="radio" name="paymentMethod" id="payco" value="3">
							<label class="form-check-label" for="payco"> <img src="https://bcuacdphgdfn24694507.cdn.ntruss.com/purchaseImage/payco.png" alt="페이코"/> </label>
						</div>
						
						<div class="form-check mb-5" th:if="${product.period == 0}">
							<input class="form-check-input" type="radio" name="paymentMethod" id="tosspay" value="4">
							<label class="form-check-label" for="tosspay"> <img src="https://bcuacdphgdfn24694507.cdn.ntruss.com/purchaseImage/tosspay.png" alt='토스페이'/> </label>
						</div>
					</fieldset>
			</fieldset>
		</form>
		
		<div th:if="${product.period == 0}" class="d-grid">
			<button class="btn change-color fs-1" onclick="nomralRequestPay()">결제</button>
		</div>
    	
    	<div th:if="${product.period == 30}" class="d-grid">
    		<button class="btn change-color fs-1" onclick="monthlyRequestPay()">구독결제</button>
		</div>
	</div>
	</div>
	
	<div th:replace="common/footer::defaultFooter"></div>
</body>	
</html>