@charset "UTF-8";

#chat-container {
    font-family: 'Poppins', sans-serif;
    width: 350px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 13dvh;
    right: 20px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

#chat-container.open {
    display: flex;
    animation: slideIn 0.4s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#chat-header {
    background-color: #0084ff;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chat-header h3 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}

#close-chat-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

#close-chat-button:hover {
    color: #ff6961;
}

#chat-log {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    background-color: #f1f1f1;
}

.message-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    align-items: flex-start;
}

.user-message {
    justify-content: flex-end;
}

.bot-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message-content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.user-message .message-content {
    align-items: flex-end;
}

.bot-message .message-content {
    margin-left: 0;
}

.message-bubble {
    padding: 10px 15px;
    border-radius: 20px;
    word-wrap: break-word;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
}

.user-message .message-bubble {
    background-color: #0084ff;
    color: #fff;
}

.bot-message .message-bubble {
    background-color: #fff;
    color: #333;
}

.message-time {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.profile-image {
    font-size: 30px;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.message-button {
    padding: 8px 12px;
    background-color: #0084ff;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 10px;
}

#chat-input {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

#user-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 600;
    color: #333;
    outline: none;
    transition: box-shadow 0.3s;
    width: 80%;
}

#user-input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#send-button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#send-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#send-button i {
    font-size: 20px;
}

#open-chat-button {
		position: fixed;
    /* bottom: 75px;
    right: 20px; */
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-size: 1.7rem;
    z-index: 999;
}

#open-chat-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}