@charset "EUC-KR";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
footer {
		border-top: 2px solid black;
		width : 100%;
		height : 25%;
		margin: 0;
		position: sticky;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: white;		
	}

	.mobile-bottom-nav {

	  /* z-index: 1000;
	  will-change: transform;
	  transform: translateZ(0); */
	  display: flex;
	  box-shadow: 0 -2px 5px -2px #333;
	  background-color: #fff;
	}
	.mobile-bottom-nav__item {
	  flex-grow: 1;
	  text-align: center;
	  font-size: 2vmax;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	.mobile-bottom-nav__item--active {
	  color: red;
	}
	.mobile-bottom-nav__item-content {
		height: 100%;
	  display: flex;
	  flex-direction: column;
	}
 
 .material-icons {
		font-size: 2em; /* 아이콘 크기를 원하는 크기로 설정 */
	}