@charset "EUC-KR";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.footer-map {
	position: sticky;
	z-index: 10000;
	bottom: 0;
}

.footer-container {
	border-top: 2px solid #2780e3;
	width : 100%;
	height : 100%;
	margin: 0;
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 9999;
}

.mobile-bottom-nav {
	z-index: 1000;
	/* will-change: transform;
	transform: translateZ(0); */
	display: flex;
	/* box-shadow: 0 -2px 5px -2px #333; */
	background-color: #ffffff;
}
.mobile-bottom-nav__item {
	flex-grow: 1;
	text-align: center;
	font-size: 2vmax;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mobile-bottom-nav__item--active {
	color: #2780E3 !important;
}

.mobile-bottom-nav__item-content {
	color: #00B1F6;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.footer-material-icons{
	font-size: 5vh !important;  
}

.checkPoint-button-footer {
	font-size: 7vh !important;
}

div#content-for-footer {
	min-height: 93dvh;
}
	
