@charset "EUC-KR";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.footer-container {
		border-top: 2px solid black;
		width : 100%;
		height : 25%;
		margin: 0;
		position: sticky;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: white;		
	}

	.mobile-bottom-nav {
	  /* z-index: 1000;
	  will-change: transform;
	  transform: translateZ(0); */
	  display: flex;
	  box-shadow: 0 -2px 5px -2px #333;
	  background-color: #fff;
	}
	.mobile-bottom-nav__item {
	  flex-grow: 1;
	  text-align: center;
	  font-size: 2vmax;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	.mobile-bottom-nav__item--active {
	  
	}
	.mobile-bottom-nav__item-content {
		height: 100%;
	  display: flex;
	  flex-direction: column;
	}
 
 .material-icons {
		font-size: 2em; /* 占쏙옙占쏙옙占쏙옙 크占썩를 占쏙옙占싹댐옙 크占쏙옙占� 占쏙옙占쏙옙 */
	}
	
	div#content-for-footer {
				min-height: 90dvh;
<<<<<<< HEAD
				/* footer 占쌩곤옙占쏙옙 body占쏙옙占싸울옙 占쌍댐옙 占쏙옙占쏙옙짹占� <div id=content></div> 占쏙옙 占쏙옙占쏙옙占쌍곤옙 占쌩곤옙占쏙옙占쏙옙 占쏙옙.*/ 
=======
				/* footer 추가시 body내부에 있는 모든태그 <div id=content></div> 로 묶어주고 추가해줄 것.*/ 
>>>>>>> refs/remotes/origin/master
			}