/* 기본 color는 btn-primary 사용할 것 */

.btn-secondary-custom {
	
	background : #00A7F5
}

.btn-success-custom {
	
	background : #8EF087
}

.btn-light-custom {
	
	background : #00C6E1
}


.btn-info-custom {
	
	background : #F9F871
}

/*
.btn-warning-custom {
	
	background : #
}
*/

.btn-danger-custom {
	
	background : #FF3838
}




.text-secondary-custom {
	
	color : #00A7F5;
}

.text-success-custom {
	
	/* 글씨가 잘 안 보인다... */
	color : #00DFB6;
}

.text-light-custom {
	
	color : #00C6E1;
}


.text-info-custom {
	
	color : #F9F871;
}

/*
.text-warning-custom {
	
	color : #
}
*/

.text-danger-custom {
	
	color : #FF3838;
}
