<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="/javascript/user/naveridlogin_js_sdk_2.0.2.js"></script>
    
    <script th:inline="javascript">
 		$(function() {
 			
 			const temp = [[${userId}]];
 			
 			if(temp != null) {
 				
 				$('#loginDiv').css('display', 'none');
 				$('#userDiv').css('display', 'block');
 			}
 			
			$('#login').on('click', function() {
        		
        		$.ajax({
                    type: "POST",
                    url: "/user/rest/login",
                    contentType: "application/json",
                    data: JSON.stringify({
                        userId: $("#username").val(),
                        userPassword: $("#password").val(),
                        keepLogin: $('input[name="keepLogin"]').is(":checked").toString()
                    }),
                    success: function(response) {

                    	console.log("server 응답 : "+ response);
						
                    	if(response == "wrong password") {
                    		
                    		alert("아이디 또는 비밀번호가 틀렸습니다.");
                    		return;
                    		
                    	}
                    	
                    	if(response == "passwordExceeded") {
                    		
                    		const result = confirm("비밀번호 변경 권장 기한을 넘어섰습니다. 비밀번호를 변경하시겠습니까?");
                        	if(result) {
                        		
                        		$('input[name="changePassword"]').val(true);	
                        		window.location.href="/user/getUpdatePasswordView";
                        		return;
                        		
                        	} 
                        	
                    	} 
						
                    	if(response == "user") {
                    	
                    		window.location.href="/map";
                    		
                    	} else if(response == "admin") {
                    		
                    		window.location.href="/user/admin/adminMain";
                    		
                    	} else {
                    	
                    		// $('form').attr('method', 'post').attr('action', '/user/login').submit();
                    		
                    		alert("현재 정지 상태입니다. 정지 해제 일시 : " + response);
                    		return;
                    		
                    	}
                    },
                    error: function(jqXHR) {
                        alert("오류 발생: " + jqXHR.responseText);
                    }
                });
        	});
			
			
			$('#logout').on('click', function() {
				
				$('form').attr('method', 'post').attr('action', '/user/logout').submit();
			});
			
			$('#signUp').on('click', function() {
				
				window.location.href="/user/getAgreeTermsAndConditionsList";
			});
			
			$('#getProfile').on('click', function() {
				
				
				window.location.href="/user/getProfile?userId="+[[${userId}]];
			});
 		});
 		
 		$(function(){
 			
			$('#mapView').on('click', function() {
				
				window.location.href="/map";
			});
			
			$('#footerView').on('click', function() {
				
				window.location.href="/test";
			});
 		});

    </script>
</head>
<body>
    <form id="loginForm">
    	
    	<div id="loginDiv">
	        <input type="text" id="username" name="userId" placeholder="아이디">
	        <br/>
	        <input type="password" id="password" name="userPassword" placeholder="비밀번호">
	        <br/>   
	        
	        <input type="checkbox" name="keepLogin"/>
	        <label for="keepLogin">로그인 유지</label>
	        
	        <!-- <input type="hidden" name="changePassword" value="false"/>  -->
	        
	        <button type="button" id="login">로그인</button>
	        <button type="button" id="signUp">회원가입</button>
	        
	        
	        <a th:href="@{https://accounts.google.com/o/oauth2/v2/auth(client_id=${client_id}, redirect_uri=${redirect_uri}, response_type=${response_type}, scope=${scope}, access_type=${access_type}, prompt=${prompt}, state=${state})}">
	        <img src="https://accounts.google.com/static/images/gsignin/v2/common/signin_button.svg" alt="Google 로그인">
	        </a>
			<div id="naverIdLogin">
				<a id="naverIdLogin_loginButton" th:href="@{https://nid.naver.com/oauth2.0/authorize(response_type=code, client_id=${naver_client_id}, redirect_uri=${naver_redirect_uri}, state=${naver_state})}" role="button">
				<img src="https://static.nid.naver.com/oauth/big_g.PNG" width=320></a>
			</div>	
	        <div id="kakao">
				<a href="user/getKakaoLoginView">
   				<img src="https://kr.object.ncloudstorage.com/mapmory-object/static/kakao_login_medium_narrow.png" alt="카카오 로그인 버튼">
				</a>
			</div>
			
        </div>
        <div id="userDiv" style="display:none;">
	        <button type="button" id="getProfile">내 프로필로 이동</button>
	        <button type="button" id="logout">로그아웃</button>
        </div>
        
        
        
        <hr>
        <hr>
        <hr>
		<details>
		  <summary>사용자 테스트 방법 (비밀번호 암호화 정책 적용)</summary>
		  <ol>
		    <li>
		      'users' 테이블에서 `password` 열의 길이를 120으로 변경합니다. (또는 현재 데이터베이스를 삭제하고 개인용 스크립트를 다시 붙여넣어도 됩니다.)
		    </li>
		    <li>
		      "/user/setupForTest" URL로 접속합니다. template error가 발생할텐데, 이것은 무시하셔도 됩니다! (view가 없어서 당연히 발생함)
		    </li>
		  </ol>
		  <br>
		
		  **번외:** 모든 사용자의 비밀번호를 암호화하고 싶다면, `UserServiceImpl`의 `setupForTest()`에서 기존 코드를 주석처리하고 위에 주석 처리된 부분을 활성화한 후 2번부터 시행해주세요.
		</details>
         
        <br/>
        <br/>
        <button type="button" id="mapView">map으로 바로 이동</button>
        <button type="button" id="footerView">footer 실험실로 이동</button>
    </form>
    
	<div th:include="common/footer::defaultFooter"></div>
	
</body>
</html>
