<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>로그인</title>
    <th:block th:replace="~{/common/dependencies}"></th:block>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	 -->
	<link href="/css/common/hyperlink-to-text.css" rel="stylesheet">
	 <link rel="stylesheet" href="/css/common/footer.css">
	<style>
		/* body{margin-top:20px;} */ 
		
		a {
		
			color: inherit;
			text-decoration: none;
		
		}
		
		
	</style>
	<!-- 
	<style>
		#social-login-btn {
	      height: 100vh; /* 화면의 전체 높이를 차지하도록 설정 */
	      display: flex;
	      /*justify-content: center; */ /* 수평 중앙 정렬 */
	      align-items: center; /* 수직 중앙 정렬 */
	    }
	    .login-buttons {
	      display: flex;
	      flex-direction: column; /* 수직으로 나열 */
	      gap: 20px; /* 버튼들 간의 간격 */
	    }
	</style>
 		
 		-->

	<script src="/javascript/user/naveridlogin_js_sdk_2.0.2.js"></script>
    
    <script th:inline="javascript">
    
    const temp = /*[[${userId}]]*/ '';
    
 		$(function() {
 			
 			if(temp != null) {
 				
 				$('#loginDiv').css('display', 'none');
 				$('.userDiv').css('display', 'block');
 			}
 			
			$('#login').on('click', function() {
        		
        		$.ajax({
                    type: "POST",
                    url: "/user/rest/login",
                    contentType: "application/json",
                    data: JSON.stringify({
                        userId: $("#username").val(),
                        userPassword: $("#password").val(),
                        keepLogin: $('input[name="keepLogin"]').is(":checked").toString()
                    }),
                    success: function(response) {

                    	console.log("server 응답 : "+ response);
						
                    	if(response == "empty id" ||response == "empty password"  ) {
                    		
                    		alert("아이디와 비밀번호를 모두 입력해주세요.");
                    		return;
                    	}
                    		
                    	
                    	if(response == "wrong password") {
                    		
                    		alert("아이디 또는 비밀번호가 틀렸습니다.");
                    		return;
                    		
                    	}
                    	
                    	if(response == "leaveUser") {
                    		
                    		alert('탈퇴한 사용자는 서비스 이용이 불가능합니다...');
                    		return;
                    	}
                    	
                    	if(response == "secondAuth") {
                    		
                    		console.log("2단계 인증을 진행합니다...,");
                    		// window.location.href="/user/getSecondaryAuthView?userId="+$("#username").val();
                    		window.location.href="/user/getSecondaryAuthView";
                    		return;
                    	}
                    	
                    	if(response == "passwordExceeded") {
                    		
                    		const result = confirm("비밀번호 변경 권장 기한을 넘어섰습니다. 비밀번호를 변경하시겠습니까?");
                        	if(result) {
                        		
                        		$('input[name="changePassword"]').val(true);	
                        		window.location.href="/user/getUpdatePasswordView";
                        		return;
                        		
                        	} 
                        	
                    	} 
						
                    	if(response == "user") {
                    	
                    		window.location.href="/map";
                    		
                    	} else if(response == "admin") {
                    		
                    		window.location.href="/user/admin/getAdminMain";
                    		
                    	} else {
                    	
                    		// $('form').attr('method', 'post').attr('action', '/user/login').submit();
                    		console.log(response, typeof response);
                    		
                    		const tempStr = response.split("T");
                    		
                    		// alert("현재 정지 상태입니다. 정지 해제 일시 : " + response);
                    		alert("현재 정지 상태입니다. 정지 해제 일시 : " + `${tempStr[0]} ${tempStr[1]}`);
                    		return;
                    		
                    	}
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                    	
                    	if(jqXHR.status === 0 && jqXHR.statusText === 'error')
                    		alert('현재 서버가 작동하지 않고 있습니다...');
                    	else
                        	alert("오류 발생: " + jqXHR.responseText);
                    }
                });
        	});
			
			$('#signUp').on('click', function() {
				
				window.location.href="/user/getAgreeTermsAndConditionsList";
			});
			
			$('#getId').on('click', function() {
				
				
				window.location.href="/user/getIdView";
			});
			
			$('#getPassword').on('click', function() {
				
				
				window.location.href="/user/getPasswordView";
			});
			
			/*
			$('#keepLoginDiv').on('click', function() {
				
				console.log("flag");
				var checkBox = $(this).find('input[name="keepLogin"]');

				checkBox.prop('checked', !checkBox.prop('checked'));
			});
			*/
			
			$('label[for="keepLogin"]').on('click', function() {

				var checkBox = $(this).parent().find('input[name="keepLogin"]');
				
				// console.log("before statement : " + checkBox.prop('checked'));
				checkBox.prop('checked', !checkBox.prop('checked'));
				// console.log("I changed : " + checkBox.prop('checked'));
			});
 		});
 		
 		/*
 		$(function(){
 			
			$('#getProfile').on('click', function() {
				
				
				window.location.href="/user/getProfile?userId="+temp;
			});
			
			$('#logout').on('click', function() {
				
				$('form').attr('method', 'post').attr('action', '/user/logout').submit();
			});
 			
			$('#mapView').on('click', function() {
				
				window.location.href="/map";
			});
			
			$('#adminMain').on('click', function() {
				
				window.location.href="/user/admin/getAdminMain";
			});
			
			$('#footerView').on('click', function() {
				
				window.location.href="/timeline/getAdminCategoryList";
			});
 		});
		*/
    </script>
		
</head>
<body >
	    	
    	<!-- <div id=content-for-footer class="container mt-5">  -->
    	<div  id="content-for-footer">
	    	<div class="container mt-5 ">
			   	<div id="loginDiv" class="align-self-center">
			   	
			   		<div class="text-center">
						<h2 class="fw-bold">사용자 로그인</h2>
						<p>서비스 이용을 위해서는 로그인이 필요합니다.</p>
					</div>
			   		<form id="loginForm" >
			    		<div >
				    		<label for="userId" class="form-label"></label>
					        <input type="text" id="username" name="userId" placeholder="아이디" class="form-control">
						</div>
						<div class="mb-4">
					        <label for="userPassword" class="form-label"></label>
					        <input type="password" id="password" name="userPassword" placeholder="비밀번호" class="form-control">
						</div>
						<div class="mb-1 d-grid gap-2">
				        	<button type="button" id="login" class="btn btn-primary">사용자 로그인</button>
				        </div>
				        <div id="keepLoginDiv">
					        <input type="checkbox" name="keepLogin" class="form-check-input"/>
					        <label for="keepLogin" class="form-check-label">로그인 유지</label>
						</div>
			        </form>
			        
			        
			        
			        <!-- <input type="hidden" name="changePassword" value="false"/>  -->
			        
			        <!-- 
			        <button type="button" id="signUp">회원가입</button>
			        <button type="button" id="getId">아이디 찾기</button>
			        <button type="button" id="getPassword">비밀번호 찾기</button>
			         -->
			         
			         <div class="mt-3 d-flex justify-content-center">
			         	<a class="mx-3" href="/user/getAgreeTermsAndConditionsList">회원가입</a>
			         	<a class="mx-3" href="/user/getIdView">아이디 찾기</a>
			         	<a class="mx-3" href="/user/getPasswordView">비밀번호 찾기</a>
			         </div>
			         
			        
			        
			        <div id="social-login-btn" class="mt-5 my-3 ps-4 row text-center img-fluid">
			        	<!-- 
			        	<div class="my-3">
					        <a th:href="@{https://accounts.google.com/o/oauth2/v2/auth(client_id=${google_client_id}, redirect_uri=${google_redirect_uri}, response_type=${google_response_type}, scope=${google_scope}, access_type=${google_access_type}, prompt=${google_prompt}, state=${google_state})}"></a>
					        <img src="https://accounts.google.com/static/images/gsignin/v2/common/signin_button.svg" alt="Google 로그인" >
				        </div>
				         -->
						<div id="naverIdLogin" class="my-3">
							<!-- backend에서 navigation 처리하여 id를 숨길 것. -->
							<a id="naverIdLogin_loginButton" href="/user/getNaverLoginView" role="button">
							<img src="https://static.nid.naver.com/oauth/big_g.PNG" width=320></a>
						</div>	
				        <div id="kakao" class="my-3">
							<a href="/user/getKakaoLoginView">
			   				<img src="https://kr.object.ncloudstorage.com/mapmory-object/static/kakao_login_medium_narrow.png" alt="카카오 로그인 버튼" width=320>
							</a>
						</div>
					</div>
					
					<div class="mt-3 d-flex justify-content-center">
						<a class="mx-3 link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/user/getRecoverAccountView">계정을 복구하시겠습니까?</a>
					</div>
	      		 </div>
		        
		        <!-- 
		        <div class="userDiv" style="display:none;">
			        <button type="button" id="logout">로그아웃</button>
		        </div>
		        <hr>
		        <hr>
		        <hr>
				<details>
				  <summary>사용자 테스트 방법 (비밀번호 암호화 정책 적용)</summary>
				  <ol>
				    <li>
				      'users' 테이블에서 `password` 열의 길이를 120으로 변경합니다. (또는 현재 데이터베이스를 삭제하고 개인용 스크립트를 다시 붙여넣어도 됩니다.)
				    </li>
				    <li>
				      "/user/setupForTest" URL로 접속합니다. template error가 발생할텐데, 이것은 무시하셔도 됩니다! (view가 없어서 당연히 발생함)
				    </li>
				  </ol>
				  <br>
			
			  <p>**번외:** 모든 사용자의 비밀번호를 암호화하고 싶다면, `UserServiceImpl`의 `setupForTest()`에서 기존 코드를 주석처리하고 위에 주석 처리된 부분을 활성화한 후 2번부터 시행해주세요.</p>
			</details>
	         
	        <br/>
	        <br/>
	        <button type="button" id="mapView">map으로 바로 이동</button>
	        <button type="button" id="adminMain" class="btn btn-primary">관리자 메인 화면으로 이동</button>
	        <button type="button" id="footerView">getAdminCategoryList</button>
	    
	    <div class="userDiv" style="display:none;">
 			<div th:replace="common/footer::defaultFooter"></div>
		</div>
		
    	</div>
    	 -->

</body>
</html>
