<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8" name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<title>맵</title>
	
	<link rel="stylesheet" href="/css/map/map.css"/>
    <script src="/javascript/map/drawRoute.js"></script>
    <script src="/javascript/config/key.js"></script>
    <script src="/javascript/map/mapFunction.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9bb092e55e04073df199c8fdf46abadd"></script>
	
	<script th:inline="javascript">
	let map;
	let markers = [];
	let tempMarkers = [];
	let polylines = [];
	let bounds;
	let selectLatitude;
	let selectLongitude;
	let paths = [];
	let userId = /*[[${userId}]]*/ 'user1';
	
	$(document).ready(function() {
		let mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = {
			center : new kakao.maps.LatLng(37.499396, 127.029038), // 지도의 중심좌표
			level : 3 // 지도의 확대 레벨
		};

		map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성
		
		$('#searchForm').on('submit', function(event) {
			event.preventDefault();
			searchRecord();
		});
		
		$('#private, #public, #follow, input[name="radius"]').on('change', function(event) {
			event.preventDefault();
			searchRecord();
		});
		
		$('#searchForm').trigger('submit');
		
		$('#searchKeyword').on('focus', function(){
            getSuggestions();
        });
		
		 // 입력 필드 밖을 클릭하면 추천 검색어 숨기기
        $(document).on('click', function(event) {
            if (!$(event.target).closest('#searchKeyword').length) {
                $('#suggestions').hide();
            }
        });
		 
        $('#suggestions').on('click', 'div', function(){
            $('#searchKeyword').val($(this).text());
            $('#suggestions').hide();
            searchRecord();
        });
		
        function getSuggestions() {
            $.ajax({
                url: '/recommend/rest/getSearchRecommend', // 추천 검색어를 제공하는 API 엔드포인트
                method: 'GET',
                success: function(data) {
                    displaySuggestions(data);
                },// success
                error: function() {
                    $('#suggestions').hide();
                }// error
            });// ajax
        }// getSuggestions: 추천 검색어를 가져오는 함수

        // 추천 검색어를 화면에 표시하는 함수
        function displaySuggestions(suggestions) {
            let suggestionsBox = $('#suggestions');
            suggestionsBox.empty();
            suggestions.forEach(function(suggestion) {
                suggestionsBox.append('<div>' + suggestion + '</div>');
            });
            suggestionsBox.show();
        }
		//getRecommendPlace();
		
        const toggleButton = document.getElementById('toggleButton');
        const status = document.getElementById('status');
        const toggleCircle = toggleButton.querySelector('.toggle-circle');
        const checkboxGroup = document.getElementById('checkboxGroup');
        const searchBoxGroup = document.getElementById('searchBoxGroup');

        toggleButton.addEventListener('click', function () {
            toggleButton.classList.toggle('active');
            if (toggleButton.classList.contains('active')) {
                toggleCircle.textContent = '추천';
                checkboxGroup.style.display = 'none';
                searchBoxGroup.style.display = 'none';
                getRecommendPlace();
            } else {
                toggleCircle.textContent = '기록';
                searchRecord();
                checkboxGroup.style.display = 'block';
                searchBoxGroup.style.display = 'block';
            }
        });
           
	});// 페이지 로드 시 폼 자동 제출
	
	const searchRecord = () => {
		clearMarkers();
		clearPolylines();
		deleteHTML();
		
		getCurrentLocation().done(function(location) {

			setMarkers([{ latitude: location.coords.latitude, longitude: location.coords.longitude, markerType:4 } ]);

			const requestData = { latitude: location.coords.latitude, 
						  longitude: location.coords.longitude, 
						  radius: $('input[name="radius"]:checked').val(), 
						  sharedType:  $('#public').is(':checked') ? 1 : 0, 
						  followType: $('#follow').is(':checked') ? 1 : 0, 
						  privateType: $('#private').is(':checked') ? 1 : 0, 
						  categoryNo: 0,
						  userId: userId,
						  searchKeyword: $('input[name="searchKeyword"]').val() };

			$.ajax({
				url: "/map/rest/getMapRecordList", // 요청을 보낼 URL을 입력
				contentType: 'application/json', // Content-Type을 JSON으로 설정
				method: 'POST',
				data: JSON.stringify(requestData),
				success: function(response) {
					console.log(response);

					bounds = new kakao.maps.LatLngBounds(); // 중심좌표 변경
					
					if(response.length != 0){
						const coordinates = response.map(record => {
							const latLng = new kakao.maps.LatLng(record.latitude, record.longitude);
							bounds.extend(latLng);
							
							$('#result').append(recordElement(record));
						        
							return {
								latitude: record.latitude,
								longitude: record.longitude,
								recordNo: record.recordNo,
								markerType: record.recordType
							};
						});
						
						map.setBounds(bounds);
						setMarkers(coordinates);
					}else{
						alert("해당하는 기록이 없습니다!!");
					}//if~else
					
				}, // success
				error: function(error) {
					console.log('ajax 에러 발생:', error);
				} // error
			}); //기록 검색 ajax

		}).fail(function(error) {
			console.log('위치 정보를 불러오는데 실패함:', error);
		});// 위치정보 불러오기 실패
	};
	
	const getRecommendPlace = () => {
		deleteHTML();
		clearPolylines();
		clearMarkers();
		
		getCurrentLocation().done(function(location) {

			setMarkers([{ latitude: location.coords.latitude, longitude: location.coords.longitude, markerType:4 }]);

			const requestData = { latitude: location.coords.latitude, 
						  longitude: location.coords.longitude, 
						  radius: $('input[name="radius"]:checked').val(), 
						  sharedType:  $('#public').is(':checked') ? 1 : 0, 
						  followType: $('#follow').is(':checked') ? 1 : 0, 
						  privateType: $('#private').is(':checked') ? 1 : 0, 
						  categoryNo: 0,
						  userId: userId,
						  searchKeyword: $('input[name="searchKeyword"]').val() };

			$.ajax({
				url: "/recommend/rest/recommend?userId="+userId, // 요청을 보낼 URL을 입력
				contentType: 'application/json', // Content-Type을 JSON으로 설정
				method: 'GET',
				success: function(response) {
					console.log(response);

					if(response.length != 0){
						const coordinates = response.map(place => {
							const latLng = new kakao.maps.LatLng(place.latitude, place.longitude);
							bounds.extend(latLng);
							
                        	$('#result').append(recommendElement(place));
							
							return {
								latitude: place.latitude,
								longitude: place.longitude,
								recordNo: place.recordNo,
								markerType: 3
							};
						});
						
						map.setBounds(bounds);
						setMarkers(coordinates);
					}else{
						alert("해당하는 기록이 없습니다!!");
					}//if~else
					
				}, // success
				error: function(error) {
					console.log('ajax 에러 발생:', error);
				} // error
			}); //기록 검색 ajax

		}).fail(function(error) {
			console.log('위치 정보를 불러오는데 실패함:', error);
		});// 위치정보 불러오기 실패
	};
	
	function getCurrentLocation() {
	    let deferred = $.Deferred();

	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(function(location) {

	            let locPosition = new kakao.maps.LatLng(location.coords.latitude, location.coords.longitude); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성
	            map.setCenter(locPosition); // map center 변경

	            deferred.resolve(location);
	        }, function(error) {
	            deferred.reject(error);
	        });
	    } else {
	        deferred.reject(new Error('현재 위치를 알 수 없습니다.'));
	    }

	    return deferred.promise();
	} // getCurrentLocation: 현재 위치를 가져오는 함수
	
	function hasTagClick(tagText){
		$("#searchKeyword").val(tagText.replace('#', ''));
        searchRecord();
	}// hasTagClick
	
	const recommendElement = (place) => {
		return `<div class="place">
    				<h2>  ${place.placeName} </h2>
    				<p>Category: ${place.categoryName} </p>
    				<p>Address: ${place.addressName} </p>
    				<p>Phone: ${place.phone} </p> 
    				<p><a href=${place.placeUrl}>More Info</a></p>
    			</div>
    			`;
	}// recordElement
	
	const recordElement = (record) => {
		return `
			<div class="record-info">
            <h2>Record Information</h2>
            <p><strong>Nick Name:</strong> ${record.nickName ? record.nickName : '익명'}</p>
            <p><strong>Profile Image Name:</strong> ${record.profileImageName ? record.profileImageName : '익명사진.jpg'}</p>
            <p><strong>Record Title:</strong> ${record.recordTitle}</p>
            <p><strong>Checkpoint Address:</strong> ${record.checkpointAddress}</p>
            <h3>Image Tags</h3>
            <ul>
            	${record.imageName && record.imageName.length > 0 ? `<li>${record.imageName[0].imageTagText}</li>` : '<li>기본 이미지.jpg</li>'}
            </ul>
            <h3>Hashtags</h3>
            <ul>
            ${record.hashtag && record.hashtag.length > 0 
                ? record.hashtag.slice(0, 3).map(tag => `<li onclick="hasTagClick('${tag.imageTagText}')"><a href='#'>${tag.imageTagText}</a></li>`).join('') 
                : '<li>해시태그가 없음</li>'}
            </ul>
            <p><strong>Category Name:</strong> ${record.categoryName ? record.categoryName : '카테고리 없음'}</p>
            <p><strong>Category Imoji:</strong> ${record.categoryImoji ? `<img src="${record.categoryImoji}" alt="Category Imoji" />` : 'N/A'}</p>
            <p><strong>Record Text:</strong> ${record.recordText}</p>
            <p><strong>Record Add Date:</strong> ${record.recordAddDate}</p>
            <p><strong>Distance:</strong> ${record.stringDistance} </p>
        </div>
			<hr/>
	        `;
	}// recommendElement
</script>
	
</head>
<body>
	<div id="mapWrap" style="width: 100%; height: 100%;">
		<div id="map">
			<div id="result"></div>
		</div>
    	<form id="searchForm">
		<div class="overlay overlayRight">
			<div class="toggle-button" id="toggleButton">
        		<div class="toggle-circle">기록</div>
    		</div>
    		
    		<div id="checkboxGroup">
				<div>
            		<input type="checkbox" id="private" name="private" checked>
            		<label for="private">Private</label>
        		</div>
        	
        		<div>
            		<input type="checkbox" id="public" name="public" checked>
            		<label for="public">Public</label>
        		</div>
        	
        		<div>
            		<input type="checkbox" id="follow" name="follow" checked>
            		<label for="follow">Follow</label>
        		</div>
        	</div>
    	</div>
    	
    	<div class="overlay overlayCenter" id="searchBoxGroup">
    		<input type="text" id="searchKeyword" name="searchKeyword" placeholder="검색어를 입력하세요" />
				<div id="suggestions"></div>
        	
       			<label>
            		<input type="radio" name="radius" value="1" checked> 1km
        		</label>
        	
        		<label>
            		<input type="radio" name="radius" value="3"> 3km
        		</label>
        	
        		<label>
            		<input type="radio" name="radius" value="5"> 5km
        		</label>
    	</div>
    	</form>
    	
		<button onclick="getRecommendPlace()">추천요청</button>	
		<button onclick="searchRecord()">다시요청</button>
		<button onclick="drawRoute('1')">도보 경로 요청하기</button>
		<button onclick="drawRoute('2')">자동차 경로 요청하기</button>
		<button onclick="drawTransitRoute()">대중교통 경로 요청하기</button>
		<button onclick="showMarkers()">경로 찾기 이전버튼</button>
		
		<div id="description"></div>
	</div>
</body>
</html>