<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<h1 th:text="${'getDetailTimeline2'}"></h1>
	<!-- <ul>
    <li th:each="item : ${list}" th:text="${item}"></li>
</ul>
<ul>
    <li th:each="item : ${list2}" th:text="${item.recordUserId}+',  '+${item.recordTitle}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}"></li>
</ul>
<ul>
   <li th:each="item : ${list3}" th:text="${item.recordUserId == null ? null : item.recordUserId}
    +',  '+${item.recordTitle == null ? null : item.recordTitle}
    +',  '+${item.sharedDate == null ? '' : item.sharedDate}
    +',  '+${item.tempType == null ? null : item.tempType}
    +',  '+${item.timecapsuleType == null ? null : item.timecapsuleType}"></li>
</ul>
<ul>
    <li th:each="item : ${list4}" th:text="${item.recordUserId}+',  '+${item.recordTitle}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}"></li>
</ul>
<ul>
    <li th:each="item : ${list5}" th:text="${item.recordUserId}+',  '+${item.recordTitle}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}"></li>
</ul>
<ul>
    <li th:each="item : ${list6}" th:text="${item.recordUserId}+',  '+${item.recordTitle}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}"></li>
</ul>
 <ul>
    <li th:each="item : ${list7}" th:text="${' 기록된 타임캡슐 기록 : '+item.recordUserId}+',  '+${item.recordTitle}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}+',  '+${item.d_DayDate}"></li>
</ul>-->
<!-- <ul>
    <li th:each="item : ${list8}" th:text="${' 대민 recordList: '+item.recordNo}+',  '+${item.recordTitle}+',  '+${item.categoryName}+',  '+${item.categoryImoji}+',  '+${item.recordAddDate}"></li>
</ul>
<ul>
    <li th:each="item : ${list8_1}" th:text="${' 대민 recordList: '+item.recordNo}+',  '+${item.recordTitle}+',  '+${item.categoryName}+',  '+${item.categoryImoji}+',  '+${item.recordAddDate}"></li>
</ul>
<ul>
    <li th:each="item : ${list8_2}" th:text="${' 대민 recordList: '+item.recordNo}+',  '+${item.recordTitle}+',  '+${item.categoryName}+',  '+${item.categoryImoji}+',  '+${item.recordAddDate}"></li>
</ul> -->
<ul>
    <li th:each="item : ${list8}" th:text="${' 대민 recordList: '+item}"></li>
</ul>
<ul>
    <li th:each="item : ${list8_1}" th:text="${' 대민 recordList: '+item}"></li>
    </ul>
<ul>
    <li th:each="item : ${list8_2}" th:text="${' 대민 recordList: '+item}"></li>
</ul>
<!--<ul>
    <li th:each="item : ${list9}" th:text="${' 재용 sharedRecord : '+item}"></li>
</ul>
<ul>
    <li th:each="item : ${list10}" th:text="${' 재용 sharedRecord : '+item}"></li>
</ul>
<ul>
    <li th:each="item : ${list11}" th:text="${' 타임라인 날짜 지정 : '+item}"></li>
</ul>
<ul>
    <li th:each="item : ${mapList1}" th:text=" '성문 follow : '+${item.recordUserId}+',  '+${item.latitude}+',  '+${item.longitude}+',  '+${item.distance}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}+',  '+${item.recordTitle}+',  '+${item.recordText}"></li>
</ul>
<ul>
    <li th:each="item : ${mapList2}" th:text=" '성문 public : '+${item.recordUserId}+',  '+${item.latitude}+',  '+${item.longitude}+',  '+${item.distance}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}+',  '+${item.recordTitle}+',  '+${item.recordText}"></li>
</ul>
<ul>
    <li th:each="item : ${mapList3}" th:text=" '성문 private no keyword, no category : '+${item.recordUserId}+',  '+${item.latitude}+',  '+${item.longitude}+',  '+${item.distance}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}+',  '+${item.recordTitle}+',  '+${item.recordText}"></li>
</ul>
<ul>
    <li th:each="item : ${mapList3_2}" th:text=" '성문 private only keyword : '+${item.recordUserId}+',  '+${item.latitude}+',  '+${item.longitude}+',  '+${item.distance}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}+',  '+${item.recordTitle}+',  '+${item.recordText}"></li>
</ul>
<ul>
    <li th:each="item : ${mapList3_3}" th:text=" '성문 private keyword, category : '+${item.recordUserId}+',  '+${item.latitude}+',  '+${item.longitude}+',  '+${item.distance}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}+',  '+${item.recordTitle}+',  '+${item.recordText}"></li>
</ul>
<ul>
    <li th:each="item : ${mapList3_4}" th:text=" '성문 private only category : '+${item.recordUserId}+',  '+${item.latitude}+',  '+${item.longitude}+',  '+${item.distance}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}+',  '+${item.recordTitle}+',  '+${item.recordText}"></li>
</ul>
 <ul>
    <li th:each="item : ${mapList4}" th:text=" '성문 랜덤 테스트 : '+${item.recordUserId}+',  '+${item.latitude}+',  '+${item.longitude}+',  '+${item.distance}+',  '+${item.sharedDate}+',  '+${item.tempType}+',  '+${item.timecapsuleType}+',  '+${item.recordTitle}+',  '+${item.recordText}+',  nickName : '+${item.nickName}+',  '+${item.profileImageName}+',  category : '+${item.categoryName}+',  '+${item.categoryImoji}+',  '+${item.imageName}+',  '+${item.hashtag}"></li>
</ul>
 <ul>
    <li th:each="item : ${list16}" th:text=" '날짜선택 list : '+${item}"></li>
</ul> -->
</body>
</html>