<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<h1 th:text="${'getDetailTimeline2'}"></h1>
	<ul>
		<li th:text="${list}"></li>
	</ul>
	<ul th:text="${list2}" >
		<li th:text="${item}"><br/></li>
	</ul>
	<ul th:text="${list3}">
		<li th:text="${item}"><br/></li>
	</ul>
	<ul th:text="${list4}">
		<li th:text="${item}"><br/></li>
	</ul>
	<ul th:text="${list5}">
		<li th:text="${item}"><br/></li>
	</ul>
	<ul th:text="${list6}">
		<li th:text="${item}"><br/></li>
	</ul>
	<ul th:text="${list7}">
		<li th:text="${item}"><br/></li>
	</ul>
</body>
</html>