<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/timeline/getSimpleTimeline(recordNo=1)}"
		th:text="${'getSimpleTimeline'}"></a>
	<br />
	<table border=1>
		<tr>
			<td th:text="${record.recordTitle}"></td>
			<td th:text="${record.categoryNo}"></td>
			<td th:text="${record.updateCount}"></td>
			<td th:text="${record.sharedDate!=null ? '공유됨' : '비공유'}"></td>
		</tr>
		<tr>
			<td th:text="${record.checkpointDate}"></td>
		</tr>
		<tr>
			<td th:text="${record.checkpointAddress}"></td>
		</tr>
		<tr>
			<td th:text="${record.mediaName}"></td>
		</tr>
		<tr th:each="image : ${record.imageName}">
			<td th:text="${image.imageTagText}"></td>
		</tr>
		<tr>
			<td><br /></td>
		</tr>
		<tr>
			<td><span th:each="hash : ${record.hashtag}" th:text="${hash.imageTagText}"></span></td>
		</tr>
		<tr>
			<td th:text="${record.recordText}"></td>
		</tr>
	</table>
	<ul>
	<li><a th:href="@{/timeline/updateTimeline(recordNo=1)}"
		th:text=" '수정' "></a></li>
	</ul>
</body>
</html>