<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
   <meta charset="UTF-8">
   <title>Word Cloud Chart Example</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/5/cosmo/bootstrap.css">
<link rel="stylesheet" href="/css/common/footer.css">
   <link rel="stylesheet" href="https://www.riamore.net/HTML5demo/chart/rMateChartH5/Assets/Css/rMateChartH5.css"/>
<style>
body {
	position:flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y:auto; 
}
#chartHolder {
	position:flex;
    width: 100%;
    height: 85dvh;
    bottom: 10lvh;
}
</style>
</head>
<body>
<div id="content-for-footer">
	<div class="container text-center">
		<div class="row">
		    <div class="col-12">
				<h3 th:text="'키워드 빈도'"></h3>
			</div>
		</div>
	</div>
    <div id="chartHolder"></div>
</div>
<div class="footer-map">
<div th:replace="common/footer::defaultFooter"></div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://www.riamore.net/HTML5demo/chart/LicenseKey/rMateChartH5License.js"></script>
<script src="https://www.riamore.net/HTML5demo/chart/rMateChartH5/JS/rMateChartH5.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        rMateChartH5.create("chart1", "chartHolder", "", "100%", "100%");

        let keywordList=JSON.parse([[${keywordList}]]);
        console.log(keywordList);
        var layoutStr = 
            '<rMateChart backgroundColor="#FFFFFF" borderStyle="none">'
                + '<Options></Options>'
                + '<WordCloudChart showDataTips="true">'
                    + '<series>'
                        + '<WordCloudSeries textField="text" weightField="value">'
                            + '<showDataEffect>'
                                + '<SeriesInterpolate duration="1000"/>'
                            + '</showDataEffect>'
                            + '<fills>'
                                + '<SolidColor color="#52bb9d"/>'
                                + '<SolidColor color="#727b84"/>'
                                + '<SolidColor color="#ed527c"/>'
                                + '<SolidColor color="#f6a33d"/>'
                                + '<SolidColor color="#ed527a"/>'
                                + '<SolidColor color="#90d5c2"/>'
                            + '</fills>'
                        + '</WordCloudSeries>'
                    + '</series>'
                + '</WordCloudChart>'
            + '</rMateChart>';

            var chartData = keywordList;

        rMateChartH5.calls("chart1", {
            "setLayout": layoutStr,
            "setData": chartData
        });
    });
</script>
</body>
</html>
