<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
	<form th:action="@{/timeline/updateTimeline}" th:object="${record}" method="post" enctype="multipart/form-data">
	<input type="hidden" th:field="*{recordNo}" />
	<input type="hidden" th:field="*{recordUserId}" />
	<input type="hidden" th:field="*{latitude}" />
	<input type="hidden" th:field="*{longitude}" />
	<input type="hidden" th:field="*{tempType}" />
	<input type="hidden" th:field="*{recordAddDate}" />
	<input type="hidden" th:field="*{d_DayDate}" />
	<input type="hidden" th:field="*{timecapsuleType}" />
	<table border=1>
		<tr>
			<td><input type="text" th:field="*{recordTitle}" /></td>
			<td>
			<select th:field="*{categoryNo}">
				<option th:value="0" th:text="'없음'"/>
				<option th:each="c : ${category}" th:value="${c.categoryNo}" th:text="${c.categoryName}" th:selected="${record.categoryNo == c.categoryNo}"/>
			</select>
			</td>
			<td><span th:text="*{updateCount}+'번째 수정' "></span><input type="hidden" th:field="*{updateCount}" /></td>
			<td><span th:text="*{sharedDate!=null ? '공유됨' : '비공유'}"></span><input type="hidden" th:name="sharedDateType" th:value="*{sharedDate}" /></td>
		</tr>
		<tr>
			<td><input type="text" th:field="*{checkpointDate}" readonly="readonly"/></td>
		</tr>
		<tr>
			<td><input type="text" th:field="*{checkpointAddress}" /></td>
		</tr>
		<tr>
			<td>
			<video width="320" height="240" controls>
        		<source th:src="${record.mediaName}" type="video/mp4">
    		</video>
				<button type="button" th:text="x"></button>
				<span th:text="${record.mediaName}"></span>
			</td>
		</tr>
		<tr>
			<td>
				<input type="file" th:name="mediaFile" />
			</td>
		</tr>
		<tr th:each="image : *{imageName}">
			<td>
				<img th:src="${image.imageTagText}" />
				<span th:text="${image.imageTagText}"></span>
				<input type="hidden" name="imageNameText" th:value="${image.imageTagText}" />
				<button type="button" th:text="x"></button>
			</td>
		<tr>
			<td><input type="file" multiple name="imageFile"><br /></td>
		</tr>
		<tr>
			<td><input th:name="hashtagText" th:value="${hashtagText}" />
			</td>
		</tr>
		<tr>
			<td><input type="text" th:field="*{recordText}" /></td>
		</tr>
	</table>
	<ul>
	<li><a th:href="@{/timeline/updateTimeline(recordNo=1)}" th:text="'다시작성'"></a></li>
	<li><a th:href="@{/timeline/addVoiceToText}" th:text="'녹음하기'"></a></li>
	<li><button type="submit" th:text="'작성완료'"></button></li>
	</ul>
	</form>
	
	<script type="text/javascript">
	
	/* $("#manuDate").datepicker({
		dateFormat :"yyyy-mm-dd"
	}); */
	</script>
</body>
</html>