<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Mapmory 기록 수정</title>
	<th:block th:replace="common/faviconLink :: link"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/5/cosmo/bootstrap.css">
<link rel="stylesheet" href="/css/common/footer.css">
<link rel="stylesheet" href="/css/timeline/timeline.css">
<style type="text/css">
#map {
    position: fixed; /* 상단에 고정 */
    top: 0lvh; /* 화면의 맨 위에 배치 */
    left: 0;
    width: 100%;
    height: 30dvh; /* 높이를 화면의 100%로 설정 */
    z-index: 1; /* 다른 요소보다 뒤에 배치 */
    overflow-y: hidden; /* 세로 스크롤 추가 */
    transition: top 0.3s ease-in-out;
}

form {
    position: fixed; /* fixed 위치로 변경 */
    bottom: 0lvh; /* 하단에 고정 */
    left: 0;
    width: 100%;
    height: 70dvh; /* 높이를 화면의 60%로 설정 */
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 2; /* #map 요소보다 앞에 배치 */
    background-color: #E3F0FF;
    overflow-y: auto; /* 세로 스크롤 추가 */
    overflow-x: hidden;
    transition: height 0.3s ease-in-out; /* 애니메이션 */
}
fieldset{
	margin : 5px;
}
</style>
</head>
<body>
<div th:name="getKakaoMap" th:include="timeline/component/map::kakaoMap"></div>
<!-- 로딩 스피너 -->
<div id="loading-spinner" class="text-center">
    <!-- 부트스트랩 5.3의 spinner-border 클래스를 사용한 로딩 스피너 -->
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div>Loading...</div> <!-- 스피너 아래에 텍스트 추가 -->
</div>

<!-- 여기에 데이터를 표시할 실제 컨텐츠 -->
<div id="content">
	<form th:action="@{/timeline/updateTimeline}" th:object="${record}" method="post" enctype="multipart/form-data">
	<input type="hidden" th:field="*{recordNo}" />
	<input type="hidden" th:field="*{recordUserId}" />
	<input type="hidden" th:field="*{latitude}" />
	<input type="hidden" th:field="*{longitude}" />
	<input type="hidden" th:field="*{tempType}" />
	<input type="hidden" th:field="*{sharedDate}" />
	<input type="hidden" th:field="*{recordAddDate}" />
	<input type="hidden" th:field="*{d_DayDate}" />
	<input type="hidden" th:field="*{timecapsuleType}" />
	<input type="hidden" th:field="*{updateCount}" />
	<input type="hidden" th:field="*{mediaName}" />
	<fieldset>
	    <div class="row">
	    	<div class="form-check form-switch d-flex justify-content-end">
	    		<div>
					<span class="badge bg-primary" th:text="${updateCountText}"></span>
				</div> 
				<div class="form-check form-switch" style="margin-left: 8px;">
	        		<input class="form-check-input" type="checkbox" id="sharedDateType" th:name="sharedDateType" th:value="1" th:checked="*{sharedDate!=null ? 'true' : 'false'}">
	        		<label class="badge bg-primary" for="sharedDateType" th:text="*{sharedDate!=null ? '공유됨' : '비공유'}"></label>
	      		</div>
			</div>
	    </div>
			
	    <div class="row">
	    	<label for="recordTitle" class="form-label mt-4" th:text="'제목'"></label>
	    	<input type="text" class="form-control"
		       th:id="recordTitle"
		       th:name="'recordTitle'"
		       th:value="${record.updateCount != -1 ? record.recordTitle : ''}"
		       th:placeholder="${record.updateCount == -1 ? record.recordTitle : '제목을 입력하세요. 입력 안하면 기본 값이 설정됩니다.'}">	
			<small id="recordTitleHelp" class="form-text text-muted" th:text="'기본 값 : 주소_YYYY-MM-DD hh:mm:ss'"></small>
			<div id="recordTitleHelp3"></div>
	    </div>
			
	    <div class="row">
			<label for="categoryNo" class="form-label mt-4" th:text="'카테고리'"></label>
	    	<select class="form-select" th:field="*{categoryNo}">
				<option th:value="0" th:text="'없음'"/>
				<option th:each="c : ${category}" th:value="${c.categoryNo}" th:text="${c.categoryName}" th:selected="${record.categoryNo == c.categoryNo}"/>
			</select>
			<small id="categoryHelp" class="form-text text-muted" th:text="'카테고리 미설정 시, \'없음\' 로 분류됩니다.'"></small>
	    </div>
	    
	    <div class="row">
	      <label for="checkpointDate" class="form-label mt-4" th:text="'체크포인트 일시'"></label>
	      <input type="text" class="form-control" th:field="*{checkpointDate}" readonly="readonly" autocomplete="off">
	    </div>
	    
	    <div class="row">
	      <label for="checkpointAddress" class="form-label mt-4" th:text="'체크포인트 주소'"></label>
	      <input type="text" class="form-control" th:field="*{checkpointAddress}" readonly="readonly" autocomplete="off">
	    </div>
	    
	    <div id=mediaAppend></div>
	    <div class="mb-2" th:name="mediaName" th:if="${!(record.mediaName==null || record.mediaName.equals(''))}">
			<video width="320" height="240" controls>
	        	<source th:src="'data:video/mp4;base64,' + ${record.mediaByte}" type="video/mp4">
	    	</video>
	    	<button class="btn btn-primary btn-sm" type="button" th:name="mediaX" 
	    	th:data-medianame="${record.mediaName}" th:text="x"></button><br/>
		<small id="mediaNameHelp" class="form-text text-muted" th:text="'영상 파일은 1개만 업로드 가능합니다. 수정 시 삭제해주세요.'"></small>
	    </div>
	    <div class="row" th:if="${record.mediaName==null || record.mediaName.equals('')}"><!--  id="uploadMediaDiv" style="display: none;" -->
	      <label for="mediaFile" class="form-label mt-4" th:text="'영상 파일'"></label>
	      <input type="file" class="form-control" id="mediaFile" th:name="mediaFile" autocomplete="off">
		<small id="mediaFileHelp" class="form-text text-muted" th:text="'지원가능한 파일 형식 : [.mp4 .avi .mkv .mov], 영상 파일은 200MB까지 업로드 가능합니다.'"></small>
	    </div>
    
	    <div class="container">
	        <div class="row">
	            <div class="col-4" th:each="i : ${#numbers.sequence(0, 2)}">
				   <div th:each="image, iterStat : *{imageName}">
				       <div th:if="${iterStat.index % 3==i}" th:name="${image.imageTagOrder}">
			               <div class="image-container">
			                   <img th:src="'data:image/png;base64,' + ${image.imageTagByte}" class="img-fluid mt-2" alt="Image" />
			                   <button class="btn btn-primary btn-sm btn-position" type="button" th:name="imageX" 
			                   th:data-imagetagorder="${image.imageTagOrder}" th:data-imagename="${image.imageTagText}" th:text="x"></button>
			               </div>
			               <input type="hidden" name="imageNameText" th:value="${image.imageTagText}" />
				       </div>
				   </div>
	            </div>
	        </div>
	    </div>
	    <div class="row">
			<label for="imageFile" class="form-label mt-4" th:text="'사진 파일'"></label>
			<input type="file" multiple class="form-control" id="imageFile" th:name="imageFile" autocomplete="off">
			<small id="imageFileHelp" class="form-text text-muted" th:text="'지원가능한 파일 형식 : [.jpg, .jpeg, .png, .gif, .bmp], 사진 파일 당 10MB 이하, 최대 9장까지 업로드 됩니다.'"></small>
	    </div>
	    
	    <div class="row">
			<label for="hashtagText" class="form-label mt-4" th:text="'해시태그'"></label>
			<input type="text" class="form-control" th:id="hashtagText" th:name="hashtagText" th:value="${hashtagText}" 
			placeholder="#해시태그 형식으로 작성해주세요, 해시태그 당 20자까지 입력되며, 최대 20개의 해시태그 입력이 가능합니다." autocomplete="off">
			<small id="hashtagTextHelp" class="form-text text-muted" 
			th:text="'#해시태그 형식으로 작성해주세요, 해시태그 당 20자까지 입력되며, 최대 20개의 해시태그 입력이 가능합니다.'"></small>
			<div id="hashtagTextHelp3"></div>
	    </div>
	    
	    <div class="row mb-3">
	     	<label for="recordText" class="form-label mt-4" th:text="'텍스트'"></label>
	     	<textarea class="form-control" th:field="*{recordText}" rows="3" autocomplete="off"></textarea>
			<small id="recordTextHelp" class="form-text text-muted" th:text="'상품 이모지 사용 예시 : /안녕/'"></small>
			<small id="recordTextHelp2" class="form-text text-muted" th:text="'1천 자 이하 작성 가능합니다.'"></small>
			<div id="recordTextHelp3"></div>
			<!-- <div id="recordTextHelp3" class="d-none">
				<small class="form-text text-muted" 
				th:text="'비속어가 포함되어 있습니다. 비속어 및 욕설이 존재할 시, 기록을 공유할 수 없습니다.'"></small>
	    	</div> -->
	    </div>
    
	</fieldset>
	<div th:id="buttonGroup" class="container text-left">
		<div class="row">
		    <div class="col-12 d-flex mb-3">
				<button type="button" class="btn btn-primary flex-grow-1 me-2" th:name="updateTimeline" th:text="'다시작성'"></button>
				<!-- <button type="button" class="btn btn-primary" th:name="addVoiceToText" th:text="'녹음하기'"></button> -->
				<button type="submit" class="btn btn-primary flex-grow-1" th:text="'작성완료'"></button>
			</div>
		</div>
	</div>
	<div id="loadingContainer" class="loading-container">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>요청을 처리중 입니다.</p>
    </div>
	
	</form>
	
	<div class="zoomed-image">
	    <img id="zoomed-image" src="" alt="Zoomed Image" />
	</div>
	
	<div th:include="timeline/component/modal::defaultModal"></div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js" integrity="sha256-J8ay84czFazJ9wcTuSDLpPmwpMXOm573OUtZHPQqpEU=" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/javascript/timeline/timeline.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    // 여기서 렌더링이 완료되었을 때 실행할 작업을 정의합니다.
    console.log('DOM fully loaded and parsed');
    // 화면을 보여주는 코드를 추가할 수 있습니다.
    document.getElementById('loading-spinner').style.display = 'none'; // 예시: 로딩 스피너 숨기기
    document.getElementById('content').style.display = 'block'; // 예시: 컨텐츠 보이기
});

document.addEventListener('DOMContentLoaded', function() {
    const checkbox = document.getElementById('sharedDateType');
    // 페이지가 로드될 때 초기 상태에 따라 라벨을 설정합니다.
    updateLabel();

    // 체크박스의 상태가 변경될 때마다 라벨을 업데이트합니다.
    checkbox.addEventListener('change', updateLabel);
});

document.getElementById('recordTitle').addEventListener('input', function () {
    var inputField = this;
    let textInt=50;
    if (inputField.value.length > textInt) {
        inputField.value = inputField.value.substring(0, textInt);
    	showModal('제목 오류', "기록 제목은 "+textInt+"자를 넘길 수 없습니다.");
        //alert("기록 제목은 "+textInt+"자를 넘길 수 없습니다.");
    }
});

document.getElementById('recordText').addEventListener('input', function () {
    var inputField = this;
    let textInt=1000;
    if (inputField.value.length > textInt) {
        inputField.value = inputField.value.substring(0, textInt);
    	showModal('내용 오류', "기록 내용은 "+textInt+"자를 넘길 수 없습니다.");
        //alert("기록 제목은 "+textInt+"자를 넘길 수 없습니다.");
    }
});

//입력된 해시태그를 처리하는 함수
function processHashtags() {
    // 입력된 해시태그 텍스트 가져오기
    var hashtagText = document.getElementById('hashtagText').value.trim();

    // 첫 번째 문자가 #이 아닌 경우 처리
    if (!hashtagText.startsWith('#')) {
    	showModal('해시태그 오류', "해시태그는 '#'로 시작해야 합니다.");
        //alert("해시태그는 '#'로 시작해야 합니다.");
        $('#hashtagText').val('#'+$('#hashtagText').val());
        return false;
    }

    // 해시태그를 # 기준으로 분리하여 배열로 만듭니다
    var hashtags = hashtagText.split('#').filter(Boolean); // Boolean을 사용하여 빈 문자열을 제거합니다

    // 최대 입력 가능한 해시태그 개수는 20개입니다
    if (hashtags.length > 20) {
    	showModal('해시태그 오류', "최대 20개의 해시태그까지 입력할 수 있습니다.");
        //alert("최대 20개의 해시태그까지 입력할 수 있습니다.");
        return false;
    }

    // 각 해시태그의 길이가 20자 이하인지 검사합니다
    for (var i = 0; i < hashtags.length; i++) {
        var hashtag = hashtags[i];
        if (hashtag.length > 20) {
        	showModal('해시태그 오류', "각 해시태그는 최대 20자까지 입력할 수 있습니다.");
            //alert("각 해시태그는 최대 20자까지 입력할 수 있습니다.");
            return false;
        }
    }

    // 해시태그를 배열 형태로 처리하거나 필요한 로직을 추가할 수 있습니다
    //console.log("처리된 해시태그 배열:", hashtags);

    // 여기서 추가적으로 필요한 로직을 수행하거나 서버에 전송할 수 있습니다

    return true; // 유효성 검사를 모두 통과했을 경우 true 반환
}

document.addEventListener("DOMContentLoaded", function() {
    document.body.addEventListener('change', function(event) {
        if (event.target && event.target.matches('#mediaFile')) {
            const file = event.target.files[0];
            const maxSize = 200 * 1024 * 1024; // 200MB in bytes
            
            if (file) {
                const allowedExtensions = ['mp4', 'avi', 'mkv', 'mov']; // 허용할 확장자 목록
                const fileName = file.name;
                const fileExtension = fileName.split('.').pop().toLowerCase();
                
                if (!allowedExtensions.includes(fileExtension)) {
                	showModal('영상 파일 오류', '허용되지 않는 파일 형식입니다. 다른 파일을 선택해주세요.');
                    //alert('허용되지 않는 파일 형식입니다. 다른 파일을 선택해주세요.');
                    event.target.value = ''; // Clear the file input
                }
            }
            
            if (file && file.size > maxSize) {
            	showModal('영상 파일 오류','파일 크기가 200MB를 초과합니다. 다른 파일을 선택해주세요.');
                //alert('파일 크기가 200MB를 초과합니다. 다른 파일을 선택해주세요.');
                event.target.value = ''; // Clear the file input
            }
        }
    });
});

function validateFileCount() {
    // 현재 페이지의 이미지 갯수를 가져옵니다.
    const existingImages = document.querySelectorAll('input[name="imageNameText"]').length;
    
    // 선택된 파일 갯수를 가져옵니다.
    const fileInput = document.getElementById('imageFile');
    const selectedFiles = fileInput.files.length;

    // 총 파일 갯수를 계산합니다.
    const totalFiles = existingImages + selectedFiles;

    // 총 파일 갯수가 9개를 넘는지 확인합니다.
    if (totalFiles > 9) {
    	showModal('사진 파일 오류',"이미지 파일의 최대 9장까지 업로드 가능합니다. 현재 업로드 장 수 "+totalFiles+" 장");
        //alert("이미지 파일의 최대 9장까지 업로드 가능합니다. 현재 업로드 장 수 "+totalFiles+" 장");
        fileInput.value = '';
        return false;
    }
    return true;
}

document.addEventListener('DOMContentLoaded', function() {
    const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif', 'bmp']; // 허용할 이미지 확장자 목록
    
    const fileInput = document.getElementById('imageFile');
    fileInput.addEventListener('change', validateFileCount);

    document.body.addEventListener('change', function(event) {
        if (event.target && event.target.matches('#imageFile')) {
            const files = event.target.files;
            const maxSize = 10 * 1024 * 1024;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const fileExtension = file.name.split('.').pop().toLowerCase();

                if (!allowedExtensions.includes(fileExtension)) {
                	showModal('사진 파일 오류',"허용되지 않는 파일 형식입니다. 다른 파일을 선택해주세요.");
                    //alert('허용되지 않는 파일 형식입니다. 다른 파일을 선택해주세요.');
                    event.target.value = ''; // Clear the file input
                    break;
                }
                if (file && file.size > maxSize) {
                	showModal('사진 파일 오류','한 개 이상의 파일 크기가 10MB를 초과합니다. 다른 파일을 선택해주세요.');
                    //alert('파일 크기가 200MB를 초과합니다. 다른 파일을 선택해주세요.');
                    event.target.value = ''; // Clear the file input
                    break;
                }
            }
        }
    })
});

function badWord(text, idName){
        //console.log('Space bar was pressed and released');
        $.ajax("/timeline/rest/checkBadWord",{
			method : "GET",
			dataType : "json",
			data : {
				text : text
			},
			success : function(response,status){
				let text=
					'<small class="form-text text-danger">' 
				+'비속어가 포함되어 있습니다. 비속어 및 욕설이 존재할 시, 기록을 공유할 수 없습니다.</small>';
				if (response.badWord) {
				    //document.getElementById(idName).classList.replace('d-none', 'd-block');
				    document.getElementById(idName).innerHTML = text;
				} else {
				    document.getElementById(idName).innerHTML = null;
				    //document.getElementById(idName).classList.replace('d-block', 'd-none');
				}

			},
            error: function(xhr, status, error) {
                alert('Error: ' + error);
            }
		})
}

document.addEventListener('DOMContentLoaded', function() {
	let text1 = $('textarea[name="recordText"]').val();
    let idName1 = 'recordTextHelp3';
    badWord(text1, idName1);

    text2 = $('input[name="recordTitle"]').val();
    idName2 = 'recordTitleHelp3';
    badWord(text2, idName2);

    text3 = $('input[name="hashtagText"]').val();
    idName3 = 'hashtagTextHelp3';
    badWord(text3, idName3);
});



$(function() {
	
	let recordNo=$('input[name="recordNo"]').val();
	let recordUserId=$('input[name="recordUserId"]').val();
	
	/* $("div[name='getKakaoMap']").click(function() {
		uri="?recordNo="+recordNo;
		self.location.replace("/timeline/getDetailTimeline"+uri);
	}) */
	
	$("button[name='updateTimeline']").click(function() {
		handleButtonClick();
		let param="?recordNo="+recordNo;
		self.location="/timeline/updateTimeline"+param;
	})
	
	/* $("button[name='addVoiceToText']").click(function() {
		window.open("/timeline/addVoiceToText",'_blank',
				'width=400,height=300,left=400,top=300,scrollbars=no,location=no,toolbar=no,menubar=no,resizable=no');
	}) */
	
	$("button:contains('작성완료')").click(function() {
        event.preventDefault();
		handleButtonClick();
        $('form').submit();
	})
	
	$("button[name='mediaX']").click(function() {
		let mediaName=$(this).data('medianame');
		$.ajax("/timeline/rest/deleteMedia",{
			method : "GET",
			dataType : "json",
			data : {
				recordNo : recordNo,
				mediaName : mediaName
			},
			success : function(response,status){
            	showModal('영상 업로드',response.text);
				//alert(response.text);
				console.log(JSON.stringify(response));
				$('div[name="mediaName"]').remove();
				$('input[name="mediaName"]').val(null);
				
				let text=
					'<div class="row">'
					+'<label for="mediaFile" class="form-label mt-4">영상 파일</label>'
			      	+'<input type="file" class="form-control" id="mediaFile" name="mediaFile" autocomplete="off">'
					+'<small id="mediaFileHelp" class="form-text text-muted">'
					+'지원가능한 파일 형식 : [.mp4 .avi .mkv], 영상 파일은 200MB까지 업로드 가능합니다.</small>'
			    	+'</div>';
			    document.getElementById('mediaAppend').innerHTML += text;
			},
               error: function(xhr, status, error) {
                   alert('Error: ' + error);
            }
		})
	})
		
	$('div.image-container').on('click',function(){
		zoomImage(this);
	})
	
	$('div.zoomed-image').on('click',function(){
		closeZoomedImage();
	})
	
	$("button[name='imageX']").click(function() {
        event.stopPropagation(); // 이벤트 버블링을 막음
        
		let imageNo=$(this).data('imagetagorder');
		let imageName=$(this).data('imagename');
		//console.log(imageNo);
		$.ajax("/timeline/rest/deleteImage",{
			method : "GET",
			dataType : "json",
			data : {
				imageNo : imageNo,
				imageName : imageName
			},
			success : function(response,status){
            	showModal('사진 업로드',response.text);
				//alert(response.text);
				console.log(JSON.stringify(response));
				$('div[name="'+imageNo+'"]').remove();
			},
            error: function(xhr, status, error) {
                alert('Error: ' + error);
            }
			
		})
	})
	
	$('textarea[name="recordText"]').on('keyup',function(event){
		let text=$('textarea[name="recordText"]').val();
		let idName='recordTextHelp3';
		
		autoResize(this);
		
		if (event.keyCode === 32 || event.keyCode === 8) {
			badWord(text,idName);
		}
	})
	
	$('input[name="recordTitle"]').on('keyup',function(event){
		let text=$('input[name="recordTitle"]').val();
		let idName='recordTitleHelp3';
		if (event.keyCode === 32 || event.keyCode === 8) {
			badWord(text,idName);
		}
	})
	
	$('input[name="hashtagText"]').on('keyup',function(event){
		
		if (event.keyCode !== 32 || event.keyCode !== 8) {
   			if(processHashtags()){
    			$('#hashtagTextHelp').text('#해시태그 형식으로 작성해주세요, 해시태그 당 20자까지 입력되며, 최대 20개의 해시태그 입력이 가능합니다.');
    		}else{
    			$('#hashtagTextHelp').text('해시태그 형식이 맞지 않습니다. 예시 : #해시태그 #추가 #지도');
    		}
		}
		
		let text=$('input[name="hashtagText"]').val();
		let idName='hashtagTextHelp3';
		if (event.keyCode === 32 || event.keyCode === 8) {
			badWord(text,idName);
		}
	})
	
})
</script>
</body>
</html>