
<script>

	let bookmarkListSetup = true;
	let bookMarkListCurrentPage = 1; 
	let bookMarkListEndOfData = false;

	$(function() {
		
		$('#bookMarkListBtn').on('click', function() {
			
			if(bookmarkListSetup)
				loadMoreBookMarkList();
		});
		
		$(window).scroll(function() {
			
			let scrollTop = $(window).scrollTop();
			let windowHeight =  $(window).height();
			let documentHeight = $(document).height();
			
			// console.log("I'm in reply list", pageType.text());

			// 끝이 나지 않았을 경우에만 다음 page 호출
			// console.log('is bookmark list scroll ended? ' + !(!bookMarkListEndOfData && !isLoading && (pageType.text() == "bookMarkList")));
            if (!bookMarkListEndOfData && !isLoading && (pageType.text() == "bookMarkList")) {
            	console.log("is bookmark scroll ended? " + (scrollTop + windowHeight >= documentHeight - 100));
                if ( scrollTop + windowHeight >= documentHeight - 100) {
        
                	isLoading = true; // 로딩 시작
                	loadMoreBookMarkList().then((value) => {
                		
                		console.log(value);
                		isLoading = false; // 로딩 완료 후 플래그 재설정
                		
                	}).catch(() => {
                        isLoading = false; // 에러 발생 시 플래그 재설정
                    });
                }
            }
        });
	});
	

	function checkIfNeedToLoadMoreBookmark() {
		
        let scrollTop = $(window).scrollTop();
        let windowHeight = $(window).height();
        let documentHeight = $(document).height();

        // console.log("is setup finished? :"+(documentHeight <= windowHeight));
        console.log("documentHeight : "+documentHeight);
        console.log("windowHeight : "+windowHeight);
        console.log("is setup? " + !(documentHeight <= windowHeight));
        if (documentHeight <= windowHeight + 200) {
        	
        	// console.log('setup start');
        	loadMoreBookMarkList().then((value)=> {
        		
        		console.log(value);
        		isLoading = false; // 로딩 완료 후 플래그 재설정    	
        	});
        } else {

        	console.log("setup finished.");
        	// setupType = false;
        	// loadType = false; // 로딩 완료 후 플래그 재설정
        	bookmarkListSetup = false;
        	isLoading = false;
        }
    }
	
	function loadMoreBookMarkList() {
		
		console.log("currentPage = " + bookMarkListCurrentPage);
    	
    	isLoading = true; // 로딩 시작
		
    	if(bookMarkListEndOfData == true) {

  		  console.log('no more');
  		  return;
  		  
  	  	} 
    	
		return new Promise((resolve, reject) => {
			
			$.ajax({

				url: `/timeline/rest/getProfileTimelineList?userId=${profileUserId}&currentPage=${bookMarkListCurrentPage}&logsType=1`,
			      method: "GET",
			      success: function(response) {
				    	  
			    	  if(response.timelineList.length == 0) {
			    		  
			    		  bookMarkListEndOfData = true;
			    		  resolve("I think it's end");
			    		  // return;
			    		  // resolve("contents ended");
			    	  }
			    		
			      	  bookMarkListCurrentPage++;
			    	  
			    	  response.timelineList.forEach((timeline) => {

			    		  let thumbnailName = null;
			    		  // console.log(timeline);
			    		  if(timeline.imageName.length > 0)
			    		  	// thumbnailName = timeline.imageTagList[0].imageTagText;
			    			thumbnailName = timeline.imageName[0].imageTagText;
			    		  const title = timeline.recordTitle;
			    		  const categoryName = timeline.categoryName;
			    		  const categoryEmoji = timeline.categoryImoji;
			    		  const regDate = timeline.recordAddDate;
			    		  const recordNo = timeline.recordNo;

			    		  
			    		  let temp = '';
			    		  temp += '<div id="'+recordNo+'" class="record">';
				    		  if(thumbnailName != null)
				    		  	temp += '<img class="img-thumbnail" src="/user/rest/thumbnail/'+thumbnailName+'">';
				    		  temp += '<p class="fw-bold">'+title+'</p>';
				    		  temp += '<div class="category">'
					    		  temp += '<img class="emoji" src="/user/rest/emoji/'+categoryEmoji+'">';
					    		  temp += '<p>'+categoryName+'</p>';
				    		  temp += '</div>'
				    		  temp += '<p class="text-body-tertiary">'+regDate+'</p>';
				    		  temp += '</div>';
			    		  temp += '<hr/>';
			    		  $('#bookMarkList').append(temp);
			    		  
			    		  if(bookmarkListSetup)
		   		    		  	checkIfNeedToLoadMoreBookmark();
			    		  
			    		  resolve();
			    	  });
			    	  
			      },
			      error: function(xhr, status, error) {
			        console.error("네트워크 오류:", error);
			        alert("네트워크 오류");
			        reject();
			      }
				
			});
			
			
			})
		};

</script>