<script>
	
	let reactRecordListSetup = true;
	let reactRecordListCurrentPage = 1; 
	let reactRecordListEndOfData = false;
	
	$(function() {
		
		$('#reactListBtn').on('click', function() {
			
			if(reactRecordListSetup) {
				
				console.log('init');
				loadMoreReactRecordList();	
			}
		});
		
		
		$(window).scroll(function() {
			
			let scrollTop = $(window).scrollTop();
			let windowHeight =  $(window).height();
			let documentHeight = $(document).height();
			
			// console.log("I'm in reply list", pageType.text());

			// 끝이 나지 않았을 경우에만 다음 page 호출
			// console.log("is react recordlist scroll ended? " + !(!reactRecordListEndOfData && !isLoading && (pageType.text() == "reactRecordList")));
            if (!reactRecordListEndOfData && !isLoading && (pageType.text() == "reactRecordList")) {
            	console.log("is react record scroll ended? " + (scrollTop + windowHeight >= documentHeight - 100));
                if ( scrollTop + windowHeight >= documentHeight - 100) {
                	
                	isLoading = true; // 로딩 시작
                	// reactRecordListCurrentPage++;
                	loadMoreReactRecordList().then((value) => {
                		
                		console.log(value);
                		isLoading = false; // 로딩 완료 후 플래그 재설정
                		
                	}).catch(() => {
                        isLoading = false; // 에러 발생 시 플래그 재설정
                    });
                }
            }
        });
		
	});
	
	function checkIfNeedToLoadMoreReactRecord() {
		
        let scrollTop = $(window).scrollTop();
        let windowHeight = $(window).height();
        let documentHeight = $(document).height();

        // console.log("is setup finished? :"+(documentHeight <= windowHeight));
        console.log("documentHeight : "+documentHeight);
        console.log("windowHeight : "+windowHeight);
        console.log("is setup? " + !(documentHeight <= windowHeight));
        if (documentHeight <= windowHeight + 200) {
        	
        	// console.log('setup start');
        	loadMoreReactRecordList().then((value)=> {
        		
        		console.log(value);
        		isLoading = false; // 로딩 완료 후 플래그 재설정    	
        	});
        } else {

        	console.log("setup finished.");
        	// setupType = false;
        	// loadType = false; // 로딩 완료 후 플래그 재설정
        	reactRecordListSetup = false;
        	isLoading = false;
        }
    }
	
	function loadMoreReactRecordList() {
		
		isLoading = true; // 로딩 시작
		console.log("loading...");
		console.log('current page : ' + reactRecordListCurrentPage);
		
		if(reactRecordListEndOfData == true) {

  		  console.log('no more');
  		  return;
  		  
  	  	} 
		
		return new Promise((resolve, reject) => {
			
			$.ajax({
				
				url: `/timeline/rest/getProfileTimelineList?userId=${profileUserId}&currentPage=${reactRecordListCurrentPage}&logsType=2`,
			      method: "GET",
			      // contentType:"application/json",
			      // dataType: "application/json",
			      success: function(response) {
			    	  
			    	  console.log("is empty? : " +(response.timelineList.length == 0));
			    	  
			    	  if(response.timelineList.length == 0) {
				    		 
			    		  reactRecordListEndOfData = true;
				    		 resolve("I think it's end");
	   		      		  	 // return;
				    		 // resolve("contents ended");
				    	 }
			    	  
			    	  reactRecordListCurrentPage++;
				    	  
			    	  response.timelineList.forEach((timeline) => {
			    		  
			    		  // console.log(timeline);
			    		  let thumbnailName = null;
			    		  /*
			    		  if(timeline.imageTagList.length > 0)
			    		  	thumbnailName = timeline.imageTagList[0].imageTagText;
			    		  */
						if(timeline.imageName.length > 0) {
    		    			  
    		    			  thumbnailName = timeline.imageName[0].imageTagText;
    		    		  }
			    		  const title = timeline.recordTitle;
			    		  const categoryName = timeline.categoryName;
			    		  const categoryEmoji = timeline.categoryImoji;
			    		  const regDate = timeline.recordAddDate;
			    		  const recordNo = timeline.recordNo;
			    		  
			    		  
			    		  let temp = '';
			    		  temp += '<div id="'+recordNo+'" class="record">';
				    		  if(thumbnailName != null)
				    		  	temp += '<img class="img-thumbnail" src="/user/rest/thumbnail/'+thumbnailName+'">';
				    		  temp += '<p class="fw-bold">'+title+'</p>';
			    		  if(categoryEmoji != undefined) {
	    			    		temp += '<div class="category d-flex">'
	  				    		  temp += '<img class="emoji" src="/user/rest/emoji/'+categoryEmoji+'">';
	  				    		  temp += '<p>'+categoryName+'</p>';
	  			    		  temp += '</div>'
	    			    		
	    			    	}	 
				    		  temp += '<p class="text-body-tertiary">'+regDate+'</p>';
				    		  temp += '</div>';
			    		  temp += '<hr/>';
			    		  $('#reactRecordList').append(temp);

			    	  });
			    	  
		    		  
		    		  if(reactRecordListSetup)
		    			  checkIfNeedToLoadMoreReactRecord();
		    		  
		    		  
		    		  resolve("content loaded");
			      },
			      error: function(xhr, status, error) {
			        console.error("네트워크 오류:", error);
			        alert("네트워크 오류");
			        reject();
			      }
			})
		});
	};

</script>
