
<script>

	let sharedListSetup = true;
	let replyListCurrentPage = 1;
	let replyListEndOfData = false;
	
	
	$(function() {
		
		loadMoreReplyList();

		$(window).scroll(function() {
			
			let scrollTop = $(window).scrollTop();
			let windowHeight =  $(window).height();
			let documentHeight = $(document).height();

			// 끝이 나지 않았을 경우에만 다음 page 호출
            if (!replyListEndOfData && !isLoading && (pageType.text() == "replyList")) {
                if ( scrollTop + windowHeight >= documentHeight - 100) {
                	
                	isLoading = true; // 로딩 시작
                	replyListCurrentPage++;
                	loadMoreReplyList().then(() => {
  
                		isLoading = false; // 로딩 완료 후 플래그 재설정
                		
                	}).catch(() => {
                		
                		console.log("load error");
                        isLoading = false; // 에러 발생 시 플래그 재설정
                    });
                }
            }
        });
	});

	function loadMoreReplyList() {
		
		return new Promise((resolve, reject) => {
			$.ajax({
	
				url: `/community/rest/getReplyList/user/${profileUserId}?currentPage=${replyListCurrentPage}`,
			      method: "GET",
			      contentType:"application/json",
			      success: function(response) {
	
			    	 if(response == true)
	   		    	   sharedListEndOfData = true;
			    	  
			    	 response.list.forEach((reply) => {
			    		
			    		 const title = reply.recordTitle;
			    		 const replyText = reply.replyText;
			    		 const regDate = reply.replyDate;
			    		 const recordNo = reply.recordNo;
			    		 
			    		 let temp = '';
			    		 temp += '<div id="'+recordNo+'" class="reply">';
			    		 temp += '<p class="fw-bold">'+title+'</p>';
			    		 temp += '<p>'+replyText+'</p>';
			    		 temp += '<p class="text-body-tertiary">'+regDate+'</p>';
			    		 temp += '</div>';
			    		 temp += '<hr/>';
			    		 $('#replyList').append(temp);
			    		 
			    		 resolve();
			    	 });
			    	  
			      },
			      error: function(xhr, status, error) {
			        console.error("네트워크 오류:", error);
			        alert("네트워크 오류");
			        reject();
			      }
				
			});
		})
	}

</script>

 