<script>

	let sharedListCurrentPage = 1;

	$(function() {
		
		loadMoreSharedList();
		
		$(document).on('click', '.record', function() {
			
			const recordNo = $(this).attr('id');
			window.location.href=`/timeline/getDetailTimeline?recordNo=${recordNo}`;
		});
		
	});
	
	// 무한 스크롤
	let sharedListEndOfData = false;// 데이터를 모두 로드했는지 확인하는 변수
	let isLoading = false; // 플래그 변수 추가
	/*
	let replyListEndOfData = false;
	let bookMarkListEndOfData = false;
	let reactRecordListEndOfData = false;
	let reactReplyListEndOfData = false;
	*/
	$(function() {

		$(window).scroll(function() {
			
			let scrollTop = $(window).scrollTop();
			let windowHeight =  $(window).height();
			let documentHeight = $(document).height();
			
			/*
			console.log("scrollTop = "+ scrollTop);
			console.log("windowHeight = "+ windowHeight);
			console.log("documentHeight = "+documentHeight);
			*/
			
			console.log("is end? : "+  (scrollTop + windowHeight >= documentHeight - 100) );
			
			// 끝이 나지 않았을 경우에만 다음 page 호출
            if (!sharedListEndOfData && !isLoading) {
                if ( scrollTop + windowHeight >= documentHeight - 100) {
                	
                	isLoading = true; // 로딩 시작
                	sharedListCurrentPage++;
                	loadMoreSharedList().then(() => {
                		
                		console.log("completely load");
                		isLoading = false; // 로딩 완료 후 플래그 재설정
                		
                	}).catch(() => {
                        isLoading = false; // 에러 발생 시 플래그 재설정
                    });
                }
            }
        });
	});
	
	function loadMoreSharedList() {
		
    	console.log("currentPage = " +sharedListCurrentPage);
    	
    	return new Promise((resolve, reject) => {
    		
    		$.ajax({

    			url: `/timeline/rest/getProfileTimelineList?userId=${profileUserId}&currentPage=${sharedListCurrentPage}&logsType=0`,
    		      method: "GET",
    		      // contentType:"application/json",
    		      // dataType: "application/json",
    		      success: function(response) {
    		    	  
    		    	  console.log("==========================================");
    		    	  console.log("==========================================");
    		    	  console.log("response = " + response, response == true);
    		    	  console.log("==========================================");
    		    	  console.log("==========================================");
    		    	  
    		    	  if(response == true)
    		    		  sharedListEndOfData = true;
    			    	  
    		    	  response.timelineList.forEach((timeline) => {
    		    		  
    		    		  // console.log(timeline);
    		    		  let thumbnailName = null;
    		    		  if(timeline.imageTagList.length > 0)
    		    		  	thumbnailName = timeline.imageTagList[0].imageTagText;
    		    		  const title = timeline.recordTitle;
    		    		  const categoryName = timeline.categoryName;
    		    		  const categoryEmoji = timeline.categoryImoji;
    		    		  const regDate = timeline.recordAddDate;
    		    		  const recordNo = timeline.recordNo;
    		    		  
    		    		  let temp = '';
    		    		  temp += '<div id="'+recordNo+'" class="record">';
    			    		  if(thumbnailName != null)
    			    		  	temp += '<img class="img-thumbnail" src="/user/rest/thumbnail/'+thumbnailName+'">';
    			    		  temp += '<p class="fw-bold">'+title+'</p>';
    			    		  temp += '<div class="category">'
    				    		  temp += '<img class="emoji" src="/user/rest/emoji/'+categoryEmoji+'">';
    				    		  temp += '<p>'+categoryName+'</p>';
    			    		  temp += '</div>'
    			    		  temp += '<p class="text-body-tertiary">'+regDate+'</p>';
    			    		  temp += '</div>';
    		    		  temp += '<hr/>';
    		    		  $('#sharedRecordList').append(temp);
    		    		  
    		              resolve(); // 성공적으로 처리되었음을 알림
    		    	  })		    	  
    		      },
    		      error: function(xhr, status, error) {
    		        console.error("네트워크 오류:", error);
    		        alert("네트워크 오류");
    		        reject(); // 에러 발생 시
    		      }
    			
    		});
    		
    	});
    	
		
		
		/*
        $.ajax({
            url: '/rest/notice/getNoticeList',
            method: 'GET',
            data: {
                currentPage: currentPage
            },
            success: function(response) {
                let html = '';
                response.noticeList.forEach(function(notice) {
                    html += '<tr>';
                    html += '<td><a href="/notice/getDetailNotice/' + notice.noticeNo + '">' + notice.noticeTitle + '</a>';
                    html += '<div class="notice-reg-date">' + formatDate(notice.noticeRegDate) + '</div></td>';
                    html += '<td class="text-center">';
                    html += '<i class="bi bi-caret-down-fill" id="caret-' + notice.noticeNo + '"></i>'; // id를 고유하게 변경
                    html += '<input type="hidden" value="' + notice.noticeNo + '">';
                    html += '</td>';
                    html += '</tr>';
                });
                $('.notice-list').append(html);
                loading = false;
                checkIfMoreContentNeeded(response.noticeList.length);
                bindToggleEvent(); // 추가된 목록에 이벤트 바인딩
            },
            error: function() {
                console.log('Error occurred while loading more notices.');
                loading = false;
            }
        });
		*/
    }
	
</script>
