<script>
	let sharedListSetup = true;
	let sharedListCurrentPage = 1;
	let sharedListEndOfData = false;// 데이터를 모두 로드했는지 확인하는 변수
	// let isLoading = false;

	$(function() {
		
		loadMoreSharedList();

		$(window).scroll(function() {
			
			let scrollTop = $(window).scrollTop();
			let windowHeight =  $(window).height();
			let documentHeight = $(document).height();

			// 끝이 나지 않았을 경우에만 다음 page 호출
			// console.log("is sharedlist scroll ended? " + !(!sharedListEndOfData && !isLoading && (pageType.text() == "sharedList")));
            if (!sharedListEndOfData && !isLoading && (pageType.text() == "sharedList")) {
            	console.log("is sharedlist scroll ended? " + (scrollTop + windowHeight >= documentHeight - 100));
                if ( scrollTop + windowHeight >= documentHeight - 100) {
                	
                	isLoading = true; // 로딩 시작
                	loadMoreSharedList().then((value) => {
                		
                		console.log(value);
                		// console.log("load finish");
                		isLoading = false; // 로딩 완료 후 플래그 재설정    		    			
                		
                	}).catch(() => {
                		
                		console.log("load error");
                        isLoading = false; // 에러 발생 시 플래그 재설정
                    });
                }
            }
        });

	});
	
	function checkIfNeedToLoadMoreShared(setupType, setupFunction, loadType) {
		
        let scrollTop = $(window).scrollTop();
        let windowHeight = $(window).height();
        let documentHeight = $(document).height();

        // console.log("is setup finished? :"+(documentHeight <= windowHeight));
        if (documentHeight <= windowHeight + 200) {
        	
        	// console.log('setup start');
        	loadMoreSharedList().then((value)=> {
        		
        		console.log(value);
        		// isLoading = false; // 로딩 완료 후 플래그 재설정    	
        	});
        } else {

        	console.log("setup finished.");
        	// setupType = false;
        	// loadType = false; // 로딩 완료 후 플래그 재설정
        	sharedListSetup = false;
        	isLoading = false;
        	
        }
    }
	
	function loadMoreSharedList() {
		
   	  
        isLoading = true; // 로딩 시작
        // console.log("shared loading end : "+ isLoading);
        
        const loadingView = `<div id="loading" class="loading">
	        <i class="fas fa-spinner fa-spin"></i> 로딩 중...
	    </div>`;
	    $('#sharedRecordList').append(loadingView);
	    
	    
    	console.log("currentPage = " +sharedListCurrentPage);
        // console.log('is sharedList ended? ' +sharedListEndOfData);
    	if(sharedListEndOfData == true) {

  		  console.log('all finished');
  		  $('#sharedRecordList #loading').remove();
  		  return;
  		  
  	  	} 
    	
    	return new Promise((resolve, reject) => {
    		
    		$.ajax({

    			url: `/timeline/rest/getProfileTimelineList?userId=${profileUserId}&currentPage=${sharedListCurrentPage}&logsType=0`,
    		      method: "GET",
    		      // contentType:"application/json",
    		      // dataType: "application/json",
    		      success: function(response) {

    		    	  console.log(response);
    		    	  
    		    	  // console.log(response);
    		    	 // console.log(response.timelineList);
    		    	  // console.log("length ? "+ response.timelineList.length);
    		    	  
    		    	 // console.log(response.timelineList);
    		    	  // console.log(response.timelineList.length);
    		    	  if(response.timelineList.length == 0) {
    		      		  
    		      		  sharedListEndOfData = true;
    		      		  $('#sharedRecordList #loading').remove();
    		      		  resolve("I think it's end");
    		      		  // return;
    		      		  
    		      	  } 

    		    	  sharedListCurrentPage++;
    		    	  
    		    	  const recordImageList = response.recordImageList;
    		    	  const categoryEmojiList = response.categoryEmojiList;
    		    	  
    		    	  response.timelineList.forEach((timeline) => {

    		    		  let thumbnail = null;
    		    		  let categoryEmoji = null;
    		    		  /*
    		    		  if(timeline.imageTagList.length > 0)
    		    		  	thumbnailName = timeline.imageTagList[0].imageTagText;
    		    		  */
    		    		  
    		    		 // console.log("timeline.imageName = " + timeline.imageName);
    		    		 // console.log("timeline.imageName.length = " + timeline.imageName.length);
    		    		  // console.log("is image exist? " + (timeline.imageName == true));
    		    		  /*
    		    		  if(timeline.imageName == true) {
    		    			  
    		    			  thumbnailName = timeline.imageName.imageTagText;
    		    			  // console.log("썸네일 이름 : " + JSON.stringify(thumbnailName) );
    		    			  console.log("imageName = " + timeline.imageName.imageTagText)
    		    		  }
    		    		  */
    		    		  
						  if(timeline.imageName.length > 0) {
    		    			  
    		    			  // thumbnailName = timeline.imageName[0].imageTagText;
    		    			  thumbnail = recordImageList[0];
   		    				  recordImageList.shift();
    		    		  }
    		    		  
    		    		  if(timeline.categoryImoji != undefined) {
    		    			  
    		    			  categoryEmoji = categoryEmojiList[0];
    		    			  categoryEmojiList.shift();
    		    		  }
    		    		  
    		    		  const title = timeline.recordTitle;
    		    		  const categoryName = timeline.categoryName;
    		    		  // const categoryEmoji = timeline.categoryImoji;
    		    		  const regDate = timeline.recordAddDate;
    		    		  const recordNo = timeline.recordNo;
    		    		  
    		    		  let temp = '';
    		    		  temp += '<div id="'+recordNo+'" class="record">';
    			    		  if(thumbnail != null) {
    			    			  
    			    			// temp += '<img class="img-thumbnail" src="/user/rest/thumbnail/'+thumbnail+'">';
    			    			  temp += `<img class="img-thumbnail" src='data:image/jpeg;base64,${thumbnail}'>`;
    			    		  }
    			    		  temp += '<p class="fw-bold">'+title+'</p>';
    			    	if( (categoryEmoji != null)  || (categoryEmoji != undefined) ) {
    			    		temp += '<div class="category d-flex">'
  				    		  // temp += '<img class="emoji" src="/user/rest/emoji/'+categoryEmoji+'">';
  				    		  temp += `<img class="emoji" src="data:image/jpeg;base64,${categoryEmoji}">`;
  				    		  temp += '<p>'+categoryName+'</p>';
  			    		  temp += '</div>'
    			    		
    			    	}	  
    			    		  temp += '<p class="text-body-tertiary">'+regDate+'</p>';
    			    		  temp += '</div>';
    		    		  temp += '<hr/>';
    		    		  
    		    		  $('#sharedRecordList #loading').remove();
    		    		  $('#sharedRecordList').append(temp);

    		    	  });		
    		    	      		    	
    		    	  if(sharedListSetup)
   		    		  	// checkIfNeedToLoadMoreShared(sharedListSetup, loadMoreSharedList, isLoading);
    		    		  checkIfNeedToLoadMoreShared();

    		    	  // console.log("shared loading end : "+ isLoading);
    		    	  
   		              resolve("content loaded"); // 성공적으로 처리되었음을 알림
    		      },
    		      error: function(xhr, status, error) {
    		        console.error("네트워크 오류:", error);
    		        alert("네트워크 오류");
    		        reject(); // 에러 발생 시
    		      }
    			
    		});
    		
    	});
    	
    }
</script>
